<h2>Installation of Packages</h2>

In [177]:
!pip install sqlalchemy
!pip install pyodbc

Requirement already satisfied: sqlalchemy in c:\users\af\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\af\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyodbc in c:\users\af\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: sqlalchemy in c:\users\af\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\af\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyodbc in c:\users\af\anaconda3\lib\site-packages (5.0.1)

In [178]:
!pip install --upgrade pyodbc

Requirement already satisfied: pyodbc in c:\users\af\anaconda3\lib\site-packages (5.0.1)

In [251]:
from sqlalchemy import create_engine, MetaData, Table, inspect
import pandas as pd

pd.set_option('display.max_columns', None) # to show whole with of tables

<h2>Database Connection</h2>

In [226]:
def new_engine(dialect, server, database, user=None, password=None, integrated_security=True):
    if integrated_security:
        # For Windows authentication
        eng = f"{dialect}://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+server"
    else:
        # For SQL Server authentication
        eng = f"{dialect}://{user}:{password}@{server}/{database}?driver=ODBC+Driver+for+SQL+Server"
    print(eng)
    return create_engine(eng)

In [227]:
# For Windows authentication
# Replace the server argument with the Server Name found when logging into SQL Management Studio
# OR
# For SQL Server authentication
# Replace the server, user and password argument with the Server Name, username and password
engine = new_engine('mssql', 'DESKTOP-PJ0B80O', 'AdventureWorks2022', integrated_security=True)

mssql://DESKTOP-PJ0B80O/AdventureWorks2022?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+server

In [228]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [229]:
connection = engine.connect()

In [230]:
print(type(connection))

<class 'sqlalchemy.engine.base.Connection'>

<h2>Preparation of Schemas and Tables</h2>

In [231]:
inspector = inspect(engine)
schemas = inspector.get_schema_names()
print(schemas)

['db_accessadmin', 'db_backupoperator', 'db_datareader', 'db_datawriter', 'db_ddladmin', 'db_denydatareader', 'db_denydatawriter', 'db_owner', 'db_securityadmin', 'dbo', 'guest', 'HumanResources', 'INFORMATION_SCHEMA', 'Person', 'Production', 'Purchasing', 'Sales', 'sys']

<h2>Queries</h2>

In [263]:
all_queries = []
for sch in schemas:
    for table in inspector.get_table_names(schema=sch):
        if sch != 'dbo':
            col_names = ', '.join(col['name'] for col in inspector.get_columns(table_name=table, schema=sch))
            all_queries.append(f"SELECT {col_names} FROM {sch}.{table}")

qindex = 1
for query in all_queries:
    print("QUERY\n------\n", query, "\n", "----------------------------------------------", "\n")
    try:
        df_table = pd.read_sql(sql=query, con=connection)
        print(df_table.head(15))
    except Exception as e:
        print(f"Error executing query: {e}")
    print("\n"*5)
    qindex = qindex + 1

QUERY
------
 SELECT DepartmentID, Name, GroupName, ModifiedDate FROM HumanResources.Department
 ----------------------------------------------

    DepartmentID                        Name  \
0              1                 Engineering
1              2                 Tool Design
2              3                       Sales
3              4                   Marketing
4              5                  Purchasing
5              6    Research and Development
6              7                  Production
7              8          Production Control
8              9             Human Resources
9             10                     Finance
10            11        Information Services
11            12            Document Control
12            13           Quality Assurance
13            14  Facilities and Maintenance
14            15      Shipping and Receiving

                               GroupName ModifiedDate
0               Research and Development   2008-04-30
1               Research and Development   2008-04-30
2                    Sales and Marketing   2008-04-30
3                    Sales and Marketing   2008-04-30
4                   Inventory Management   2008-04-30
5               Research and Development   2008-04-30
6                          Manufacturing   2008-04-30
7                          Manufacturing   2008-04-30
8   Executive General and Administration   2008-04-30
9   Executive General and Administration   2008-04-30
10  Executive General and Administration   2008-04-30
11                     Quality Assurance   2008-04-30
12                     Quality Assurance   2008-04-30
13  Executive General and Administration   2008-04-30
14                  Inventory Management   2008-04-30






QUERY
------
 SELECT BusinessEntityID, NationalIDNumber, LoginID, OrganizationNode, OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, rowguid, ModifiedDate FROM HumanResources.Employee
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('ODBC SQL type -151 is not yet supported.  column-index=3  type=-151', 'HY106')
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT BusinessEntityID, DepartmentID, ShiftID, StartDate, EndDate, ModifiedDate FROM HumanResources.EmployeeDepartmentHistory
 ----------------------------------------------

    BusinessEntityID  DepartmentID  ShiftID   StartDate     EndDate  \
0                  1            16        1  2009-01-14        None
1                  2             1        1  2008-01-31        None
2                  3             1        1  2007-11-11        None
3                  4             1        1  2007-12-05  2010-05-30
4                  4             2        1  2010-05-31        None
5                  5             1        1  2008-01-06        None
6                  6             1        1  2008-01-24        None
7                  7             6        1  2009-02-08        None
8                  8             6        1  2008-12-29        None
9                  9             6        1  2009-01-16        None
10                10             6        1  2009-05-03        None
11                11             2        1  2010-12-05        None
12                12             2        1  2007-12-11        None
13                13             2        1  2010-12-23        None
14                14             1        1  2010-12-30        None

   ModifiedDate
0    2009-01-13
1    2008-01-30
2    2007-11-10
3    2010-05-28
4    2010-05-30
5    2008-01-05
6    2008-01-23
7    2009-02-07
8    2008-12-28
9    2009-01-15
10   2009-05-02
11   2010-12-04
12   2007-12-10
13   2010-12-22
14   2010-12-29






QUERY
------
 SELECT BusinessEntityID, RateChangeDate, Rate, PayFrequency, ModifiedDate FROM HumanResources.EmployeePayHistory
 ----------------------------------------------

    BusinessEntityID RateChangeDate      Rate  PayFrequency ModifiedDate
0                  1     2009-01-14  125.5000             2   2014-06-30
1                  2     2008-01-31   63.4615             2   2014-06-30
2                  3     2007-11-11   43.2692             2   2014-06-30
3                  4     2007-12-05    8.6200             2   2007-11-21
4                  4     2010-05-31   23.7200             2   2010-05-16
5                  4     2011-12-15   29.8462             2   2011-12-01
6                  5     2008-01-06   32.6923             2   2014-06-30
7                  6     2008-01-24   32.6923             2   2014-06-30
8                  7     2009-02-08   50.4808             2   2014-06-30
9                  8     2008-12-29   40.8654             2   2014-06-30
10                 9     2009-01-16   40.8654             2   2014-06-30
11                10     2009-05-03   42.4808             2   2014-06-30
12                11     2010-12-05   28.8462             2   2014-06-30
13                12     2007-12-11   25.0000             2   2014-06-30
14                13     2010-12-23   25.0000             2   2014-06-30






QUERY
------
 SELECT JobCandidateID, BusinessEntityID, Resume, ModifiedDate FROM HumanResources.JobCandidate
 ----------------------------------------------

    JobCandidateID  BusinessEntityID  \
0                1               NaN
1                2               NaN
2                3               NaN
3                4             274.0
4                5               NaN
5                6               NaN
6                7               NaN
7                8             212.0
8                9               NaN
9               10               NaN
10              11               NaN
11              12               NaN
12              13               NaN

                                               Resume            ModifiedDate
0   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
1   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
2   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
3   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2013-12-22 18:32:21.313
4   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
5   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
6   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
7   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2013-12-22 18:32:21.267
8   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
9   <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
10  <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
11  <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000
12  <ns:Resume xmlns:ns="http://schemas.microsoft.... 2007-06-23 00:00:00.000






QUERY
------
 SELECT ShiftID, Name, StartTime, EndTime, ModifiedDate FROM HumanResources.Shift
 ----------------------------------------------

   ShiftID     Name StartTime   EndTime ModifiedDate
0        1      Day  07:00:00  15:00:00   2008-04-30
1        2  Evening  15:00:00  23:00:00   2008-04-30
2        3    Night  23:00:00  07:00:00   2008-04-30






QUERY
------
 SELECT AddressID, AddressLine1, AddressLine2, City, StateProvinceID, PostalCode, SpatialLocation, rowguid, ModifiedDate FROM Person.Address
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('ODBC SQL type -151 is not yet supported.  column-index=6  type=-151', 'HY106')
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT AddressTypeID, Name, rowguid, ModifiedDate FROM Person.AddressType
 ----------------------------------------------

   AddressTypeID         Name                               rowguid  \
0              1      Billing  B84F78B1-4EFE-4A0E-8CB7-70E9F112F886
1              2         Home  41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2
2              3  Main Office  8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575
3              4      Primary  24CB3088-4345-47C4-86C5-17B535133D1E
4              5     Shipping  B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5
5              6      Archive  A67F238A-5BA2-444B-966C-0467ED9C427F

  ModifiedDate
0   2008-04-30
1   2008-04-30
2   2008-04-30
3   2008-04-30
4   2008-04-30
5   2008-04-30






QUERY
------
 SELECT BusinessEntityID, rowguid, ModifiedDate FROM Person.BusinessEntity
 ----------------------------------------------

    BusinessEntityID                               rowguid  \
0                  1  0C7D8F81-D7B1-4CF0-9C0A-4CD8B6B50087
1                  2  6648747F-7843-4002-B317-65389684C398
2                  3  568204DA-93D7-42F4-8A7A-4446A144277D
3                  4  0EFF57B9-4F4F-41A6-8867-658C199A5FC0
4                  5  B82F88D1-FF79-4FD9-8C54-9D24C140F647
5                  6  1B3D077A-1941-4D6E-8328-F7DC03595565
6                  7  C1898370-A36F-43A2-987C-0BF24FE3FB82
7                  8  2B50ABB8-ABAB-412B-A4D0-4FD5EBEB5CBE
8                  9  5C0AB449-A087-4D8D-834F-3726061B6BFA
9                 10  0F3CC1D7-F484-4BDE-B088-B11EF03E2F52
10                11  A417A3D1-00EB-4D7F-B793-F93DC2C5391D
11                12  EBD8A50F-322E-4426-A39A-566FD5535B1C
12                13  1D61C426-FF79-4E23-9EA5-9610CB063F3B
13                14  C596EC29-BA16-441B-A5EC-7FED4C8344C4
14                15  955E421A-0AEB-4D8F-AE74-88EFFB82E41A

              ModifiedDate
0  2017-12-13 13:20:24.150
1  2017-12-13 13:20:24.430
2  2017-12-13 13:20:24.540
3  2017-12-13 13:20:24.570
4  2017-12-13 13:20:24.633
5  2017-12-13 13:20:24.680
6  2017-12-13 13:20:24.727
7  2017-12-13 13:20:24.773
8  2017-12-13 13:20:24.803
9  2017-12-13 13:20:24.850
10 2017-12-13 13:20:24.900
11 2017-12-13 13:20:24.947
12 2017-12-13 13:20:24.993
13 2017-12-13 13:20:25.040
14 2017-12-13 13:20:25.087






QUERY
------
 SELECT BusinessEntityID, AddressID, AddressTypeID, rowguid, ModifiedDate FROM Person.BusinessEntityAddress
 ----------------------------------------------

    BusinessEntityID  AddressID  AddressTypeID  \
0                  1        249              2
1                  2        293              2
2                  3        224              2
3                  4      11387              2
4                  5        190              2
5                  6        286              2
6                  7         49              2
7                  8        230              2
8                  9        187              2
9                 10      11386              2
10                11      32505              2
11                12          1              2
12                13        219              2
13                14        295              2
14                15        287              2

                                 rowguid            ModifiedDate
0   3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF 2014-09-12 11:15:06.967
1   84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1 2014-09-12 11:15:06.967
2   3C915B31-7C05-4A05-9859-0DF663677240 2014-09-12 11:15:06.967
3   3DC70CC4-3AE8-424F-8B1F-481C5478E941 2014-09-12 11:15:06.967
4   C0ED2F68-937B-4594-9459-581AC53C98E3 2014-09-12 11:15:06.967
5   4CA1686A-A7DF-4BD8-9D7D-82A63210208A 2014-09-12 11:15:06.967
6   1528E305-3E34-4DEA-BDD7-C7DDCDD11EF8 2014-09-12 11:15:06.967
7   38F80F8F-5CA7-4D06-AEFA-CD930A0A7B3F 2014-09-12 11:15:06.967
8   51C9D232-DD34-49A5-8442-F269E0B9A6FF 2014-09-12 11:15:06.967
9   13981FC6-9688-49C8-AA1E-80C7F28EA2FF 2014-09-12 11:15:06.967
10  1F216434-3714-4BFB-9B05-4BE77EBCCE3F 2014-09-12 11:15:06.967
11  8AA698FC-090F-42EE-A197-2E7F7394D9F1 2014-09-12 11:15:06.967
12  F7C52CB0-99D3-4632-AD41-00A1D3B13145 2014-09-12 11:15:06.967
13  09AD7450-C146-4B9E-AE2F-AAD99634577E 2014-09-12 11:15:06.967
14  46944C73-22DE-431E-BE1F-726F85563235 2014-09-12 11:15:06.967






QUERY
------
 SELECT BusinessEntityID, PersonID, ContactTypeID, rowguid, ModifiedDate FROM Person.BusinessEntityContact
 ----------------------------------------------

    BusinessEntityID  PersonID  ContactTypeID  \
0                292       291             11
1                294       293             11
2                296       295             11
3                298       297             11
4                300       299             11
5                302       301             11
6                304       303             11
7                306       305             11
8                308       307             14
9                310       309             14
10               312       311             14
11               314       313             14
12               316       315             11
13               318       317             11
14               320       319             11

                                 rowguid            ModifiedDate
0   7D4D2DBC-4A44-48F5-911D-A63ABAFD5120 2017-12-13 13:21:02.243
1   3EA25B65-9579-4260-977D-D6F00D7D20EE 2017-12-13 13:21:02.320
2   DADAC1FF-3351-4827-9AE0-95004885C193 2017-12-13 13:21:02.383
3   B924F26F-6446-45D1-A92B-6F418374F075 2017-12-13 13:21:02.447
4   5BA4E7BE-8D29-46A2-B68D-67B1615B124A 2017-12-13 13:21:02.510
5   6CC8F248-8D96-4AFD-ADCC-61D93E8DE3B1 2017-12-13 13:21:02.570
6   33B4DA81-4448-481F-BF7C-357EA4D23F21 2017-12-13 13:21:02.633
7   70D35526-7C2F-470F-98CB-F9299A754F16 2017-12-13 13:21:02.697
8   DA33B75D-32FB-432D-A275-9E9D32E78F3E 2017-12-13 13:21:02.760
9   C2DEE145-A902-477E-AB21-29659AC3E97E 2017-12-13 13:21:02.820
10  4020DEAE-56F6-47DF-96C1-A01F3DE2305C 2017-12-13 13:21:02.883
11  9EF858DE-EABA-4A53-9B28-FC699D789957 2017-12-13 13:21:02.930
12  E3F641EA-02D1-4B59-BE3F-97785D4DAB4D 2017-12-13 13:21:02.993
13  DEB6D69A-7A6C-4820-B48D-67DC990A2A20 2017-12-13 13:21:03.053
14  C7BBF9BA-A676-41AD-ADC0-64A3190A50AF 2017-12-13 13:21:03.117






QUERY
------
 SELECT ContactTypeID, Name, ModifiedDate FROM Person.ContactType
 ----------------------------------------------

    ContactTypeID                             Name ModifiedDate
0               1               Accounting Manager   2008-04-30
1               2            Assistant Sales Agent   2008-04-30
2               3   Assistant Sales Representative   2008-04-30
3               4      Coordinator Foreign Markets   2008-04-30
4               5             Export Administrator   2008-04-30
5               6  International Marketing Manager   2008-04-30
6               7              Marketing Assistant   2008-04-30
7               8                Marketing Manager   2008-04-30
8               9         Marketing Representative   2008-04-30
9              10              Order Administrator   2008-04-30
10             11                            Owner   2008-04-30
11             12        Owner/Marketing Assistant   2008-04-30
12             13                  Product Manager   2008-04-30
13             14                 Purchasing Agent   2008-04-30
14             15               Purchasing Manager   2008-04-30






QUERY
------
 SELECT CountryRegionCode, Name, ModifiedDate FROM Person.CountryRegion
 ----------------------------------------------

   CountryRegionCode                  Name ModifiedDate
0                 AD               Andorra   2008-04-30
1                 AE  United Arab Emirates   2008-04-30
2                 AF           Afghanistan   2008-04-30
3                 AG   Antigua and Barbuda   2008-04-30
4                 AI              Anguilla   2008-04-30
5                 AL               Albania   2008-04-30
6                 AM               Armenia   2008-04-30
7                 AN  Netherlands Antilles   2008-04-30
8                 AO                Angola   2008-04-30
9                 AQ            Antarctica   2008-04-30
10                AR             Argentina   2008-04-30
11                AS        American Samoa   2008-04-30
12                AT               Austria   2008-04-30
13                AU             Australia   2008-04-30
14                AW                 Aruba   2008-04-30






QUERY
------
 SELECT BusinessEntityID, EmailAddressID, EmailAddress, rowguid, ModifiedDate FROM Person.EmailAddress
 ----------------------------------------------

    BusinessEntityID  EmailAddressID                  EmailAddress  \
0                  1               1      ken0@adventure-works.com
1                  2               2    terri0@adventure-works.com
2                  3               3  roberto0@adventure-works.com
3                  4               4      rob0@adventure-works.com
4                  5               5     gail0@adventure-works.com
5                  6               6   jossef0@adventure-works.com
6                  7               7    dylan0@adventure-works.com
7                  8               8    diane1@adventure-works.com
8                  9               9     gigi0@adventure-works.com
9                 10              10  michael6@adventure-works.com
10                11              11   ovidiu0@adventure-works.com
11                12              12  thierry0@adventure-works.com
12                13              13   janice0@adventure-works.com
13                14              14  michael8@adventure-works.com
14                15              15   sharon0@adventure-works.com

                                 rowguid ModifiedDate
0   8A1901E4-671B-431A-871C-EADB2942E9EE   2009-01-07
1   B5FF9EFD-72A2-4F87-830B-F338FDD4D162   2008-01-24
2   C8A51084-1C03-4C58-A8B3-55854AE7C499   2007-11-04
3   17703ED1-0031-4B4A-AFD2-77487A556B3B   2007-11-28
4   E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B   2007-12-30
5   A9C4093A-4F4A-4CAD-BBB4-2C4E920BACCB   2013-12-16
6   70429DE4-C3BF-4F19-A00A-E976C8017FB3   2009-02-01
7   37F02A87-058D-49F8-A20D-965738B0A71F   2008-12-22
8   F888A16D-0C33-459E-9D72-D16AE0BB1F43   2009-01-09
9   E0DD366D-433D-4F5A-9347-1A5FE7FBE0A3   2009-04-26
10  0FF9523D-F398-4237-85F8-2834DE441692   2010-11-28
11  B2962849-CC5F-4E57-BCB4-019642BBD8ED   2007-12-04
12  64871268-3812-402F-8A91-C618B6515B06   2010-12-16
13  BEA9075C-1BED-4E5E-8234-F5641FAF814C   2010-12-23
14  5CD782BA-F5AB-41EC-B206-09B06F52C96B   2011-01-11






QUERY
------
 SELECT BusinessEntityID, PasswordHash, PasswordSalt, rowguid, ModifiedDate FROM Person.Password
 ----------------------------------------------

    BusinessEntityID                                  PasswordHash  \
0                  1  pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=
1                  2  bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=
2                  3  8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=
3                  4  SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=
4                  5  8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=
5                  6  u5kbN5n84NRE1h/a+ktdRrXucjgrmfF6wZC4g82rjHM=
6                  7  zSqerln8T8eq3nYHC4Lx4vMuxZaxkDylVwWnP2ZT6QA=
7                  8  s+FUWADIZzXBKpcbxe4OwL2uiJmjLogJNYXXHvc1X/k=
8                  9  fCvCTy3RwzA2LNhhhYUbT7erkb9Au5wyM2q7ReHroV0=
9                 10  /8biMrxuAtETGeIuloSrMQHBraZtZ+eU2z5OJ1Fhn6M=
10                11  iaZ6ky76dbOG+0Y069v4bm78UfhfGXSeYtxp4Vgd15o=
11                12  I9HGCr3jbwF3LYBlVsM/cOC2IHfg7ns5t2xejnWZ9Ko=
12                13  3ZuoojogvvBKmtr+iHeqWoiZNCzp6N1abPoymjp+O+4=
13                14  mKAlVVzgDo12qro7ZDmr3oEmCxklWc7+dYDFlC58Vv4=
14                15  m5ESf7VNdqsqa/s82jX/r3UK95GTrMPM4YhGw0jzS9c=

   PasswordSalt                               rowguid ModifiedDate
0      bE3XiWw=  329EACBE-C883-4F48-B8B6-17AA4627EFFF   2009-01-07
1      EjJaC3U=  A4C82398-7466-4FE6-B9EE-CEC34D116F68   2008-01-24
2      wbPZqMw=  AC3F4536-BB2E-41C5-B70D-454BE460C1BD   2007-11-04
3      PwSunQU=  B3FA4C24-2E96-477C-A923-0CB0F6FA5C80   2007-11-28
4      qYhZRiM=  C4D13BCF-0209-44C7-AC67-6F817FDD7F16   2007-12-30
5      a9GiLUA=  BBE788B9-8D6D-4799-87A7-7B85B6BD67DC   2013-12-16
6      13mu8BA=  AFD3A20A-787B-4069-92DB-AEE666C02847   2009-02-01
7      FlCpzTU=  4FE51B60-130E-4209-9E67-28DC4D91446C   2008-12-22
8      FTcZMvQ=  99F4F320-F05D-4FA1-BB0D-81C9425422F3   2009-01-09
9      K7dMpTY=  82F25F0C-5D75-4246-958A-B6DF67559D09   2009-04-26
10     wTGciQ8=  3AF51C6F-B835-4483-94B3-8F6FD30EFDA2   2010-11-28
11     S0g9tDo=  FC239924-2C45-4BAD-BBE7-26C74CAE7526   2007-12-04
12     S7XWeXc=  80862E73-CD76-4E2E-AA80-26BD8476F736   2010-12-16
13     BpZw68c=  28B6CB19-3E5B-4DA6-BB63-5EB981D22D4A   2010-12-23
14     dhGWm88=  AE7E33BE-25CD-419C-9965-A3080864D3F8   2011-01-11






QUERY
------
 SELECT BusinessEntityID, PersonType, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, EmailPromotion, AdditionalContactInfo, Demographics, rowguid, ModifiedDate FROM Person.Person
 ----------------------------------------------

    BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                  1         EM      False  None       Ken          J
1                  2         EM      False  None     Terri        Lee
2                  3         EM      False  None   Roberto       None
3                  4         EM      False  None       Rob       None
4                  5         EM      False   Ms.      Gail          A
5                  6         EM      False   Mr.    Jossef          H
6                  7         EM      False  None     Dylan          A
7                  8         EM      False  None     Diane          L
8                  9         EM      False  None      Gigi          N
9                 10         EM      False  None   Michael       None
10                11         EM      False  None    Ovidiu          V
11                12         EM      False  None   Thierry          B
12                13         EM      False   Ms.    Janice          M
13                14         EM      False  None   Michael          I
14                15         EM      False  None    Sharon          B

      LastName Suffix  EmailPromotion AdditionalContactInfo  \
0      Sánchez   None               0                  None
1        Duffy   None               1                  None
2   Tamburello   None               0                  None
3      Walters   None               0                  None
4     Erickson   None               0                  None
5     Goldberg   None               0                  None
6       Miller   None               2                  None
7     Margheim   None               0                  None
8      Matthew   None               0                  None
9       Raheem   None               2                  None
10     Cracium   None               0                  None
11      D'Hers   None               2                  None
12      Galvin   None               2                  None
13    Sullivan   None               2                  None
14   Salavaria   None               2                  None

                                         Demographics  \
0   <IndividualSurvey xmlns="http://schemas.micros...
1   <IndividualSurvey xmlns="http://schemas.micros...
2   <IndividualSurvey xmlns="http://schemas.micros...
3   <IndividualSurvey xmlns="http://schemas.micros...
4   <IndividualSurvey xmlns="http://schemas.micros...
5   <IndividualSurvey xmlns="http://schemas.micros...
6   <IndividualSurvey xmlns="http://schemas.micros...
7   <IndividualSurvey xmlns="http://schemas.micros...
8   <IndividualSurvey xmlns="http://schemas.micros...
9   <IndividualSurvey xmlns="http://schemas.micros...
10  <IndividualSurvey xmlns="http://schemas.micros...
11  <IndividualSurvey xmlns="http://schemas.micros...
12  <IndividualSurvey xmlns="http://schemas.micros...
13  <IndividualSurvey xmlns="http://schemas.micros...
14  <IndividualSurvey xmlns="http://schemas.micros...

                                 rowguid ModifiedDate
0   92C4279F-1207-48A3-8448-4636514EB7E2   2009-01-07
1   D8763459-8AA8-47CC-AFF7-C9079AF79033   2008-01-24
2   E1A2555E-0828-434B-A33B-6F38136A37DE   2007-11-04
3   F2D7CE06-38B3-4357-805B-F4B6B71C01FF   2007-11-28
4   F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF   2007-12-30
5   0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F   2013-12-16
6   C45E8AB8-01BE-4B76-B215-820C8368181A   2009-02-01
7   A948E590-4A56-45A9-BC9A-160A1CC9D990   2008-12-22
8   5FC28C0E-6D36-4252-9846-05CAA0B1F6C5   2009-01-09
9   CA2C740E-75B2-420C-9D4B-E3CBC6609604   2009-04-26
10  D2CC2577-EF6B-4408-BD8C-747337FE5645   2010-11-28
11  FA263C7F-600D-4E89-8DCD-0978F3530F5F   2007-12-04
12  34EB99E0-7042-4DC1-A2FD-BDA290FF0E07   2010-12-16
13  9A7501DE-5CAF-4700-AB07-CC81102BB696   2010-12-23
14  BEBA63CB-13F1-4B76-A3DE-FE9AC283A94C   2011-01-11






QUERY
------
 SELECT BusinessEntityID, PhoneNumber, PhoneNumberTypeID, ModifiedDate FROM Person.PersonPhone
 ----------------------------------------------

    BusinessEntityID   PhoneNumber  PhoneNumberTypeID ModifiedDate
0                  1  697-555-0142                  1   2009-01-07
1                  2  819-555-0175                  3   2008-01-24
2                  3  212-555-0187                  1   2007-11-04
3                  4  612-555-0100                  1   2007-11-28
4                  5  849-555-0139                  1   2007-12-30
5                  6  122-555-0189                  3   2013-12-16
6                  7  181-555-0156                  3   2009-02-01
7                  8  815-555-0138                  1   2008-12-22
8                  9  185-555-0186                  1   2009-01-09
9                 10  330-555-2568                  3   2009-04-26
10                11  719-555-0181                  1   2010-11-28
11                12  168-555-0183                  3   2007-12-04
12                13  473-555-0117                  3   2010-12-16
13                14  465-555-0156                  1   2010-12-23
14                15  970-555-0138                  1   2011-01-11






QUERY
------
 SELECT PhoneNumberTypeID, Name, ModifiedDate FROM Person.PhoneNumberType
 ----------------------------------------------

   PhoneNumberTypeID  Name            ModifiedDate
0                  1  Cell 2017-12-13 13:19:22.273
1                  2  Home 2017-12-13 13:19:22.273
2                  3  Work 2017-12-13 13:19:22.273






QUERY
------
 SELECT StateProvinceID, StateProvinceCode, CountryRegionCode, IsOnlyStateProvinceFlag, Name, TerritoryID, rowguid, ModifiedDate FROM Person.StateProvince
 ----------------------------------------------

    StateProvinceID StateProvinceCode CountryRegionCode  \
0                 1               AB                 CA
1                 2               AK                 US
2                 3               AL                 US
3                 4               AR                 US
4                 5               AS                 AS
5                 6               AZ                 US
6                 7               BC                 CA
7                 8               BY                 DE
8                 9               CA                 US
9                10               CO                 US
10               11               CT                 US
11               12               DC                 US
12               13               DE                 US
13               14               ENG                GB
14               15               FL                 US

    IsOnlyStateProvinceFlag                  Name  TerritoryID  \
0                     False               Alberta            6
1                     False                Alaska            1
2                     False               Alabama            5
3                     False              Arkansas            3
4                      True        American Samoa            1
5                     False               Arizona            4
6                     False      British Columbia            6
7                     False                Bayern            8
8                     False            California            4
9                     False              Colorado            3
10                    False           Connecticut            2
11                    False  District of Columbia            2
12                    False              Delaware            2
13                     True               England           10
14                    False               Florida            5

                                 rowguid            ModifiedDate
0   298C2880-AB1C-4982-A5AD-A36EB4BA0D34 2014-02-08 10:17:21.587
1   5B7B8462-A888-4E0B-A3E1-7278F8AF107E 2014-02-08 10:17:21.587
2   41B328BE-21AE-45D0-841D-6F8DD71CE626 2014-02-08 10:17:21.587
3   54656A80-06F2-4C70-BA10-247179FC246E 2014-02-08 10:17:21.587
4   255D15E1-9F6E-4CF8-9E5F-6B3858AD9B6A 2014-02-08 10:17:21.587
5   FB8BE18E-F441-44F0-A4A9-1D0F204CB701 2014-02-08 10:17:21.587
6   D27FCC6E-BB99-438B-BA86-285CEEB2FA53 2014-02-08 10:17:21.587
7   D54E5000-A0DA-46D1-86B0-B8FE16C9F781 2014-02-08 10:17:21.587
8   3B2FF23C-1C75-40AE-9093-F4EB42263F4E 2014-02-08 10:17:21.587
9   292DF595-7D3C-41FB-A040-7C184D379FCE 2014-02-08 10:17:21.587
10  1E7BB47A-E16B-4968-86FA-45AF0211FA84 2014-02-08 10:17:21.587
11  A1F3C57E-85B3-41E3-88E8-07244CF087DD 2014-02-08 10:17:21.587
12  7A11AB1D-77C0-4021-9140-8E81F105618E 2014-02-08 10:17:21.587
13  3E3CB3F8-44B9-44D9-A1C3-CBFB11E0A7DA 2014-02-08 10:17:21.587
14  EE8BA90D-B2C3-418E-93DF-20E33F095959 2014-02-08 10:17:21.587






QUERY
------
 SELECT BillOfMaterialsID, ProductAssemblyID, ComponentID, StartDate, EndDate, UnitMeasureCode, BOMLevel, PerAssemblyQty, ModifiedDate FROM Production.BillOfMaterials
 ----------------------------------------------

    BillOfMaterialsID  ProductAssemblyID  ComponentID  StartDate    EndDate  \
0                 893                NaN          749 2010-05-26        NaT
1                 271                NaN          750 2010-03-04 2010-05-03
2                  34                NaN          750 2010-05-04        NaT
3                 830                NaN          751 2010-05-26        NaT
4                2074                NaN          752 2010-07-08        NaT
5                1950                NaN          753 2010-06-19 2010-08-18
6                1761                NaN          753 2010-08-19        NaT
7                3088                NaN          754 2010-12-15        NaT
8                3351                NaN          755 2010-12-23        NaT
9                3246                NaN          756 2010-12-23        NaT
10               2760                NaN          757 2010-09-15        NaT
11               2395                NaN          758 2010-08-05        NaT
12               3087                NaN          759 2010-12-15        NaT
13               3350                NaN          760 2010-12-23        NaT
14               2822                NaN          761 2010-09-15        NaT

   UnitMeasureCode  BOMLevel  PerAssemblyQty ModifiedDate
0              EA          0             1.0   2010-05-12
1              EA          0             1.0   2010-05-03
2              EA          0             1.0   2010-04-20
3              EA          0             1.0   2010-05-12
4              EA          0             1.0   2010-06-24
5              EA          0             1.0   2010-08-18
6              EA          0             1.0   2010-08-05
7              EA          0             1.0   2010-12-01
8              EA          0             1.0   2010-12-09
9              EA          0             1.0   2010-12-09
10             EA          0             1.0   2010-09-01
11             EA          0             1.0   2010-07-22
12             EA          0             1.0   2010-12-01
13             EA          0             1.0   2010-12-09
14             EA          0             1.0   2010-09-01






QUERY
------
 SELECT CultureID, Name, ModifiedDate FROM Production.Culture
 ----------------------------------------------

  CultureID                                    Name ModifiedDate
0            Invariant Language (Invariant Country)   2008-04-30
1    ar                                      Arabic   2008-04-30
2    en                                     English   2008-04-30
3    es                                     Spanish   2008-04-30
4    fr                                      French   2008-04-30
5    he                                      Hebrew   2008-04-30
6    th                                        Thai   2008-04-30
7    zh-cht                                 Chinese   2008-04-30






QUERY
------
 SELECT DocumentNode, DocumentLevel, Title, Owner, FolderFlag, FileName, FileExtension, Revision, ChangeNumber, Status, DocumentSummary, Document, rowguid, ModifiedDate FROM Production.Document
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('ODBC SQL type -151 is not yet supported.  column-index=0  type=-151', 'HY106')
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT IllustrationID, Diagram, ModifiedDate FROM Production.Illustration
 ----------------------------------------------

   IllustrationID                                            Diagram  \
0               3  <!-- Generated by Adobe Illustrator CS -> XAML...
1               4  <!-- Generated by Adobe Illustrator CS -> XAML...
2               5  <!-- Generated by Adobe Illustrator CS -> XAML...
3               6  <!-- Generated by Adobe Illustrator CS -> XAML...
4               7  <!-- Generated by Adobe Illustrator CS -> XAML...

             ModifiedDate
0 2014-01-09 13:06:11.780
1 2014-01-09 13:06:11.903
2 2014-01-09 13:06:11.950
3 2014-01-09 13:06:12.043
4 2014-01-09 13:06:12.080






QUERY
------
 SELECT LocationID, Name, CostRate, Availability, ModifiedDate FROM Production.Location
 ----------------------------------------------

    LocationID                    Name  CostRate  Availability ModifiedDate
0            1               Tool Crib      0.00           0.0   2008-04-30
1            2       Sheet Metal Racks      0.00           0.0   2008-04-30
2            3              Paint Shop      0.00           0.0   2008-04-30
3            4           Paint Storage      0.00           0.0   2008-04-30
4            5           Metal Storage      0.00           0.0   2008-04-30
5            6   Miscellaneous Storage      0.00           0.0   2008-04-30
6            7  Finished Goods Storage      0.00           0.0   2008-04-30
7           10           Frame Forming     22.50          96.0   2008-04-30
8           20           Frame Welding     25.00         108.0   2008-04-30
9           30        Debur and Polish     14.50         120.0   2008-04-30
10          40                   Paint     15.75         120.0   2008-04-30
11          45       Specialized Paint     18.00          80.0   2008-04-30
12          50             Subassembly     12.25         120.0   2008-04-30
13          60          Final Assembly     12.25         120.0   2008-04-30






QUERY
------
 SELECT ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color, SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, Size, SizeUnitMeasureCode, WeightUnitMeasureCode, Weight, DaysToManufacture, ProductLine, Class, Style, ProductSubcategoryID, ProductModelID, SellStartDate, SellEndDate, DiscontinuedDate, rowguid, ModifiedDate FROM Production.Product
 ----------------------------------------------

    ProductID                   Name ProductNumber  MakeFlag  \
0           1        Adjustable Race       AR-5381     False
1           2           Bearing Ball       BA-8327     False
2           3        BB Ball Bearing       BE-2349      True
3           4  Headset Ball Bearings       BE-2908     False
4         316                  Blade       BL-2036      True
5         317            LL Crankarm       CA-5965     False
6         318            ML Crankarm       CA-6738     False
7         319            HL Crankarm       CA-7457     False
8         320        Chainring Bolts       CB-2903     False
9         321          Chainring Nut       CN-6137     False
10        322              Chainring       CR-7833     False
11        323             Crown Race       CR-9981     False
12        324            Chain Stays       CS-2812      True
13        325                Decal 1       DC-8732     False
14        326                Decal 2       DC-9824     False

    FinishedGoodsFlag   Color  SafetyStockLevel  ReorderPoint  StandardCost  \
0               False    None              1000           750           0.0
1               False    None              1000           750           0.0
2               False    None               800           600           0.0
3               False    None               800           600           0.0
4               False    None               800           600           0.0
5               False   Black               500           375           0.0
6               False   Black               500           375           0.0
7               False   Black               500           375           0.0
8               False  Silver              1000           750           0.0
9               False  Silver              1000           750           0.0
10              False   Black              1000           750           0.0
11              False    None              1000           750           0.0
12              False    None              1000           750           0.0
13              False    None              1000           750           0.0
14              False    None              1000           750           0.0

    ListPrice  Size SizeUnitMeasureCode WeightUnitMeasureCode  Weight  \
0         0.0  None                None                  None     NaN
1         0.0  None                None                  None     NaN
2         0.0  None                None                  None     NaN
3         0.0  None                None                  None     NaN
4         0.0  None                None                  None     NaN
5         0.0  None                None                  None     NaN
6         0.0  None                None                  None     NaN
7         0.0  None                None                  None     NaN
8         0.0  None                None                  None     NaN
9         0.0  None                None                  None     NaN
10        0.0  None                None                  None     NaN
11        0.0  None                None                  None     NaN
12        0.0  None                None                  None     NaN
13        0.0  None                None                  None     NaN
14        0.0  None                None                  None     NaN

    DaysToManufacture ProductLine Class Style  ProductSubcategoryID  \
0                   0        None  None  None                   NaN
1                   0        None  None  None                   NaN
2                   1        None  None  None                   NaN
3                   0        None  None  None                   NaN
4                   1        None  None  None                   NaN
5                   0        None    L   None                   NaN
6                   0        None    M   None                   NaN
7                   0        None  None  None                   NaN
8                   0        None  None  None                   NaN
9                   0        None  None  None                   NaN
10                  0        None  None  None                   NaN
11                  0        None  None  None                   NaN
12                  1        None  None  None                   NaN
13                  0        None  None  None                   NaN
14                  0        None  None  None                   NaN

    ProductModelID SellStartDate SellEndDate DiscontinuedDate  \
0              NaN    2008-04-30         NaT             None
1              NaN    2008-04-30         NaT             None
2              NaN    2008-04-30         NaT             None
3              NaN    2008-04-30         NaT             None
4              NaN    2008-04-30         NaT             None
5              NaN    2008-04-30         NaT             None
6              NaN    2008-04-30         NaT             None
7              NaN    2008-04-30         NaT             None
8              NaN    2008-04-30         NaT             None
9              NaN    2008-04-30         NaT             None
10             NaN    2008-04-30         NaT             None
11             NaN    2008-04-30         NaT             None
12             NaN    2008-04-30         NaT             None
13             NaN    2008-04-30         NaT             None
14             NaN    2008-04-30         NaT             None

                                 rowguid            ModifiedDate
0   694215B7-08F7-4C0D-ACB1-D734BA44C0C8 2014-02-08 10:01:36.827
1   58AE3C20-4F3A-4749-A7D4-D568806CC537 2014-02-08 10:01:36.827
2   9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E 2014-02-08 10:01:36.827
3   ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B 2014-02-08 10:01:36.827
4   E73E9750-603B-4131-89F5-3DD15ED5FF80 2014-02-08 10:01:36.827
5   3C9D10B7-A6B2-4774-9963-C19DCEE72FEA 2014-02-08 10:01:36.827
6   EABB9A92-FA07-4EAB-8955-F0517B4A4CA7 2014-02-08 10:01:36.827
7   7D3FD384-4F29-484B-86FA-4206E276FE58 2014-02-08 10:01:36.827
8   7BE38E48-B7D6-4486-888E-F53C26735101 2014-02-08 10:01:36.827
9   3314B1D7-EF69-4431-B6DD-DC75268BD5DF 2014-02-08 10:01:36.827
10  F0AC2C4D-1A1F-4E3C-B4D9-68AEA0EC1CE4 2014-02-08 10:01:36.827
11  51A32CA6-65A1-4C31-AF2B-D9E4F5D631D4 2014-02-08 10:01:36.827
12  FE0678ED-AEF2-4C58-A450-8151CC24DDD8 2014-02-08 10:01:36.827
13  05CE123C-A402-478E-AE9B-75D7727AEAAD 2014-02-08 10:01:36.827
14  A56851F9-1CD7-4E2F-8779-2E773E1B5209 2014-02-08 10:01:36.827






QUERY
------
 SELECT ProductCategoryID, Name, rowguid, ModifiedDate FROM Production.ProductCategory
 ----------------------------------------------

   ProductCategoryID         Name                               rowguid  \
0                  1        Bikes  CFBDA25C-DF71-47A7-B81B-64EE161AA37C
1                  2   Components  C657828D-D808-4ABA-91A3-AF2CE02300E9
2                  3     Clothing  10A7C342-CA82-48D4-8A38-46A2EB089B74
3                  4  Accessories  2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6

  ModifiedDate
0   2008-04-30
1   2008-04-30
2   2008-04-30
3   2008-04-30






QUERY
------
 SELECT ProductID, StartDate, EndDate, StandardCost, ModifiedDate FROM Production.ProductCostHistory
 ----------------------------------------------

    ProductID  StartDate    EndDate  StandardCost ModifiedDate
0         707 2011-05-31 2012-05-29       12.0278   2012-05-29
1         707 2012-05-30 2013-05-29       13.8782   2013-05-29
2         707 2013-05-30        NaT       13.0863   2013-05-16
3         708 2011-05-31 2012-05-29       12.0278   2012-05-29
4         708 2012-05-30 2013-05-29       13.8782   2013-05-29
5         708 2013-05-30        NaT       13.0863   2013-05-16
6         709 2011-05-31 2012-05-29        3.3963   2012-05-29
7         710 2011-05-31 2012-05-29        3.3963   2012-05-29
8         711 2011-05-31 2012-05-29       12.0278   2012-05-29
9         711 2012-05-30 2013-05-29       13.8782   2013-05-29
10        711 2013-05-30        NaT       13.0863   2013-05-16
11        712 2011-05-31 2012-05-29        5.7052   2012-05-29
12        712 2012-05-30 2013-05-29        5.2297   2013-05-29
13        712 2013-05-30        NaT        6.9223   2013-05-16
14        713 2011-05-31 2012-05-29       31.7244   2012-05-29






QUERY
------
 SELECT ProductDescriptionID, Description, rowguid, ModifiedDate FROM Production.ProductDescription
 ----------------------------------------------

    ProductDescriptionID                                        Description  \
0                      3                                    Chromoly steel.
1                      4       Aluminum alloy cups; large diameter spindle.
2                      5             Aluminum alloy cups and a hollow axle.
3                      8  Suitable for any type of riding, on or off-roa...
4                     64  This bike delivers a high-level of performance...
5                     88  For true trail addicts.  An extremely durable ...
6                    128  Serious back-country riding. Perfect for all l...
7                    168  Top-of-the-line competition mountain bike. Per...
8                    170  Suitable for any type of off-road trip. Fits a...
9                    209  Entry level adult bike; offers a comfortable r...
10                   249  Value-priced bike with many features of our to...
11                   320  Same technology as all of our Road series bike...
12                   321  Same technology as all of our Road series bike...
13                   337  A true multi-sport bike that offers streamline...
14                   375  Cross-train, race, or just socialize on a slee...

                                 rowguid            ModifiedDate
0   301EED3A-1A82-4855-99CB-2AFE8290D641 2013-04-30 00:00:00.000
1   DFEBA528-DA11-4650-9D86-CAFDA7294EB0 2013-04-30 00:00:00.000
2   F7178DA7-1A7E-4997-8470-06737181305E 2013-04-30 00:00:00.000
3   8E6746E5-AD97-46E2-BD24-FCEA075C3B52 2013-04-30 00:00:00.000
4   7B1C4E90-85E2-4792-B47B-E0C424E2EC94 2013-04-30 00:00:00.000
5   4C1AD253-357E-4A98-B02E-02180AA406F6 2013-04-30 00:00:00.000
6   130709E6-8512-49B9-9F62-1F5C99152056 2014-02-08 10:32:17.973
7   DB979DA6-4CC8-4171-9ECF-65003FF8178A 2013-04-30 00:00:00.000
8   EA772412-6369-4416-9CC9-C1A5D1FF9C52 2013-04-30 00:00:00.000
9   F5FF5FFD-CB7C-4AD6-BBC9-4D250BB6E98D 2013-04-30 00:00:00.000
10  4291F144-7693-4460-8B0B-1373E0433021 2013-04-30 00:00:00.000
11  E130DED9-D0EC-4656-BF4D-1A3A46491891 2013-04-30 00:00:00.000
12  C7B429DA-DC51-47DB-A18E-5891E76CCC16 2013-04-30 00:00:00.000
13  DB560F0B-E70B-42A7-A1F5-3B7E42D3679D 2013-04-30 00:00:00.000
14  747B2185-0320-4FE5-8E8F-27B84A40A838 2013-04-30 00:00:00.000






QUERY
------
 SELECT ProductID, DocumentNode, ModifiedDate FROM Production.ProductDocument
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('ODBC SQL type -151 is not yet supported.  column-index=1  type=-151', 'HY106')
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT ProductID, LocationID, Shelf, Bin, Quantity, rowguid, ModifiedDate FROM Production.ProductInventory
 ----------------------------------------------

    ProductID  LocationID Shelf  Bin  Quantity  \
0           1           1     A    1       408
1           1           6     B    5       324
2           1          50     A    5       353
3           2           1     A    2       427
4           2           6     B    1       318
5           2          50     A    6       364
6           3           1     A    7       585
7           3           6     B    9       443
8           3          50     A   10       324
9           4           1     A    6       512
10          4           6     B   10       422
11          4          50     A   11       388
12        316           5     A   11       532
13        316          10     B    1       388
14        316          50     B    8       441

                                 rowguid ModifiedDate
0   47A24246-6C43-48EB-968F-025738A8A410   2014-08-08
1   D4544D7D-CAF5-46B3-AB22-5718DCC26B5E   2014-08-08
2   BFF7DC60-96A8-43CA-81A7-D6D2ED3000A8   2014-08-08
3   F407C07A-CA14-4684-A02C-608BD00C2233   2014-08-08
4   CA1FF2F4-48FB-4960-8D92-3940B633E4C1   2014-08-08
5   D38CFBEE-6347-47B1-B033-0E278CCA03E2   2014-08-08
6   E18A519B-FB5E-4051-874C-58CD58436C95   2008-03-31
7   3C860C96-15FF-4DF4-91D7-B237FF64480F   2008-03-31
8   1339E5E3-1F8E-4B82-A447-A8666A264F0C   2008-03-31
9   6BEAF0A0-971A-4CE1-96FE-692807D5DC00   2014-08-08
10  2C82427A-63F1-4877-A1F6-A27B4D201EB6   2014-08-08
11  FD912E69-EFA2-4AB7-82A4-03F5101AF11C   2014-08-08
12  1EE3DBD3-2A7E-47DC-AF99-1B585575EFB9   2008-03-31
13  CB2A24D7-9B70-4140-8836-9EB7592621D3   2008-03-31
14  36B375A3-022A-45BF-B425-DBFFAAC3145A   2008-03-31






QUERY
------
 SELECT ProductID, StartDate, EndDate, ListPrice, ModifiedDate FROM Production.ProductListPriceHistory
 ----------------------------------------------

    ProductID  StartDate    EndDate  ListPrice ModifiedDate
0         707 2011-05-31 2012-05-29    33.6442   2012-05-29
1         707 2012-05-30 2013-05-29    33.6442   2013-05-29
2         707 2013-05-30        NaT    34.9900   2013-05-09
3         708 2011-05-31 2012-05-29    33.6442   2012-05-29
4         708 2012-05-30 2013-05-29    33.6442   2013-05-29
5         708 2013-05-30        NaT    34.9900   2013-05-09
6         709 2011-05-31 2012-05-29     9.5000   2012-05-29
7         710 2011-05-31 2012-05-29     9.5000   2012-05-29
8         711 2011-05-31 2012-05-29    33.6442   2012-05-29
9         711 2012-05-30 2013-05-29    33.6442   2013-05-29
10        711 2013-05-30        NaT    34.9900   2013-05-09
11        712 2011-05-31 2012-05-29     8.6442   2012-05-29
12        712 2012-05-30 2013-05-29     8.6442   2013-05-29
13        712 2013-05-30        NaT     8.9900   2013-05-09
14        713 2011-05-31 2012-05-29    48.0673   2012-05-29






QUERY
------
 SELECT ProductModelID, Name, CatalogDescription, Instructions, rowguid, ModifiedDate FROM Production.ProductModel
 ----------------------------------------------

    ProductModelID                     Name CatalogDescription  \
0                1             Classic Vest               None
1                2              Cycling Cap               None
2                3       Full-Finger Gloves               None
3                4       Half-Finger Gloves               None
4                5        HL Mountain Frame               None
5                6            HL Road Frame               None
6                7         HL Touring Frame               None
7                8        LL Mountain Frame               None
8                9            LL Road Frame               None
9               10         LL Touring Frame               None
10              11  Long-Sleeve Logo Jersey               None
11              12         Men's Bib-Shorts               None
12              13      Men's Sports Shorts               None
13              14        ML Mountain Frame               None
14              15      ML Mountain Frame-W               None

                                         Instructions  \
0                                                None
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6   <root xmlns="http://schemas.microsoft.com/sqls...
7                                                None
8                                                None
9   <root xmlns="http://schemas.microsoft.com/sqls...
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None

                                 rowguid            ModifiedDate
0   29321D47-1E4C-4AAC-887C-19634328C25E 2013-04-30 00:00:00.000
1   474FB654-3C96-4CB9-82DF-2152EEFFBDB0 2011-05-01 00:00:00.000
2   A75483FE-3C47-4AA4-93CF-664B51192987 2012-04-30 00:00:00.000
3   14B56F2A-D4AA-40A4-B9A2-984F165ED702 2012-04-30 00:00:00.000
4   FDD5407B-C2DB-49D1-A86B-C13A2E3582A2 2011-05-01 00:00:00.000
5   4D332ECC-48B3-4E04-B7E7-227F3AC2A7EC 2008-03-31 00:00:00.000
6   D60ED2A5-C100-4C54-89A1-531404C4A20F 2015-04-15 16:34:28.980
7   65BF3F6D-BCF2-4DB6-8515-FC5C57423037 2012-10-19 09:56:38.273
8   DDC67A2F-024A-4446-9B54-3C679BABA708 2011-05-01 00:00:00.000
9   66C63844-2A24-473C-96D5-D3B3FD57D834 2015-04-15 16:34:28.980
10  20EFE3F1-A2F8-4DDE-B74B-18265F61F863 2011-05-01 00:00:00.000
11  219E2F87-26A9-483B-B968-04578E943096 2012-04-30 00:00:00.000
12  45FE0D77-6645-473C-A116-1232BAEA8D43 2012-04-30 00:00:00.000
13  0D48C51D-7603-4010-9265-0491805BB010 2012-04-30 00:00:00.000
14  AA77697C-6D1C-48F1-845C-3CB089498715 2012-04-30 00:00:00.000






QUERY
------
 SELECT ProductModelID, IllustrationID, ModifiedDate FROM Production.ProductModelIllustration
 ----------------------------------------------

   ProductModelID  IllustrationID            ModifiedDate
0               7               3 2014-01-09 14:41:02.167
1              10               3 2014-01-09 14:41:02.167
2              47               4 2014-01-09 14:41:02.183
3              47               5 2014-01-09 14:41:02.183
4              48               4 2014-01-09 14:41:02.183
5              48               5 2014-01-09 14:41:02.183
6              67               6 2014-01-09 14:41:02.200






QUERY
------
 SELECT ProductModelID, ProductDescriptionID, CultureID, ModifiedDate FROM Production.ProductModelProductDescriptionCulture
 ----------------------------------------------

    ProductModelID  ProductDescriptionID CultureID ModifiedDate
0                1                  1199    en       2013-04-30
1                1                  1467    ar       2013-04-30
2                1                  1589    fr       2013-04-30
3                1                  1712    th       2013-04-30
4                1                  1838    he       2013-04-30
5                1                  1965    zh-cht   2013-04-30
6                2                  1210    en       2013-04-30
7                2                  1476    ar       2013-04-30
8                2                  1598    fr       2013-04-30
9                2                  1721    th       2013-04-30
10               2                  1847    he       2013-04-30
11               2                  1974    zh-cht   2013-04-30
12               3                  1195    en       2013-04-30
13               3                  1464    ar       2013-04-30
14               3                  1586    fr       2013-04-30






QUERY
------
 SELECT ProductPhotoID, ThumbNailPhoto, ThumbnailPhotoFileName, LargePhoto, LargePhotoFileName, ModifiedDate FROM Production.ProductPhoto
 ----------------------------------------------

    ProductPhotoID                                     ThumbNailPhoto  \
0                1  b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...
1               69  b'GIF89aP\x001\x00\xf7\x00\x00\xe3\xe3\xfc\xa6...
2               70  b'GIF89aP\x001\x00\xf7\x00\x00\xe3\xe3\xfc\xeb...
3               72  b'GIF89aP\x001\x00\xf7\x00\x00\xf1\xf2\xfe\xe3...
4               73  b'GIF89aP\x001\x00\xf7\x00\x00Ix\xa7\xe2\xe3\x...
5               76  b'GIF89aP\x001\x00\xf7\x00\x00v\x89\xb3\xb1\xd...
6               77  b'GIF89aP\x001\x00\xf7\x00\x00\xb8\xd3\xc4\xe2...
7               78  b'GIF89aP\x001\x00\xf7\x00\x00\x9a\x9c\xa3\xbe...
8               79  b'GIF89aP\x001\x00\xf7\x00\x009;F\x85\xa8\xce\...
9               80  b'GIF89aP\x001\x00\xf7\x00\x00z{\x828;F=@L\xcc...
10              81  b'GIF89aP\x001\x00\xf7\x00\x00\xa7\xaa\xb8\xb9...
11              82  b'GIF89aP\x001\x00\xf7\x00\x00\xcc32\xcd\xbb\x...
12              83  b'GIF89aP\x001\x00\xf7\x00\x00\xcc32\xcd\xbb\x...
13              84  b'GIF89aP\x001\x00\xf7\x00\x00\xdc\xdd\xe1\xb9...
14              85  b'GIF89aP\x001\x00\xf7\x00\x00\xb4\xbc\xc6\xa5...

           ThumbnailPhotoFileName  \
0    no_image_available_small.gif
1       racer02_black_f_small.gif
2         racer02_black_small.gif
3        racer02_blue_f_small.gif
4          racer02_blue_small.gif
5       racer02_green_f_small.gif
6         racer02_green_small.gif
7      hotrodbike_black_small.gif
8       hotrodbike_blue_small.gif
9          hotrodbike_f_small.gif
10  hotrodbike_f_silver_small.gif
11           hotrodbike_small.gif
12       hotrodbike_red_small.gif
13    hotrodbike_silver_small.gif
14    hotrodbike_yellow_small.gif

                                           LargePhoto  \
0   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
1   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xd3\xd3\x...
2   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x86\x87\x...
3   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8e\xaf\x...
4   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8b\x99\x...
5   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xca\xcb\x...
6   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00DEI0\x94\x...
7   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xf3\xf3\x...
8   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xf4\xf4\x...
9   b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x03\x00\x...
10  b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00;?K+.9[\xa...
11  b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xf5\xf5\x...
12  b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xf5\xf5\x...
13  b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xeb\xeb\x...
14  b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...

               LargePhotoFileName            ModifiedDate
0    no_image_available_large.gif 2008-04-30 00:00:00.000
1       racer02_black_f_large.gif 2008-04-30 00:00:00.000
2         racer02_black_large.gif 2012-10-19 09:56:38.273
3        racer02_blue_f_large.gif 2012-10-19 09:56:38.273
4          racer02_blue_large.gif 2012-10-19 09:56:38.273
5       racer02_green_f_large.gif 2012-10-19 09:56:38.273
6         racer02_green_large.gif 2012-10-19 09:56:38.273
7      hotrodbike_black_large.gif 2012-04-30 00:00:00.000
8       hotrodbike_blue_large.gif 2012-10-19 09:56:38.273
9          hotrodbike_f_large.gif 2013-04-30 00:00:00.000
10  hotrodbike_f_silver_large.gif 2013-04-30 00:00:00.000
11           hotrodbike_large.gif 2013-04-30 00:00:00.000
12       hotrodbike_red_large.gif 2012-10-19 09:56:38.273
13    hotrodbike_silver_large.gif 2012-04-30 00:00:00.000
14    hotrodbike_yellow_large.gif 2012-10-19 09:56:38.273






QUERY
------
 SELECT ProductID, ProductPhotoID, Primary, ModifiedDate FROM Production.ProductProductPhoto
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'Primary'. (156) (SQLExecDirectW)")
[SQL: SELECT ProductID, ProductPhotoID, Primary, ModifiedDate FROM Production.ProductProductPhoto]
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT ProductReviewID, ProductID, ReviewerName, ReviewDate, EmailAddress, Rating, Comments, ModifiedDate FROM Production.ProductReview
 ----------------------------------------------

   ProductReviewID  ProductID  ReviewerName ReviewDate  \
0                1        709    John Smith 2013-09-18
1                2        937         David 2013-11-13
2                3        937          Jill 2013-11-15
3                4        798  Laura Norman 2013-11-15

                       EmailAddress  Rating  \
0             john@fourthcoffee.com       5
1  david@graphicdesigninstitute.com       4
2            jill@margiestravel.com       2
3            laura@treyresearch.net       5

                                            Comments ModifiedDate
0  I can't believe I'm singing the praises of a p...   2013-09-18
1  A little on the heavy side, but overall the en...   2013-11-13
2  Maybe it's just because I'm new to mountain bi...   2013-11-15
3  The Road-550-W from Adventure Works Cycles is ...   2013-11-15






QUERY
------
 SELECT ProductSubcategoryID, ProductCategoryID, Name, rowguid, ModifiedDate FROM Production.ProductSubcategory
 ----------------------------------------------

    ProductSubcategoryID  ProductCategoryID             Name  \
0                      1                  1   Mountain Bikes
1                      2                  1       Road Bikes
2                      3                  1    Touring Bikes
3                      4                  2       Handlebars
4                      5                  2  Bottom Brackets
5                      6                  2           Brakes
6                      7                  2           Chains
7                      8                  2        Cranksets
8                      9                  2      Derailleurs
9                     10                  2            Forks
10                    11                  2         Headsets
11                    12                  2  Mountain Frames
12                    13                  2           Pedals
13                    14                  2      Road Frames
14                    15                  2          Saddles

                                 rowguid ModifiedDate
0   2D364ADE-264A-433C-B092-4FCBF3804E01   2008-04-30
1   000310C0-BCC8-42C4-B0C3-45AE611AF06B   2008-04-30
2   02C5061D-ECDC-4274-B5F1-E91D76BC3F37   2008-04-30
3   3EF2C725-7135-4C85-9AE6-AE9A3BDD9283   2008-04-30
4   A9E54089-8A1E-4CF5-8646-E3801F685934   2008-04-30
5   D43BA4A3-EF0D-426B-90EB-4BE4547DD30C   2008-04-30
6   E93A7231-F16C-4B0F-8C41-C73FDEC62DA0   2008-04-30
7   4F644521-422B-4F19-974A-E3DF6102567E   2008-04-30
8   1830D70C-AA2A-40C0-A271-5BA86F38F8BF   2008-04-30
9   B5F9BA42-B69B-4FDD-B2EC-57FB7B42E3CF   2008-04-30
10  7C782BBE-5A16-495A-AA50-10AFE5A84AF2   2008-04-30
11  61B21B65-E16A-4BE7-9300-4D8E9DB861BE   2008-04-30
12  6D24AC07-7A84-4849-864A-865A14125BC9   2008-04-30
13  5515F857-075B-4F9A-87B7-43B4997077B3   2008-04-30
14  049FFFA3-9D30-46DF-82F7-F20730EC02B3   2008-04-30






QUERY
------
 SELECT ScrapReasonID, Name, ModifiedDate FROM Production.ScrapReason
 ----------------------------------------------

    ScrapReasonID                             Name ModifiedDate
0               1    Brake assembly not as ordered   2008-04-30
1               2                  Color incorrect   2008-04-30
2               3                   Gouge in metal   2008-04-30
3               4          Drill pattern incorrect   2008-04-30
4               5             Drill size too large   2008-04-30
5               6             Drill size too small   2008-04-30
6               7                  Handling damage   2008-04-30
7               8             Paint process failed   2008-04-30
8               9            Primer process failed   2008-04-30
9              10     Seat assembly not as ordered   2008-04-30
10             11               Stress test failed   2008-04-30
11             12  Thermoform temperature too high   2008-04-30
12             13   Thermoform temperature too low   2008-04-30
13             14             Trim length too long   2008-04-30
14             15            Trim length too short   2008-04-30






QUERY
------
 SELECT TransactionID, ProductID, ReferenceOrderID, ReferenceOrderLineID, TransactionDate, TransactionType, Quantity, ActualCost, ModifiedDate FROM Production.TransactionHistory
 ----------------------------------------------

    TransactionID  ProductID  ReferenceOrderID  ReferenceOrderLineID  \
0          100000        784             41590                     0
1          100001        794             41591                     0
2          100002        797             41592                     0
3          100003        798             41593                     0
4          100004        799             41594                     0
5          100005        800             41595                     0
6          100006        801             41596                     0
7          100007        954             41597                     0
8          100008        955             41598                     0
9          100009        966             41599                     0
10         100010        968             41600                     0
11         100011        972             41601                     0
12         100012        973             41602                     0
13         100013        974             41603                     0
14         100014        977             41604                     0

   TransactionDate TransactionType  Quantity  ActualCost ModifiedDate
0       2013-07-31               W         2         0.0   2013-07-31
1       2013-07-31               W         1         0.0   2013-07-31
2       2013-07-31               W         1         0.0   2013-07-31
3       2013-07-31               W         1         0.0   2013-07-31
4       2013-07-31               W         1         0.0   2013-07-31
5       2013-07-31               W         1         0.0   2013-07-31
6       2013-07-31               W         1         0.0   2013-07-31
7       2013-07-31               W         1         0.0   2013-07-31
8       2013-07-31               W         1         0.0   2013-07-31
9       2013-07-31               W         1         0.0   2013-07-31
10      2013-07-31               W         1         0.0   2013-07-31
11      2013-07-31               W         1         0.0   2013-07-31
12      2013-07-31               W         1         0.0   2013-07-31
13      2013-07-31               W         1         0.0   2013-07-31
14      2013-07-31               W         1         0.0   2013-07-31






QUERY
------
 SELECT TransactionID, ProductID, ReferenceOrderID, ReferenceOrderLineID, TransactionDate, TransactionType, Quantity, ActualCost, ModifiedDate FROM Production.TransactionHistoryArchive
 ----------------------------------------------

    TransactionID  ProductID  ReferenceOrderID  ReferenceOrderLineID  \
0               1          1                 1                     1
1               2        359                 2                     1
2               3        360                 2                     2
3               4        530                 3                     1
4               5          4                 4                     1
5               6        512                 5                     1
6               7        513                 6                     1
7               8        317                 7                     1
8               9        318                 7                     2
9              10        319                 7                     3
10             11        403                 8                     1
11             12        404                 8                     2
12             13        405                 8                     3
13             14        406                 8                     4
14             15        407                 8                     5

   TransactionDate TransactionType  Quantity  ActualCost ModifiedDate
0       2011-04-16               P         4     50.2600   2011-04-16
1       2011-04-16               P         3     45.1200   2011-04-16
2       2011-04-16               P         3     45.5805   2011-04-16
3       2011-04-16               P       550     16.0860   2011-04-16
4       2011-04-16               P         3     57.0255   2011-04-16
5       2011-04-30               P       550     37.0860   2011-04-30
6       2011-04-30               P       550     26.5965   2011-04-30
7       2011-04-30               P       550     27.0585   2011-04-30
8       2011-04-30               P       550     33.5790   2011-04-30
9       2011-04-30               P       550     46.0635   2011-04-30
10      2011-04-30               P         3     47.4705   2011-04-30
11      2011-04-30               P         3     45.3705   2011-04-30
12      2011-04-30               P         3     49.6440   2011-04-30
13      2011-04-30               P         3     45.3705   2011-04-30
14      2011-04-30               P         3     43.2705   2011-04-30






QUERY
------
 SELECT UnitMeasureCode, Name, ModifiedDate FROM Production.UnitMeasure
 ----------------------------------------------

   UnitMeasureCode               Name ModifiedDate
0              BOX              Boxes   2008-04-30
1              BTL             Bottle   2008-04-30
2              C              Celsius   2008-04-30
3              CAN           Canister   2008-04-30
4              CAR             Carton   2008-04-30
5              CBM       Cubic meters   2008-04-30
6              CCM   Cubic centimeter   2008-04-30
7              CDM    Cubic decimeter   2008-04-30
8              CM          Centimeter   2008-04-30
9              CM2  Square centimeter   2008-04-30
10             CR               Crate   2008-04-30
11             CS                Case   2008-04-30
12             CTN          Container   2008-04-30
13             DM           Decimeter   2008-04-30
14             DZ               Dozen   2008-04-30






QUERY
------
 SELECT WorkOrderID, ProductID, OrderQty, StockedQty, ScrappedQty, StartDate, EndDate, DueDate, ScrapReasonID, ModifiedDate FROM Production.WorkOrder
 ----------------------------------------------

    WorkOrderID  ProductID  OrderQty  StockedQty  ScrappedQty  StartDate  \
0             1        722         8           8            0 2011-06-03
1             2        725        15          15            0 2011-06-03
2             3        726         9           9            0 2011-06-03
3             4        729        16          16            0 2011-06-03
4             5        730        14          14            0 2011-06-03
5             6        732        16          16            0 2011-06-03
6             7        733         4           4            0 2011-06-03
7             8        738        19          19            0 2011-06-03
8             9        741         2           2            0 2011-06-03
9            10        742         3           3            0 2011-06-03
10           11        743         1           1            0 2011-06-03
11           12        745         1           1            0 2011-06-03
12           13        747         4           4            0 2011-06-03
13           14        748         2           2            0 2011-06-03
14           15        749         4           4            0 2011-06-03

      EndDate    DueDate  ScrapReasonID ModifiedDate
0  2011-06-13 2011-06-14            NaN   2011-06-13
1  2011-06-13 2011-06-14            NaN   2011-06-13
2  2011-06-13 2011-06-14            NaN   2011-06-13
3  2011-06-13 2011-06-14            NaN   2011-06-13
4  2011-06-13 2011-06-14            NaN   2011-06-13
5  2011-06-13 2011-06-14            NaN   2011-06-13
6  2011-06-13 2011-06-14            NaN   2011-06-13
7  2011-06-13 2011-06-14            NaN   2011-06-13
8  2011-06-13 2011-06-14            NaN   2011-06-13
9  2011-06-13 2011-06-14            NaN   2011-06-13
10 2011-06-13 2011-06-14            NaN   2011-06-13
11 2011-06-13 2011-06-14            NaN   2011-06-13
12 2011-06-19 2011-06-14            NaN   2011-06-19
13 2011-06-19 2011-06-14            NaN   2011-06-19
14 2011-06-19 2011-06-14            NaN   2011-06-19






QUERY
------
 SELECT WorkOrderID, ProductID, OperationSequence, LocationID, ScheduledStartDate, ScheduledEndDate, ActualStartDate, ActualEndDate, ActualResourceHrs, PlannedCost, ActualCost, ModifiedDate FROM Production.WorkOrderRouting
 ----------------------------------------------

    WorkOrderID  ProductID  OperationSequence  LocationID ScheduledStartDate  \
0            13        747                  1          10         2011-06-03
1            13        747                  2          20         2011-06-03
2            13        747                  3          30         2011-06-03
3            13        747                  4          40         2011-06-03
4            13        747                  6          50         2011-06-03
5            13        747                  7          60         2011-06-03
6            14        748                  1          10         2011-06-03
7            14        748                  2          20         2011-06-03
8            14        748                  3          30         2011-06-03
9            14        748                  5          45         2011-06-03
10           14        748                  6          50         2011-06-03
11           14        748                  7          60         2011-06-03
12           15        749                  7          60         2011-06-03
13           16        753                  7          60         2011-06-03
14           17        754                  7          60         2011-06-03

   ScheduledEndDate ActualStartDate ActualEndDate  ActualResourceHrs  \
0        2011-06-14      2011-06-03    2011-06-19                4.1
1        2011-06-14      2011-06-03    2011-06-19                3.5
2        2011-06-14      2011-06-03    2011-06-19                1.0
3        2011-06-14      2011-06-03    2011-06-19                2.0
4        2011-06-14      2011-06-03    2011-06-19                3.0
5        2011-06-14      2011-06-03    2011-06-19                4.0
6        2011-06-14      2011-06-03    2011-06-19                4.1
7        2011-06-14      2011-06-03    2011-06-19                3.5
8        2011-06-14      2011-06-03    2011-06-19                1.0
9        2011-06-14      2011-06-03    2011-06-19                2.0
10       2011-06-14      2011-06-03    2011-06-19                3.0
11       2011-06-14      2011-06-03    2011-06-19                4.0
12       2011-06-14      2011-06-03    2011-06-19                4.0
13       2011-06-14      2011-06-03    2011-06-19                4.0
14       2011-06-14      2011-06-03    2011-06-19                4.0

    PlannedCost  ActualCost ModifiedDate
0         92.25       92.25   2011-06-19
1         87.50       87.50   2011-06-19
2         14.50       14.50   2011-06-19
3         31.50       31.50   2011-06-19
4         36.75       36.75   2011-06-19
5         49.00       49.00   2011-06-19
6         92.25       92.25   2011-06-19
7         87.50       87.50   2011-06-19
8         14.50       14.50   2011-06-19
9         36.00       36.00   2011-06-19
10        36.75       36.75   2011-06-19
11        49.00       49.00   2011-06-19
12        49.00       49.00   2011-06-19
13        49.00       49.00   2011-06-19
14        49.00       49.00   2011-06-19






QUERY
------
 SELECT ProductID, BusinessEntityID, AverageLeadTime, StandardPrice, LastReceiptCost, LastReceiptDate, MinOrderQty, MaxOrderQty, OnOrderQty, UnitMeasureCode, ModifiedDate FROM Purchasing.ProductVendor
 ----------------------------------------------

    ProductID  BusinessEntityID  AverageLeadTime  StandardPrice  \
0           1              1580               17          47.87
1           2              1688               19          39.92
2           4              1650               17          54.31
3         317              1578               19          28.17
4         317              1678               17          25.77
5         318              1578               19          34.38
6         318              1678               17          31.98
7         319              1556               19          44.21
8         319              1578               19          46.27
9         319              1678               17          43.87
10        320              1514               19          47.28
11        320              1602               17          45.21
12        320              1604               17          43.21
13        321              1514               19          42.21
14        321              1602               17          40.76

    LastReceiptCost LastReceiptDate  MinOrderQty  MaxOrderQty  OnOrderQty  \
0           50.2635      2011-08-29            1            5         3.0
1           41.9160      2011-08-29            1            5         3.0
2           57.0255      2011-08-29            1            5         NaN
3           29.5785      2011-08-29          100         1000       300.0
4           27.0585      2011-08-25          100         1000         NaN
5           36.0990      2011-08-29          100         1000         NaN
6           33.5790      2011-08-25          100         1000       300.0
7           46.4205      2011-08-29          100         1000       300.0
8           48.5835      2011-08-29          100         1000         NaN
9           46.0635      2011-08-25          100         1000         NaN
10          49.6440      2011-08-29            1            5         3.0
11          47.4705      2011-08-19            1            5         NaN
12          45.3705      2011-08-25            1            5         NaN
13          44.3205      2011-08-29            1            5         NaN
14          42.7980      2011-08-19            1            5         NaN

   UnitMeasureCode ModifiedDate
0              CS    2011-08-29
1              CTN   2011-08-29
2              CTN   2011-08-29
3              EA    2011-08-29
4              EA    2011-08-25
5              EA    2011-08-29
6              EA    2011-08-25
7              EA    2011-08-29
8              EA    2011-08-29
9              EA    2011-08-25
10             CAN   2011-08-29
11             CAN   2011-08-19
12             CAN   2011-08-25
13             CAN   2011-08-29
14             CAN   2011-08-19






QUERY
------
 SELECT PurchaseOrderID, PurchaseOrderDetailID, DueDate, OrderQty, ProductID, UnitPrice, LineTotal, ReceivedQty, RejectedQty, StockedQty, ModifiedDate FROM Purchasing.PurchaseOrderDetail
 ----------------------------------------------

    PurchaseOrderID  PurchaseOrderDetailID    DueDate  OrderQty  ProductID  \
0                 1                      1 2011-04-30         4          1
1                 2                      2 2011-04-30         3        359
2                 2                      3 2011-04-30         3        360
3                 3                      4 2011-04-30       550        530
4                 4                      5 2011-04-30         3          4
5                 5                      6 2011-05-14       550        512
6                 6                      7 2011-05-14       550        513
7                 7                      8 2011-05-14       550        317
8                 7                      9 2011-05-14       550        318
9                 7                     10 2011-05-14       550        319
10                8                     11 2011-05-14         3        403
11                8                     12 2011-05-14         3        404
12                8                     13 2011-05-14         3        405
13                8                     14 2011-05-14         3        406
14                8                     15 2011-05-14         3        407

    UnitPrice   LineTotal  ReceivedQty  RejectedQty  StockedQty ModifiedDate
0     50.2600    201.0400          3.0          0.0         3.0   2011-04-23
1     45.1200    135.3600          3.0          0.0         3.0   2011-04-23
2     45.5805    136.7415          3.0          0.0         3.0   2011-04-23
3     16.0860   8847.3000        550.0          0.0       550.0   2011-04-23
4     57.0255    171.0765          2.0          1.0         1.0   2011-04-23
5     37.0860  20397.3000        550.0          0.0       550.0   2011-05-07
6     26.5965  14628.0750        468.0          0.0       468.0   2011-05-07
7     27.0585  14882.1750        550.0          0.0       550.0   2011-05-07
8     33.5790  18468.4500        550.0          0.0       550.0   2011-05-07
9     46.0635  25334.9250        550.0          0.0       550.0   2011-05-07
10    47.4705    142.4115          3.0          0.0         3.0   2011-05-07
11    45.3705    136.1115          3.0          0.0         3.0   2011-05-07
12    49.6440    148.9320          3.0          0.0         3.0   2011-05-07
13    45.3705    136.1115          3.0          0.0         3.0   2011-05-07
14    43.2705    129.8115          3.0          0.0         3.0   2011-05-07






QUERY
------
 SELECT PurchaseOrderID, RevisionNumber, Status, EmployeeID, VendorID, ShipMethodID, OrderDate, ShipDate, SubTotal, TaxAmt, Freight, TotalDue, ModifiedDate FROM Purchasing.PurchaseOrderHeader
 ----------------------------------------------

    PurchaseOrderID  RevisionNumber  Status  EmployeeID  VendorID  \
0                 1               4       4         258      1580
1                 2               4       1         254      1496
2                 3               4       4         257      1494
3                 4               4       3         261      1650
4                 5               4       4         251      1654
5                 6               4       4         253      1664
6                 7               4       4         255      1678
7                 8               4       4         256      1616
8                 9               5       4         259      1492
9                10               4       4         250      1602
10               11               4       4         258      1540
11               12               4       4         254      1628
12               13               4       4         257      1604
13               14               4       3         261      1690
14               15               4       4         251      1566

    ShipMethodID  OrderDate   ShipDate    SubTotal     TaxAmt    Freight  \
0              3 2011-04-16 2011-04-25    201.0400    16.0832     5.0260
1              5 2011-04-16 2011-04-25    272.1015    21.7681     6.8025
2              2 2011-04-16 2011-04-25   8847.3000   707.7840   221.1825
3              5 2011-04-16 2011-04-25    171.0765    13.6861     4.2769
4              4 2011-04-30 2011-05-09  20397.3000  1631.7840   509.9325
5              3 2011-04-30 2011-05-09  14628.0750  1170.2460   365.7019
6              3 2011-04-30 2011-05-09  58685.5500  4694.8440  1467.1388
7              5 2011-04-30 2011-05-09    693.3780    55.4702    17.3345
8              5 2011-12-14 2011-12-23    694.1655    55.5332    17.3541
9              5 2011-12-14 2011-12-23   1796.0355   143.6828    44.9009
10             4 2011-12-14 2011-12-23    501.1965    40.0957    12.5299
11             5 2011-12-14 2011-12-23  34644.2250  2771.5380   866.1056
12             4 2011-12-14 2011-12-23   1839.5055   147.1604    45.9876
13             5 2011-12-14 2011-12-23    146.2860    11.7029     3.6572
14             5 2011-12-14 2011-12-23    102.5640     8.2051     2.5641

      TotalDue ModifiedDate
0     222.1492   2011-04-25
1     300.6721   2011-04-25
2    9776.2665   2011-04-25
3     189.0395   2011-04-25
4   22539.0165   2011-05-09
5   16164.0229   2011-05-09
6   64847.5328   2011-05-09
7     766.1827   2011-05-09
8     767.0528   2011-12-23
9    1984.6192   2011-12-23
10    553.8221   2011-12-23
11  38281.8686   2011-12-23
12   2032.6535   2011-12-23
13    161.6461   2011-12-23
14    113.3332   2011-12-23






QUERY
------
 SELECT ShipMethodID, Name, ShipBase, ShipRate, rowguid, ModifiedDate FROM Purchasing.ShipMethod
 ----------------------------------------------

   ShipMethodID                Name  ShipBase  ShipRate  \
0             1  XRQ - TRUCK GROUND      3.95      0.99
1             2        ZY - EXPRESS      9.95      1.99
2             3   OVERSEAS - DELUXE     29.95      2.99
3             4    OVERNIGHT J-FAST     21.95      1.29
4             5   CARGO TRANSPORT 5      8.99      1.49

                                rowguid ModifiedDate
0  6BE756D9-D7BE-4463-8F2C-AE60C710D606   2008-04-30
1  3455079B-F773-4DC6-8F1E-2A58649C4AB8   2008-04-30
2  22F4E461-28CF-4ACE-A980-F686CF112EC8   2008-04-30
3  107E8356-E7A8-463D-B60C-079FFF467F3F   2008-04-30
4  B166019A-B134-4E76-B957-2B0490C610ED   2008-04-30






QUERY
------
 SELECT BusinessEntityID, AccountNumber, Name, CreditRating, PreferredVendorStatus, ActiveFlag, PurchasingWebServiceURL, ModifiedDate FROM Purchasing.Vendor
 ----------------------------------------------

    BusinessEntityID AccountNumber                        Name  CreditRating  \
0               1492  AUSTRALI0001     Australia Bike Retailer             1
1               1494  ALLENSON0001             Allenson Cycles             2
2               1496  ADVANCED0001           Advanced Bicycles             1
3               1498    TRIKES0001                Trikes, Inc.             2
4               1500   MORGANB0001     Morgan Bike Accessories             1
5               1502   CYCLING0001              Cycling Master             1
6               1504   CHICAGO0002            Chicago Rent-All             2
7               1506  GREENWOO0001  Greenwood Athletic Company             1
8               1508   COMPETE0001    Compete Enterprises, Inc             1
9               1510  INTERNAT0001               International             1
10              1512   LIGHTSP0001                 Light Speed             1
11              1514  TRAINING0001            Training Systems             1
12              1516   GARDNER0001      Gardner Touring Cycles             1
13              1518  INTERNAT0004   International Trek Center             1
14              1520     G&KBI0001         G & K Bicycle Corp.             1

    PreferredVendorStatus  ActiveFlag PurchasingWebServiceURL ModifiedDate
0                    True        True                    None   2011-12-23
1                    True        True                    None   2011-04-25
2                    True        True                    None   2011-04-25
3                    True        True                    None   2012-02-03
4                    True        True                    None   2012-02-02
5                    True        True                    None   2011-12-24
6                    True        True                    None   2011-12-24
7                    True        True                    None   2012-01-25
8                    True        True                    None   2011-12-24
9                    True        True                    None   2012-01-25
10                   True        True                    None   2011-12-23
11                   True        True                    None   2012-02-03
12                  False       False                    None   2012-01-25
13                   True        True                    None   2011-12-24
14                   True        True                    None   2011-12-24






QUERY
------
 SELECT CountryRegionCode, CurrencyCode, ModifiedDate FROM Sales.CountryRegionCurrency
 ----------------------------------------------

   CountryRegionCode CurrencyCode            ModifiedDate
0                 AE          AED 2014-02-08 10:17:21.510
1                 AR          ARS 2014-02-08 10:17:21.510
2                 AT          ATS 2014-02-08 10:17:21.510
3                 AT          EUR 2008-04-30 00:00:00.000
4                 AU          AUD 2014-02-08 10:17:21.510
5                 BB          BBD 2014-02-08 10:17:21.510
6                 BD          BDT 2014-02-08 10:17:21.510
7                 BE          BEF 2014-02-08 10:17:21.510
8                 BE          EUR 2008-04-30 00:00:00.000
9                 BG          BGN 2014-02-08 10:17:21.510
10                BH          BHD 2014-02-08 10:17:21.510
11                BN          BND 2014-02-08 10:17:21.510
12                BO          BOB 2014-02-08 10:17:21.510
13                BR          BRL 2014-02-08 10:17:21.510
14                BS          BSD 2014-02-08 10:17:21.510






QUERY
------
 SELECT CreditCardID, CardType, CardNumber, ExpMonth, ExpYear, ModifiedDate FROM Sales.CreditCard
 ----------------------------------------------

    CreditCardID       CardType      CardNumber  ExpMonth  ExpYear  \
0              1   SuperiorCard  33332664695310        11     2006
1              2    Distinguish  55552127249722         8     2005
2              3  ColonialVoice  77778344838353         7     2005
3              4  ColonialVoice  77774915718248         7     2006
4              5          Vista  11114404600042         4     2005
5              6    Distinguish  55557132036181         9     2006
6              7    Distinguish  55553635401028         6     2007
7              8   SuperiorCard  33336081193101         7     2007
8              9    Distinguish  55553465625901         2     2005
9             10   SuperiorCard  33332126386493         8     2008
10            11   SuperiorCard  33335352517363        10     2008
11            12   SuperiorCard  33334316194519         4     2008
12            13          Vista  11119775847802        11     2005
13            14    Distinguish  55553287727410        10     2006
14            15   SuperiorCard  33336866065599        11     2008

   ModifiedDate
0    2013-07-29
1    2013-12-05
2    2014-01-14
3    2013-05-20
4    2013-02-01
5    2014-04-10
6    2013-02-01
7    2013-06-30
8    2013-09-23
9    2011-08-31
10   2014-05-04
11   2012-05-30
12   2014-03-01
13   2013-11-19
14   2013-01-29






QUERY
------
 SELECT CurrencyCode, Name, ModifiedDate FROM Sales.Currency
 ----------------------------------------------

   CurrencyCode                           Name ModifiedDate
0           AED                 Emirati Dirham   2008-04-30
1           AFA                        Afghani   2008-04-30
2           ALL                            Lek   2008-04-30
3           AMD                  Armenian Dram   2008-04-30
4           ANG  Netherlands Antillian Guilder   2008-04-30
5           AOA                         Kwanza   2008-04-30
6           ARS                 Argentine Peso   2008-04-30
7           ATS                       Shilling   2008-04-30
8           AUD              Australian Dollar   2008-04-30
9           AWG                 Aruban Guilder   2008-04-30
10          AZM            Azerbaijanian Manat   2008-04-30
11          BBD                Barbados Dollar   2008-04-30
12          BDT                           Taka   2008-04-30
13          BEF                  Belgian Franc   2008-04-30
14          BGN                  Bulgarian Lev   2008-04-30






QUERY
------
 SELECT CurrencyRateID, CurrencyRateDate, FromCurrencyCode, ToCurrencyCode, AverageRate, EndOfDayRate, ModifiedDate FROM Sales.CurrencyRate
 ----------------------------------------------

    CurrencyRateID CurrencyRateDate FromCurrencyCode ToCurrencyCode  \
0                1       2011-05-31              USD            ARS
1                2       2011-05-31              USD            AUD
2                3       2011-05-31              USD            BRL
3                4       2011-05-31              USD            CAD
4                5       2011-05-31              USD            CNY
5                6       2011-05-31              USD            DEM
6                7       2011-05-31              USD            EUR
7                8       2011-05-31              USD            FRF
8                9       2011-05-31              USD            GBP
9               10       2011-05-31              USD            JPY
10              11       2011-05-31              USD            MXN
11              12       2011-05-31              USD            SAR
12              13       2011-05-31              USD            VEB
13              14       2011-06-01              USD            ARS
14              15       2011-06-01              USD            AUD

    AverageRate  EndOfDayRate ModifiedDate
0        1.0000        1.0002   2011-05-31
1        1.5491        1.5500   2011-05-31
2        1.9379        1.9419   2011-05-31
3        1.4641        1.4683   2011-05-31
4        8.2781        8.2784   2011-05-31
5        1.8967        1.8976   2011-05-31
6        0.9697        0.9703   2011-05-31
7        6.3611        6.3613   2011-05-31
8        0.6183        0.6183   2011-05-31
9      104.9100      104.9580   2011-05-31
10       9.3740        9.3840   2011-05-31
11       3.7507        3.7584   2011-05-31
12     634.5099      634.6000   2011-05-31
13       1.0000        0.9991   2011-06-01
14       1.5559        1.5558   2011-06-01






QUERY
------
 SELECT CustomerID, PersonID, StoreID, TerritoryID, AccountNumber, rowguid, ModifiedDate FROM Sales.Customer
 ----------------------------------------------

    CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0            1       NaN    934.0            1    AW00000001
1            2       NaN   1028.0            1    AW00000002
2            3       NaN    642.0            4    AW00000003
3            4       NaN    932.0            4    AW00000004
4            5       NaN   1026.0            4    AW00000005
5            6       NaN    644.0            4    AW00000006
6            7       NaN    930.0            1    AW00000007
7            8       NaN   1024.0            5    AW00000008
8            9       NaN    620.0            5    AW00000009
9           10       NaN    928.0            6    AW00000010
10          11       NaN   1022.0            6    AW00000011
11          12       NaN    622.0            6    AW00000012
12          13       NaN    434.0            7    AW00000013
13          14       NaN   1020.0            8    AW00000014
14          15       NaN    624.0            9    AW00000015

                                 rowguid            ModifiedDate
0   3F5AE95E-B87D-4AED-95B4-C3797AFCB74F 2014-09-12 11:15:07.263
1   E552F657-A9AF-4A7D-A645-C429D6E02491 2014-09-12 11:15:07.263
2   130774B1-DB21-4EF3-98C8-C104BCD6ED6D 2014-09-12 11:15:07.263
3   FF862851-1DAA-4044-BE7C-3E85583C054D 2014-09-12 11:15:07.263
4   83905BDC-6F5E-4F71-B162-C98DA069F38A 2014-09-12 11:15:07.263
5   1A92DF88-BFA2-467D-BD54-FCB9E647FDD7 2014-09-12 11:15:07.263
6   03E9273E-B193-448E-9823-FE0C44AEED78 2014-09-12 11:15:07.263
7   801368B1-4323-4BFA-8BEA-5B5B1E4BD4A0 2014-09-12 11:15:07.263
8   B900BB7F-23C3-481D-80DA-C49A5BD6F772 2014-09-12 11:15:07.263
9   CDB6698D-2FF1-4FBA-8F22-60AD1D11DABD 2014-09-12 11:15:07.263
10  750F3495-59C4-48A0-80E1-E37EC60E77D9 2014-09-12 11:15:07.263
11  947BCAF1-1F32-44F3-B9C3-0011F95FBE54 2014-09-12 11:15:07.263
12  B0FA5854-2511-439B-A7AC-50C9C460B175 2014-09-12 11:15:07.263
13  2F96BEDC-723D-468F-834B-B2B8AE79C849 2014-09-12 11:15:07.263
14  0340737B-D4FA-4795-93AA-CAEB8371BCF9 2014-09-12 11:15:07.263






QUERY
------
 SELECT BusinessEntityID, CreditCardID, ModifiedDate FROM Sales.PersonCreditCard
 ----------------------------------------------

    BusinessEntityID  CreditCardID ModifiedDate
0                293         17038   2013-07-31
1                295         15369   2011-08-01
2                297          8010   2011-08-01
3                299          5316   2013-07-31
4                301          6653   2011-05-31
5                303          9010   2012-07-31
6                305          8937   2011-05-31
7                307         16124   2012-10-30
8                309          9478   2011-07-01
9                311         17600   2011-08-01
10               313          1970   2013-06-30
11               315          8274   2013-07-31
12               317         13045   2011-05-31
13               319         13601   2011-08-01
14               323          5958   2012-07-31






QUERY
------
 SELECT SalesOrderID, SalesOrderDetailID, CarrierTrackingNumber, OrderQty, ProductID, SpecialOfferID, UnitPrice, UnitPriceDiscount, LineTotal, rowguid, ModifiedDate FROM Sales.SalesOrderDetail
 ----------------------------------------------

    SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  \
0          43659                   1          4911-403C-98         1
1          43659                   2          4911-403C-98         3
2          43659                   3          4911-403C-98         1
3          43659                   4          4911-403C-98         1
4          43659                   5          4911-403C-98         1
5          43659                   6          4911-403C-98         2
6          43659                   7          4911-403C-98         1
7          43659                   8          4911-403C-98         3
8          43659                   9          4911-403C-98         1
9          43659                  10          4911-403C-98         6
10         43659                  11          4911-403C-98         2
11         43659                  12          4911-403C-98         4
12         43660                  13          6431-4D57-83         1
13         43660                  14          6431-4D57-83         1
14         43661                  15          4E0A-4F89-AE         1

    ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount  LineTotal  \
0         776               1  2024.9940                0.0  2024.9940
1         777               1  2024.9940                0.0  6074.9820
2         778               1  2024.9940                0.0  2024.9940
3         771               1  2039.9940                0.0  2039.9940
4         772               1  2039.9940                0.0  2039.9940
5         773               1  2039.9940                0.0  4079.9880
6         774               1  2039.9940                0.0  2039.9940
7         714               1    28.8404                0.0    86.5212
8         716               1    28.8404                0.0    28.8404
9         709               1     5.7000                0.0    34.2000
10        712               1     5.1865                0.0    10.3730
11        711               1    20.1865                0.0    80.7460
12        762               1   419.4589                0.0   419.4589
13        758               1   874.7940                0.0   874.7940
14        745               1   809.7600                0.0   809.7600

                                 rowguid ModifiedDate
0   B207C96D-D9E6-402B-8470-2CC176C42283   2011-05-31
1   7ABB600D-1E77-41BE-9FE5-B9142CFC08FA   2011-05-31
2   475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F   2011-05-31
3   04C4DE91-5815-45D6-8670-F462719FBCE3   2011-05-31
4   5A74C7D2-E641-438E-A7AC-37BF23280301   2011-05-31
5   CE472532-A4C0-45BA-816E-EEFD3FD848B3   2011-05-31
6   80667840-F962-4EE3-96E0-AECA108E0D4F   2011-05-31
7   E9D54907-E7B7-4969-80D9-76BA69F8A836   2011-05-31
8   AA542630-BDCD-4CE5-89A0-C1BF82747725   2011-05-31
9   AC769034-3C2F-495C-A5A7-3B71CDB25D4E   2011-05-31
10  06A66921-6B9F-4199-A912-DDAFD383472B   2011-05-31
11  0E371EE3-253E-4BB0-B813-83CF4224F972   2011-05-31
12  419A1302-AC7A-4044-97B2-66D9D14CD02E   2011-05-31
13  5D0B2B03-1D4C-4C34-9696-C14C58E7301C   2011-05-31
14  EDE1759E-6733-4C7B-A43F-DC6F48002D8A   2011-05-31






QUERY
------
 SELECT SalesOrderID, RevisionNumber, OrderDate, DueDate, ShipDate, Status, OnlineOrderFlag, SalesOrderNumber, PurchaseOrderNumber, AccountNumber, CustomerID, SalesPersonID, TerritoryID, BillToAddressID, ShipToAddressID, ShipMethodID, CreditCardID, CreditCardApprovalCode, CurrencyRateID, SubTotal, TaxAmt, Freight, TotalDue, Comment, rowguid, ModifiedDate FROM Sales.SalesOrderHeader
 ----------------------------------------------

    SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0          43659               8 2011-05-31 2011-06-12 2011-06-07       5
1          43660               8 2011-05-31 2011-06-12 2011-06-07       5
2          43661               8 2011-05-31 2011-06-12 2011-06-07       5
3          43662               8 2011-05-31 2011-06-12 2011-06-07       5
4          43663               8 2011-05-31 2011-06-12 2011-06-07       5
5          43664               8 2011-05-31 2011-06-12 2011-06-07       5
6          43665               8 2011-05-31 2011-06-12 2011-06-07       5
7          43666               8 2011-05-31 2011-06-12 2011-06-07       5
8          43667               8 2011-05-31 2011-06-12 2011-06-07       5
9          43668               8 2011-05-31 2011-06-12 2011-06-07       5
10         43669               8 2011-05-31 2011-06-12 2011-06-07       5
11         43670               8 2011-05-31 2011-06-12 2011-06-07       5
12         43671               8 2011-05-31 2011-06-12 2011-06-07       5
13         43672               8 2011-05-31 2011-06-12 2011-06-07       5
14         43673               8 2011-05-31 2011-06-12 2011-06-07       5

    OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  \
0             False          SO43659         PO522145787  10-4020-000676
1             False          SO43660       PO18850127500  10-4020-000117
2             False          SO43661       PO18473189620  10-4020-000442
3             False          SO43662       PO18444174044  10-4020-000227
4             False          SO43663       PO18009186470  10-4020-000510
5             False          SO43664       PO16617121983  10-4020-000397
6             False          SO43665       PO16588191572  10-4020-000146
7             False          SO43666       PO16008173883  10-4020-000511
8             False          SO43667       PO15428132599  10-4020-000646
9             False          SO43668       PO14732180295  10-4020-000514
10            False          SO43669       PO14123169936  10-4020-000578
11            False          SO43670       PO14384116310  10-4020-000504
12            False          SO43671       PO13978119376  10-4020-000200
13            False          SO43672       PO13862153537  10-4020-000119
14            False          SO43673       PO13775141242  10-4020-000618

    CustomerID  SalesPersonID  TerritoryID  BillToAddressID  ShipToAddressID  \
0        29825          279.0            5              985              985
1        29672          279.0            5              921              921
2        29734          282.0            6              517              517
3        29994          282.0            6              482              482
4        29565          276.0            4             1073             1073
5        29898          280.0            1              876              876
6        29580          283.0            1              849              849
7        30052          276.0            4             1074             1074
8        29974          277.0            3              629              629
9        29614          282.0            6              529              529
10       29747          283.0            1              895              895
11       29566          275.0            3              810              810
12       29890          283.0            1              855              855
13       30067          282.0            6              464              464
14       29844          275.0            2              821              821

    ShipMethodID  CreditCardID CreditCardApprovalCode  CurrencyRateID  \
0              5       16281.0          105041Vi84182             NaN
1              5        5618.0          115213Vi29411             NaN
2              5        1346.0            85274Vi6854             4.0
3              5       10456.0          125295Vi53935             4.0
4              5        4322.0           45303Vi22691             NaN
5              5         806.0            95555Vi4081             NaN
6              5       15232.0           35568Vi78804             NaN
7              5       13349.0          105623Vi69217             NaN
8              5       10370.0           55680Vi53503             NaN
9              5        1566.0            85817Vi8045             4.0
10             5       15538.0           25877Vi80261             NaN
11             5       18017.0          105888Vi93490             NaN
12             5       13693.0           25904Vi70960             NaN
13             5        3980.0           95915Vi20982             4.0
14             5        1417.0            35931Vi7271             NaN

      SubTotal     TaxAmt    Freight    TotalDue Comment  \
0   20565.6206  1971.5149   616.0984  23153.2339    None
1    1294.2529   124.2483    38.8276   1457.3288    None
2   32726.4786  3153.7696   985.5530  36865.8012    None
3   28832.5289  2775.1646   867.2389  32474.9324    None
4     419.4589    40.2681    12.5838    472.3108    None
5   24432.6088  2344.9921   732.8100  27510.4109    None
6   14352.7713  1375.9427   429.9821  16158.6961    None
7    5056.4896   486.3747   151.9921   5694.8564    None
8    6107.0820   586.1203   183.1626   6876.3649    None
9   35944.1562  3461.7654  1081.8017  40487.7233    None
10    714.7043    70.5175    22.0367    807.2585    None
11   6122.0820   587.5603   183.6126   6893.2549    None
12   8128.7876   780.8136   244.0042   9153.6054    None
13   6124.1820   587.6023   183.6257   6895.4100    None
14   3746.2015   357.9614   111.8629   4216.0258    None

                                 rowguid ModifiedDate
0   79B65321-39CA-4115-9CBA-8FE0903E12E6   2011-06-07
1   738DC42D-D03B-48A1-9822-F95A67EA7389   2011-06-07
2   D91B9131-18A4-4A11-BC3A-90B6F53E9D74   2011-06-07
3   4A1ECFC0-CC3A-4740-B028-1C50BB48711C   2011-06-07
4   9B1E7A40-6AE0-4AD3-811C-A64951857C4B   2011-06-07
5   22A8A5DA-8C22-42AD-9241-839489B6EF0D   2011-06-07
6   5602C304-853C-43D7-9E79-76E320D476CF   2011-06-07
7   E2A90057-1366-4487-8A7E-8085845FF770   2011-06-07
8   86D5237D-432D-4B21-8ABC-671942F5789D   2011-06-07
9   281CC355-D538-494E-9B44-461B36A826C6   2011-06-07
10  FABFC5C2-E034-4E0E-A573-6F39E9FA0484   2011-06-07
11  573E52A7-573F-40B6-B695-6F3D242E0C6D   2011-06-07
12  005FDA9D-62E1-4001-A4AC-A976A7905F94   2011-06-07
13  194202AA-8E15-4932-A2C4-7A7AC0713639   2011-06-07
14  C5CD3AE9-41F5-4B71-A3F1-D550B928572B   2011-06-07






QUERY
------
 SELECT SalesOrderID, SalesReasonID, ModifiedDate FROM Sales.SalesOrderHeaderSalesReason
 ----------------------------------------------

    SalesOrderID  SalesReasonID ModifiedDate
0          43697              5   2011-05-31
1          43697              9   2011-05-31
2          43702              5   2011-06-01
3          43702              9   2011-06-01
4          43703              5   2011-06-01
5          43703              9   2011-06-01
6          43706              5   2011-06-02
7          43706              9   2011-06-02
8          43707              5   2011-06-02
9          43707              9   2011-06-02
10         43709              5   2011-06-02
11         43709              9   2011-06-02
12         43710              5   2011-06-02
13         43710              9   2011-06-02
14         43711              5   2011-06-03






QUERY
------
 SELECT BusinessEntityID, TerritoryID, SalesQuota, Bonus, CommissionPct, SalesYTD, SalesLastYear, rowguid, ModifiedDate FROM Sales.SalesPerson
 ----------------------------------------------

    BusinessEntityID  TerritoryID  SalesQuota   Bonus  CommissionPct  \
0                274          NaN         NaN     0.0          0.000
1                275          2.0    300000.0  4100.0          0.012
2                276          4.0    250000.0  2000.0          0.015
3                277          3.0    250000.0  2500.0          0.015
4                278          6.0    250000.0   500.0          0.010
5                279          5.0    300000.0  6700.0          0.010
6                280          1.0    250000.0  5000.0          0.010
7                281          4.0    250000.0  3550.0          0.010
8                282          6.0    250000.0  5000.0          0.015
9                283          1.0    250000.0  3500.0          0.012
10               284          1.0    300000.0  3900.0          0.019
11               285          NaN         NaN     0.0          0.000
12               286          9.0    250000.0  5650.0          0.018
13               287          NaN         NaN     0.0          0.000
14               288          8.0    250000.0    75.0          0.018

        SalesYTD  SalesLastYear                               rowguid  \
0   5.596976e+05   0.000000e+00  48754992-9EE0-4C0E-8C94-9451604E3E02
1   3.763178e+06   1.750406e+06  1E0A7274-3064-4F58-88EE-4C6586C87169
2   4.251369e+06   1.439156e+06  4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0
3   3.189418e+06   1.997186e+06  39012928-BFEC-4242-874D-423162C3F567
4   1.453719e+06   1.620277e+06  7A0AE1AB-B283-40F9-91D1-167ABF06D720
5   2.315186e+06   1.849641e+06  52A5179D-3239-4157-AE29-17E868296DC0
6   1.352577e+06   1.927059e+06  BE941A4A-FB50-4947-BDA4-BB8972365B08
7   2.458536e+06   2.073506e+06  35326DDB-7278-4FEF-B3BA-EA137B69094E
8   2.604541e+06   2.038235e+06  31FD7FC1-DC84-4F05-B9A0-762519EACACC
9   1.573013e+06   1.371635e+06  6BAC15B2-8FFB-45A9-B6D5-040E16C2073F
10  1.576562e+06   0.000000e+00  AC94EC04-A2DC-43E3-8654-DD0C546ABC17
11  1.725245e+05   0.000000e+00  CFDBEF27-B1F7-4A56-A878-0221C73BAE67
12  1.421811e+06   2.278549e+06  9B968777-75DC-45BD-A8DF-9CDAA72839E1
13  5.199059e+05   0.000000e+00  1DD1F689-DF74-4149-8600-59555EEF154B
14  1.827067e+06   1.307950e+06  224BB25A-62E3-493E-ACAF-4F8F5C72396A

   ModifiedDate
0    2010-12-28
1    2011-05-24
2    2011-05-24
3    2011-05-24
4    2011-05-24
5    2011-05-24
6    2011-05-24
7    2011-05-24
8    2011-05-24
9    2011-05-24
10   2012-09-23
11   2013-03-07
12   2013-05-23
13   2012-04-09
14   2013-05-23






QUERY
------
 SELECT BusinessEntityID, QuotaDate, SalesQuota, rowguid, ModifiedDate FROM Sales.SalesPersonQuotaHistory
 ----------------------------------------------

    BusinessEntityID  QuotaDate  SalesQuota  \
0                274 2011-05-31     28000.0
1                274 2011-08-31      7000.0
2                274 2011-12-01     91000.0
3                274 2012-02-29    140000.0
4                274 2012-05-30     70000.0
5                274 2012-08-30    154000.0
6                274 2012-11-30    107000.0
7                274 2013-02-28     58000.0
8                274 2013-05-30    263000.0
9                274 2013-08-30    116000.0
10               274 2013-11-30     84000.0
11               274 2014-03-01    187000.0
12               275 2011-05-31    367000.0
13               275 2011-08-31    556000.0
14               275 2011-12-01    502000.0

                                 rowguid ModifiedDate
0   99109BBF-8693-4587-BC23-6036EC89E1BE   2011-04-16
1   DFD01444-8900-461C-8D6F-04598DAE01D4   2011-07-17
2   0A69F453-9689-4CCF-A08C-C644670F5668   2011-10-17
3   DA8D1458-5FB9-4C3E-9EAD-8F5CE1393047   2012-01-15
4   760CEF84-B980-417B-A667-7358C38857F0   2012-04-15
5   FB29E024-F26A-49AA-A7CC-C99AE7BA4853   2012-07-16
6   13947D2C-A254-47C9-8817-CBD186FFA526   2012-10-16
7   BC1A222F-47A0-48D1-9C56-AC873269DC98   2013-01-14
8   8B4E3CBF-F0EF-49C5-9A8C-87679055057E   2013-04-15
9   E9DE95E3-B119-4441-BD1D-B27FC4516022   2013-07-16
10  7CEA47B5-8391-4414-A866-FF6EC6628CD3   2013-10-16
11  0CFB6474-20AA-46D3-A5C0-29DBA2EDA025   2014-01-15
12  5F7E9647-3F08-49B0-A4A4-90257FC78197   2011-04-16
13  87AC1FB7-A3C5-43A6-90AA-2D09AE00148A   2011-07-17
14  52849F15-2FC4-4154-894D-1E3D3DAEA181   2011-10-17






QUERY
------
 SELECT SalesReasonID, Name, ReasonType, ModifiedDate FROM Sales.SalesReason
 ----------------------------------------------

   SalesReasonID                       Name ReasonType ModifiedDate
0              1                      Price      Other   2008-04-30
1              2               On Promotion  Promotion   2008-04-30
2              3     Magazine Advertisement  Marketing   2008-04-30
3              4  Television  Advertisement  Marketing   2008-04-30
4              5               Manufacturer      Other   2008-04-30
5              6                     Review      Other   2008-04-30
6              7                 Demo Event  Marketing   2008-04-30
7              8                Sponsorship  Marketing   2008-04-30
8              9                    Quality      Other   2008-04-30
9             10                      Other      Other   2008-04-30






QUERY
------
 SELECT SalesTaxRateID, StateProvinceID, TaxType, TaxRate, Name, rowguid, ModifiedDate FROM Sales.SalesTaxRate
 ----------------------------------------------

    SalesTaxRateID  StateProvinceID  TaxType  TaxRate  \
0                1                1        1    14.00
1                2               57        1    14.25
2                3               63        1    14.25
3                4                1        2     7.00
4                5               57        2     7.00
5                6               63        2     7.00
6                7                7        3     7.00
7                8               29        3     7.00
8                9               31        3     7.00
9               10               41        3     7.00
10              11               45        3     7.00
11              12               49        3     7.00
12              13               51        3     7.00
13              16               69        3     7.00
14              17               83        3     7.00

                                     Name  \
0   Canadian GST + Alberta Provincial Tax
1   Canadian GST + Ontario Provincial Tax
2    Canadian GST + Quebec Provincial Tax
3                            Canadian GST
4                            Canadian GST
5                            Canadian GST
6                            Canadian GST
7                            Canadian GST
8                            Canadian GST
9                            Canadian GST
10                           Canadian GST
11                           Canadian GST
12                           Canadian GST
13                           Canadian GST
14                           Canadian GST

                                 rowguid ModifiedDate
0   683DE5DD-521A-47D4-A573-06A3CDB1BC5D   2008-04-30
1   05C4FFDB-4F84-4CDF-ABE5-FDF3216EA74E   2008-04-30
2   D4EDB557-56D7-403C-B538-4DF5E7302588   2008-04-30
3   F0D76907-B433-453F-B95E-16FCE73B807A   2008-04-30
4   7E0E97A2-878B-476F-A648-05A3DD4450ED   2008-04-30
5   1E285D2C-8AF7-47AA-B06A-762CF4D93ACD   2008-04-30
6   590CCB14-CB20-49BF-8FEE-E0C3ABC4C2B1   2008-04-30
7   A8365F30-78B7-4DBE-8985-F8260560126B   2008-04-30
8   F4FDE24B-7A53-4340-9D10-173E9424864A   2008-04-30
9   383D465B-E1D1-492A-83F3-AB3E9CBF3282   2008-04-30
10  8451909F-8A8D-4789-9F87-16A335D28053   2008-04-30
11  FB7607EE-8F12-41EA-B461-10885C6F1533   2008-04-30
12  06DF529D-EB11-446F-9570-9EE97B8EA1BF   2008-04-30
13  89D447A8-239A-4F31-A529-478821E8F714   2008-04-30
14  3847B431-F939-4E89-83FC-864912E3CFD2   2008-04-30






QUERY
------
 SELECT TerritoryID, Name, CountryRegionCode, Group, SalesYTD, SalesLastYear, CostYTD, CostLastYear, rowguid, ModifiedDate FROM Sales.SalesTerritory
 ----------------------------------------------

Error executing query: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'Group'. (156) (SQLExecDirectW)")
[SQL: SELECT TerritoryID, Name, CountryRegionCode, Group, SalesYTD, SalesLastYear, CostYTD, CostLastYear, rowguid, ModifiedDate FROM Sales.SalesTerritory]
(Background on this error at: https://sqlalche.me/e/14/f405)






QUERY
------
 SELECT BusinessEntityID, TerritoryID, StartDate, EndDate, rowguid, ModifiedDate FROM Sales.SalesTerritoryHistory
 ----------------------------------------------

    BusinessEntityID  TerritoryID  StartDate    EndDate  \
0                275            2 2011-05-31 2012-11-29
1                275            3 2012-11-30        NaT
2                276            4 2011-05-31        NaT
3                277            3 2011-05-31 2012-11-29
4                277            2 2012-11-30        NaT
5                278            6 2011-05-31        NaT
6                279            5 2011-05-31        NaT
7                280            1 2011-05-31 2012-09-29
8                281            4 2011-05-31        NaT
9                282            6 2011-05-31 2012-05-29
10               282           10 2012-05-30        NaT
11               283            1 2011-05-31        NaT
12               284            1 2012-09-30        NaT
13               286            9 2013-05-30        NaT
14               288            8 2013-05-30        NaT

                                 rowguid ModifiedDate
0   8563CE6A-00FF-47D7-BA4D-3C3E1CDEF531   2012-11-22
1   2F44304C-EE87-4C72-813E-CA75C5F61F4C   2012-11-23
2   64BCB1B3-A793-40BA-9859-D90F78C3F167   2011-05-24
3   3E9F893D-5142-46C9-A76A-867D1E3D6F90   2012-11-22
4   132E4721-32DD-4A73-B556-1837F3A2B9AE   2012-11-23
5   B7C8F9F5-5FB8-47B3-BE73-1B9A14BDF8B9   2011-05-24
6   57D1CDCF-62CE-499F-8BE8-1BB71C4BB7EF   2011-05-24
7   FD3F5566-10E2-4960-BE12-0365E5665881   2012-09-22
8   9D8754B2-C320-40DB-A77F-FF5A1BC0F46B   2011-05-24
9   2C9F5240-D8BF-4F85-897D-6083146DBC4B   2012-05-22
10  92375465-38C6-4C86-ABA1-9838A2969475   2012-05-23
11  009F7660-44A6-4ADF-BD4B-A5D1B79993F5   2011-05-24
12  ED12F921-8023-48EF-84BD-94D942F4C009   2012-09-23
13  D664D989-2BEB-4F2C-A4AA-691018965283   2013-05-23
14  3E1360CB-32E0-4286-8D98-8539F1AB2550   2013-05-23






QUERY
------
 SELECT ShoppingCartItemID, ShoppingCartID, Quantity, ProductID, DateCreated, ModifiedDate FROM Sales.ShoppingCartItem
 ----------------------------------------------

   ShoppingCartItemID ShoppingCartID  Quantity  ProductID  \
0                   2          14951         3        862
1                   4          20621         4        881
2                   5          20621         7        874

              DateCreated            ModifiedDate
0 2013-11-09 17:54:07.603 2013-11-09 17:54:07.603
1 2013-11-09 17:54:07.603 2013-11-09 17:54:07.603
2 2013-11-09 17:54:07.603 2013-11-09 17:54:07.603






QUERY
------
 SELECT SpecialOfferID, Description, DiscountPct, Type, Category, StartDate, EndDate, MinQty, MaxQty, rowguid, ModifiedDate FROM Sales.SpecialOffer
 ----------------------------------------------

    SpecialOfferID                  Description  DiscountPct  \
0                1                  No Discount         0.00
1                2     Volume Discount 11 to 14         0.02
2                3     Volume Discount 15 to 24         0.05
3                4     Volume Discount 25 to 40         0.10
4                5     Volume Discount 41 to 60         0.15
5                6      Volume Discount over 60         0.20
6                7  Mountain-100 Clearance Sale         0.35
7                8   Sport Helmet Discount-2002         0.10
8                9           Road-650 Overstock         0.30
9               10           Mountain Tire Sale         0.50
10              11   Sport Helmet Discount-2003         0.15
11              12           LL Road Frame Sale         0.35
12              13       Touring-3000 Promotion         0.15
13              14       Touring-1000 Promotion         0.20
14              15        Half-Price Pedal Sale         0.50

                    Type     Category  StartDate    EndDate  MinQty  MaxQty  \
0            No Discount  No Discount 2011-05-01 2014-11-30       0     NaN
1        Volume Discount     Reseller 2011-05-31 2014-05-30      11    14.0
2        Volume Discount     Reseller 2011-05-31 2014-05-30      15    24.0
3        Volume Discount     Reseller 2011-05-31 2014-05-30      25    40.0
4        Volume Discount     Reseller 2011-05-31 2014-05-30      41    60.0
5        Volume Discount     Reseller 2011-05-31 2014-05-30      61     NaN
6   Discontinued Product     Reseller 2012-04-13 2012-05-29       0     NaN
7      Seasonal Discount     Reseller 2012-05-30 2012-06-29       0     NaN
8       Excess Inventory     Reseller 2012-05-30 2012-07-30       0     NaN
9       Excess Inventory     Customer 2013-05-14 2013-07-29       0     NaN
10     Seasonal Discount     Reseller 2013-05-30 2013-06-29       0     NaN
11      Excess Inventory     Reseller 2013-05-30 2013-07-14       0     NaN
12           New Product     Reseller 2013-05-30 2013-08-29       0     NaN
13           New Product     Reseller 2013-05-30 2013-08-29       0     NaN
14     Seasonal Discount     Customer 2013-07-14 2013-08-14       0     NaN

                                 rowguid ModifiedDate
0   0290C4F5-191F-4337-AB6B-0A2DDE03CBF9   2011-04-01
1   D7542EE7-15DB-4541-985C-5CC27AEF26D6   2011-05-01
2   4BDBCC01-8CF7-40A9-B643-40EC5B717491   2011-05-01
3   504B5E85-8F3F-4EBC-9E1D-C1BC5DEA9AA8   2011-05-01
4   677E1D9D-944F-4E81-90E8-47EB0A82D48C   2011-05-01
5   8157F569-4E8D-46B6-9347-5D0F726A9439   2011-05-01
6   7DF15BF5-6C05-47E7-80A4-22BD1CE59A72   2012-03-14
7   20C5D2CC-A38F-48F8-AC9A-8F15943E52AE   2012-04-30
8   0CF8472B-F9E6-4945-9E09-549D7DDE2198   2012-04-30
9   220444AD-2EF3-4E4C-87E9-3AA6EE39A877   2013-04-14
10  E72DAB1D-F44D-448B-9FE2-F259A2F0210D   2013-04-30
11  C0AF1C89-9722-4235-9248-3FBA4D9E5841   2013-04-30
12  5061CCE4-E021-45A8-9A75-DFB36CBBCE85   2013-04-30
13  1AF84A9E-A98C-4BD9-B48F-DC2B8B6B010B   2013-04-30
14  03E3594D-6EBB-46A6-B8EE-A9289C0C2E47   2013-06-14






QUERY
------
 SELECT SpecialOfferID, ProductID, rowguid, ModifiedDate FROM Sales.SpecialOfferProduct
 ----------------------------------------------

    SpecialOfferID  ProductID                               rowguid  \
0                1        680  BB30B868-D86C-4557-8DB2-4B2D0A83A0FB
1                1        706  B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F
2                1        707  27B711FE-0B77-4EA4-AD1A-7C239956BEF4
3                1        708  46CBB78B-246E-4D69-9BD6-E521277C1078
4                1        709  CF102AA0-055F-4D2B-8B98-04B161758EA8
5                1        710  63718DA1-464B-4325-9514-CDEE46CB124F
6                1        711  457EB971-D1C9-48CA-B947-AE7E1B114377
7                1        712  5B948448-BAE5-4F2A-A1F3-8203E892FD24
8                1        713  07768F40-6E46-430F-AC1A-FF6A3629729C
9                1        714  85004BCE-C74A-4D4E-8D17-3157991A1400
10               1        715  BE469616-B279-452F-8C41-9EB30B2E935A
11               1        716  96D141FD-1D8E-4312-B4B1-E72C0A0D15FE
12               1        717  F717C3DC-3DBF-4F4E-B57A-BACB0134BDBC
13               1        718  B4634789-ACBB-4701-A006-186B18875FCD
14               1        719  B0F55004-472E-4C6B-B80F-095C135258A7

   ModifiedDate
0    2011-04-01
1    2011-04-01
2    2011-04-01
3    2011-04-01
4    2011-04-01
5    2011-04-01
6    2011-04-01
7    2011-04-01
8    2011-04-01
9    2011-04-01
10   2011-04-01
11   2011-04-01
12   2011-04-01
13   2011-04-01
14   2011-04-01






QUERY
------
 SELECT BusinessEntityID, Name, SalesPersonID, Demographics, rowguid, ModifiedDate FROM Sales.Store
 ----------------------------------------------

    BusinessEntityID                                 Name  SalesPersonID  \
0                292                 Next-Door Bike Store            279
1                294       Professional Sales and Service            276
2                296                       Riders Company            277
3                298                   The Bike Mechanics            275
4                300                    Nationwide Supply            286
5                302                Area Bike Accessories            281
6                304         Bicycle Accessories and Kits            283
7                306                Clamps & Brackets Co.            275
8                308           Valley Bicycle Specialists            277
9                310                    New Bikes Company            279
10               312  Vinyl and Plastic Goods Corporation            282
11               314                Top of the Line Bikes            288
12               316                   Fun Toys and Bikes            281
13               318                         Great Bikes             283
14               320        Metropolitan Sales and Rental            275

                                         Demographics  \
0   <StoreSurvey xmlns="http://schemas.microsoft.c...
1   <StoreSurvey xmlns="http://schemas.microsoft.c...
2   <StoreSurvey xmlns="http://schemas.microsoft.c...
3   <StoreSurvey xmlns="http://schemas.microsoft.c...
4   <StoreSurvey xmlns="http://schemas.microsoft.c...
5   <StoreSurvey xmlns="http://schemas.microsoft.c...
6   <StoreSurvey xmlns="http://schemas.microsoft.c...
7   <StoreSurvey xmlns="http://schemas.microsoft.c...
8   <StoreSurvey xmlns="http://schemas.microsoft.c...
9   <StoreSurvey xmlns="http://schemas.microsoft.c...
10  <StoreSurvey xmlns="http://schemas.microsoft.c...
11  <StoreSurvey xmlns="http://schemas.microsoft.c...
12  <StoreSurvey xmlns="http://schemas.microsoft.c...
13  <StoreSurvey xmlns="http://schemas.microsoft.c...
14  <StoreSurvey xmlns="http://schemas.microsoft.c...

                                 rowguid            ModifiedDate
0   A22517E3-848D-4EBE-B9D9-7437F3432304 2014-09-12 11:15:07.497
1   B50CA50B-C601-4A13-B07E-2C63862D71B4 2014-09-12 11:15:07.497
2   337C3688-1339-4E1A-A08A-B54B23566E49 2014-09-12 11:15:07.497
3   7894F278-F0C8-4D16-BD75-213FDBF13023 2014-09-12 11:15:07.497
4   C3FC9705-A8C4-4F3A-9550-EB2FA4B7B64D 2014-09-12 11:15:07.497
5   368BE6DD-30E5-49BB-9A86-71FD49C58F4E 2014-09-12 11:15:07.497
6   35F40636-5105-49D5-869E-27E231189150 2014-09-12 11:15:07.497
7   64D06BFC-D060-405C-8C60-C067FE7C67DF 2014-09-12 11:15:07.497
8   59386B0C-652E-4668-B44B-4E1711793330 2014-09-12 11:15:07.497
9   47E4B6BD-5CD1-45A3-A231-79D930381C56 2014-09-12 11:15:07.497
10  DC610525-E373-49B1-B786-EA040EC25C06 2014-09-12 11:15:07.497
11  E290E93F-A980-4BA3-86C3-9858F15C8A6D 2014-09-12 11:15:07.497
12  6CDCF941-4192-49C7-994A-5ADBA534E095 2014-09-12 11:15:07.497
13  956FBC35-5E0D-4175-8045-E0BE380BA340 2014-09-12 11:15:07.497
14  0CB4FEF2-5047-40F7-8848-B59F7A3F3EEC 2014-09-12 11:15:07.497

<h3>We see that the schemas Person and Sales contain all customer related information, which may have something useful to tell us about the customers.</h3>

In [264]:
all_queries = []
for sch in schemas:
    for table in inspector.get_table_names(schema=sch):
        if sch == 'Person' or sch == 'Sales':
            col_names = ', '.join(col['name'] for col in inspector.get_columns(table_name=table, schema=sch))
            all_queries.append(f"SELECT {col_names} FROM {sch}.{table}")

qindex = 1
for query in all_queries:
    print("QUERY", qindex, "\n------\n", query, "\n", "----------------------------------------------", "\n")
    try:
        df_table = pd.read_sql(sql=query, con=connection)
        print(df_table.head(15))
    except Exception as e:
        print(f"Error executing query number {qindex}: {e}")
    print("\n"*4)
    qindex = qindex + 1

QUERY 1
------
 SELECT AddressID, AddressLine1, AddressLine2, City, StateProvinceID, PostalCode, SpatialLocation, rowguid, ModifiedDate FROM Person.Address
 ----------------------------------------------

Error executing query number 1: (pyodbc.ProgrammingError) ('ODBC SQL type -151 is not yet supported.  column-index=6  type=-151', 'HY106')
(Background on this error at: https://sqlalche.me/e/14/f405)





QUERY 2
------
 SELECT AddressTypeID, Name, rowguid, ModifiedDate FROM Person.AddressType
 ----------------------------------------------

   AddressTypeID         Name                               rowguid  \
0              1      Billing  B84F78B1-4EFE-4A0E-8CB7-70E9F112F886
1              2         Home  41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2
2              3  Main Office  8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575
3              4      Primary  24CB3088-4345-47C4-86C5-17B535133D1E
4              5     Shipping  B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5
5              6      Archive  A67F238A-5BA2-444B-966C-0467ED9C427F

  ModifiedDate
0   2008-04-30
1   2008-04-30
2   2008-04-30
3   2008-04-30
4   2008-04-30
5   2008-04-30





QUERY 3
------
 SELECT BusinessEntityID, rowguid, ModifiedDate FROM Person.BusinessEntity
 ----------------------------------------------

    BusinessEntityID                               rowguid  \
0                  1  0C7D8F81-D7B1-4CF0-9C0A-4CD8B6B50087
1                  2  6648747F-7843-4002-B317-65389684C398
2                  3  568204DA-93D7-42F4-8A7A-4446A144277D
3                  4  0EFF57B9-4F4F-41A6-8867-658C199A5FC0
4                  5  B82F88D1-FF79-4FD9-8C54-9D24C140F647
5                  6  1B3D077A-1941-4D6E-8328-F7DC03595565
6                  7  C1898370-A36F-43A2-987C-0BF24FE3FB82
7                  8  2B50ABB8-ABAB-412B-A4D0-4FD5EBEB5CBE
8                  9  5C0AB449-A087-4D8D-834F-3726061B6BFA
9                 10  0F3CC1D7-F484-4BDE-B088-B11EF03E2F52
10                11  A417A3D1-00EB-4D7F-B793-F93DC2C5391D
11                12  EBD8A50F-322E-4426-A39A-566FD5535B1C
12                13  1D61C426-FF79-4E23-9EA5-9610CB063F3B
13                14  C596EC29-BA16-441B-A5EC-7FED4C8344C4
14                15  955E421A-0AEB-4D8F-AE74-88EFFB82E41A

              ModifiedDate
0  2017-12-13 13:20:24.150
1  2017-12-13 13:20:24.430
2  2017-12-13 13:20:24.540
3  2017-12-13 13:20:24.570
4  2017-12-13 13:20:24.633
5  2017-12-13 13:20:24.680
6  2017-12-13 13:20:24.727
7  2017-12-13 13:20:24.773
8  2017-12-13 13:20:24.803
9  2017-12-13 13:20:24.850
10 2017-12-13 13:20:24.900
11 2017-12-13 13:20:24.947
12 2017-12-13 13:20:24.993
13 2017-12-13 13:20:25.040
14 2017-12-13 13:20:25.087





QUERY 4
------
 SELECT BusinessEntityID, AddressID, AddressTypeID, rowguid, ModifiedDate FROM Person.BusinessEntityAddress
 ----------------------------------------------

    BusinessEntityID  AddressID  AddressTypeID  \
0                  1        249              2
1                  2        293              2
2                  3        224              2
3                  4      11387              2
4                  5        190              2
5                  6        286              2
6                  7         49              2
7                  8        230              2
8                  9        187              2
9                 10      11386              2
10                11      32505              2
11                12          1              2
12                13        219              2
13                14        295              2
14                15        287              2

                                 rowguid            ModifiedDate
0   3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF 2014-09-12 11:15:06.967
1   84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1 2014-09-12 11:15:06.967
2   3C915B31-7C05-4A05-9859-0DF663677240 2014-09-12 11:15:06.967
3   3DC70CC4-3AE8-424F-8B1F-481C5478E941 2014-09-12 11:15:06.967
4   C0ED2F68-937B-4594-9459-581AC53C98E3 2014-09-12 11:15:06.967
5   4CA1686A-A7DF-4BD8-9D7D-82A63210208A 2014-09-12 11:15:06.967
6   1528E305-3E34-4DEA-BDD7-C7DDCDD11EF8 2014-09-12 11:15:06.967
7   38F80F8F-5CA7-4D06-AEFA-CD930A0A7B3F 2014-09-12 11:15:06.967
8   51C9D232-DD34-49A5-8442-F269E0B9A6FF 2014-09-12 11:15:06.967
9   13981FC6-9688-49C8-AA1E-80C7F28EA2FF 2014-09-12 11:15:06.967
10  1F216434-3714-4BFB-9B05-4BE77EBCCE3F 2014-09-12 11:15:06.967
11  8AA698FC-090F-42EE-A197-2E7F7394D9F1 2014-09-12 11:15:06.967
12  F7C52CB0-99D3-4632-AD41-00A1D3B13145 2014-09-12 11:15:06.967
13  09AD7450-C146-4B9E-AE2F-AAD99634577E 2014-09-12 11:15:06.967
14  46944C73-22DE-431E-BE1F-726F85563235 2014-09-12 11:15:06.967





QUERY 5
------
 SELECT BusinessEntityID, PersonID, ContactTypeID, rowguid, ModifiedDate FROM Person.BusinessEntityContact
 ----------------------------------------------

    BusinessEntityID  PersonID  ContactTypeID  \
0                292       291             11
1                294       293             11
2                296       295             11
3                298       297             11
4                300       299             11
5                302       301             11
6                304       303             11
7                306       305             11
8                308       307             14
9                310       309             14
10               312       311             14
11               314       313             14
12               316       315             11
13               318       317             11
14               320       319             11

                                 rowguid            ModifiedDate
0   7D4D2DBC-4A44-48F5-911D-A63ABAFD5120 2017-12-13 13:21:02.243
1   3EA25B65-9579-4260-977D-D6F00D7D20EE 2017-12-13 13:21:02.320
2   DADAC1FF-3351-4827-9AE0-95004885C193 2017-12-13 13:21:02.383
3   B924F26F-6446-45D1-A92B-6F418374F075 2017-12-13 13:21:02.447
4   5BA4E7BE-8D29-46A2-B68D-67B1615B124A 2017-12-13 13:21:02.510
5   6CC8F248-8D96-4AFD-ADCC-61D93E8DE3B1 2017-12-13 13:21:02.570
6   33B4DA81-4448-481F-BF7C-357EA4D23F21 2017-12-13 13:21:02.633
7   70D35526-7C2F-470F-98CB-F9299A754F16 2017-12-13 13:21:02.697
8   DA33B75D-32FB-432D-A275-9E9D32E78F3E 2017-12-13 13:21:02.760
9   C2DEE145-A902-477E-AB21-29659AC3E97E 2017-12-13 13:21:02.820
10  4020DEAE-56F6-47DF-96C1-A01F3DE2305C 2017-12-13 13:21:02.883
11  9EF858DE-EABA-4A53-9B28-FC699D789957 2017-12-13 13:21:02.930
12  E3F641EA-02D1-4B59-BE3F-97785D4DAB4D 2017-12-13 13:21:02.993
13  DEB6D69A-7A6C-4820-B48D-67DC990A2A20 2017-12-13 13:21:03.053
14  C7BBF9BA-A676-41AD-ADC0-64A3190A50AF 2017-12-13 13:21:03.117





QUERY 6
------
 SELECT ContactTypeID, Name, ModifiedDate FROM Person.ContactType
 ----------------------------------------------

    ContactTypeID                             Name ModifiedDate
0               1               Accounting Manager   2008-04-30
1               2            Assistant Sales Agent   2008-04-30
2               3   Assistant Sales Representative   2008-04-30
3               4      Coordinator Foreign Markets   2008-04-30
4               5             Export Administrator   2008-04-30
5               6  International Marketing Manager   2008-04-30
6               7              Marketing Assistant   2008-04-30
7               8                Marketing Manager   2008-04-30
8               9         Marketing Representative   2008-04-30
9              10              Order Administrator   2008-04-30
10             11                            Owner   2008-04-30
11             12        Owner/Marketing Assistant   2008-04-30
12             13                  Product Manager   2008-04-30
13             14                 Purchasing Agent   2008-04-30
14             15               Purchasing Manager   2008-04-30





QUERY 7
------
 SELECT CountryRegionCode, Name, ModifiedDate FROM Person.CountryRegion
 ----------------------------------------------

   CountryRegionCode                  Name ModifiedDate
0                 AD               Andorra   2008-04-30
1                 AE  United Arab Emirates   2008-04-30
2                 AF           Afghanistan   2008-04-30
3                 AG   Antigua and Barbuda   2008-04-30
4                 AI              Anguilla   2008-04-30
5                 AL               Albania   2008-04-30
6                 AM               Armenia   2008-04-30
7                 AN  Netherlands Antilles   2008-04-30
8                 AO                Angola   2008-04-30
9                 AQ            Antarctica   2008-04-30
10                AR             Argentina   2008-04-30
11                AS        American Samoa   2008-04-30
12                AT               Austria   2008-04-30
13                AU             Australia   2008-04-30
14                AW                 Aruba   2008-04-30





QUERY 8
------
 SELECT BusinessEntityID, EmailAddressID, EmailAddress, rowguid, ModifiedDate FROM Person.EmailAddress
 ----------------------------------------------

    BusinessEntityID  EmailAddressID                  EmailAddress  \
0                  1               1      ken0@adventure-works.com
1                  2               2    terri0@adventure-works.com
2                  3               3  roberto0@adventure-works.com
3                  4               4      rob0@adventure-works.com
4                  5               5     gail0@adventure-works.com
5                  6               6   jossef0@adventure-works.com
6                  7               7    dylan0@adventure-works.com
7                  8               8    diane1@adventure-works.com
8                  9               9     gigi0@adventure-works.com
9                 10              10  michael6@adventure-works.com
10                11              11   ovidiu0@adventure-works.com
11                12              12  thierry0@adventure-works.com
12                13              13   janice0@adventure-works.com
13                14              14  michael8@adventure-works.com
14                15              15   sharon0@adventure-works.com

                                 rowguid ModifiedDate
0   8A1901E4-671B-431A-871C-EADB2942E9EE   2009-01-07
1   B5FF9EFD-72A2-4F87-830B-F338FDD4D162   2008-01-24
2   C8A51084-1C03-4C58-A8B3-55854AE7C499   2007-11-04
3   17703ED1-0031-4B4A-AFD2-77487A556B3B   2007-11-28
4   E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B   2007-12-30
5   A9C4093A-4F4A-4CAD-BBB4-2C4E920BACCB   2013-12-16
6   70429DE4-C3BF-4F19-A00A-E976C8017FB3   2009-02-01
7   37F02A87-058D-49F8-A20D-965738B0A71F   2008-12-22
8   F888A16D-0C33-459E-9D72-D16AE0BB1F43   2009-01-09
9   E0DD366D-433D-4F5A-9347-1A5FE7FBE0A3   2009-04-26
10  0FF9523D-F398-4237-85F8-2834DE441692   2010-11-28
11  B2962849-CC5F-4E57-BCB4-019642BBD8ED   2007-12-04
12  64871268-3812-402F-8A91-C618B6515B06   2010-12-16
13  BEA9075C-1BED-4E5E-8234-F5641FAF814C   2010-12-23
14  5CD782BA-F5AB-41EC-B206-09B06F52C96B   2011-01-11





QUERY 9
------
 SELECT BusinessEntityID, PasswordHash, PasswordSalt, rowguid, ModifiedDate FROM Person.Password
 ----------------------------------------------

    BusinessEntityID                                  PasswordHash  \
0                  1  pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=
1                  2  bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=
2                  3  8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=
3                  4  SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=
4                  5  8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=
5                  6  u5kbN5n84NRE1h/a+ktdRrXucjgrmfF6wZC4g82rjHM=
6                  7  zSqerln8T8eq3nYHC4Lx4vMuxZaxkDylVwWnP2ZT6QA=
7                  8  s+FUWADIZzXBKpcbxe4OwL2uiJmjLogJNYXXHvc1X/k=
8                  9  fCvCTy3RwzA2LNhhhYUbT7erkb9Au5wyM2q7ReHroV0=
9                 10  /8biMrxuAtETGeIuloSrMQHBraZtZ+eU2z5OJ1Fhn6M=
10                11  iaZ6ky76dbOG+0Y069v4bm78UfhfGXSeYtxp4Vgd15o=
11                12  I9HGCr3jbwF3LYBlVsM/cOC2IHfg7ns5t2xejnWZ9Ko=
12                13  3ZuoojogvvBKmtr+iHeqWoiZNCzp6N1abPoymjp+O+4=
13                14  mKAlVVzgDo12qro7ZDmr3oEmCxklWc7+dYDFlC58Vv4=
14                15  m5ESf7VNdqsqa/s82jX/r3UK95GTrMPM4YhGw0jzS9c=

   PasswordSalt                               rowguid ModifiedDate
0      bE3XiWw=  329EACBE-C883-4F48-B8B6-17AA4627EFFF   2009-01-07
1      EjJaC3U=  A4C82398-7466-4FE6-B9EE-CEC34D116F68   2008-01-24
2      wbPZqMw=  AC3F4536-BB2E-41C5-B70D-454BE460C1BD   2007-11-04
3      PwSunQU=  B3FA4C24-2E96-477C-A923-0CB0F6FA5C80   2007-11-28
4      qYhZRiM=  C4D13BCF-0209-44C7-AC67-6F817FDD7F16   2007-12-30
5      a9GiLUA=  BBE788B9-8D6D-4799-87A7-7B85B6BD67DC   2013-12-16
6      13mu8BA=  AFD3A20A-787B-4069-92DB-AEE666C02847   2009-02-01
7      FlCpzTU=  4FE51B60-130E-4209-9E67-28DC4D91446C   2008-12-22
8      FTcZMvQ=  99F4F320-F05D-4FA1-BB0D-81C9425422F3   2009-01-09
9      K7dMpTY=  82F25F0C-5D75-4246-958A-B6DF67559D09   2009-04-26
10     wTGciQ8=  3AF51C6F-B835-4483-94B3-8F6FD30EFDA2   2010-11-28
11     S0g9tDo=  FC239924-2C45-4BAD-BBE7-26C74CAE7526   2007-12-04
12     S7XWeXc=  80862E73-CD76-4E2E-AA80-26BD8476F736   2010-12-16
13     BpZw68c=  28B6CB19-3E5B-4DA6-BB63-5EB981D22D4A   2010-12-23
14     dhGWm88=  AE7E33BE-25CD-419C-9965-A3080864D3F8   2011-01-11





QUERY 10
------
 SELECT BusinessEntityID, PersonType, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, EmailPromotion, AdditionalContactInfo, Demographics, rowguid, ModifiedDate FROM Person.Person
 ----------------------------------------------

    BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                  1         EM      False  None       Ken          J
1                  2         EM      False  None     Terri        Lee
2                  3         EM      False  None   Roberto       None
3                  4         EM      False  None       Rob       None
4                  5         EM      False   Ms.      Gail          A
5                  6         EM      False   Mr.    Jossef          H
6                  7         EM      False  None     Dylan          A
7                  8         EM      False  None     Diane          L
8                  9         EM      False  None      Gigi          N
9                 10         EM      False  None   Michael       None
10                11         EM      False  None    Ovidiu          V
11                12         EM      False  None   Thierry          B
12                13         EM      False   Ms.    Janice          M
13                14         EM      False  None   Michael          I
14                15         EM      False  None    Sharon          B

      LastName Suffix  EmailPromotion AdditionalContactInfo  \
0      Sánchez   None               0                  None
1        Duffy   None               1                  None
2   Tamburello   None               0                  None
3      Walters   None               0                  None
4     Erickson   None               0                  None
5     Goldberg   None               0                  None
6       Miller   None               2                  None
7     Margheim   None               0                  None
8      Matthew   None               0                  None
9       Raheem   None               2                  None
10     Cracium   None               0                  None
11      D'Hers   None               2                  None
12      Galvin   None               2                  None
13    Sullivan   None               2                  None
14   Salavaria   None               2                  None

                                         Demographics  \
0   <IndividualSurvey xmlns="http://schemas.micros...
1   <IndividualSurvey xmlns="http://schemas.micros...
2   <IndividualSurvey xmlns="http://schemas.micros...
3   <IndividualSurvey xmlns="http://schemas.micros...
4   <IndividualSurvey xmlns="http://schemas.micros...
5   <IndividualSurvey xmlns="http://schemas.micros...
6   <IndividualSurvey xmlns="http://schemas.micros...
7   <IndividualSurvey xmlns="http://schemas.micros...
8   <IndividualSurvey xmlns="http://schemas.micros...
9   <IndividualSurvey xmlns="http://schemas.micros...
10  <IndividualSurvey xmlns="http://schemas.micros...
11  <IndividualSurvey xmlns="http://schemas.micros...
12  <IndividualSurvey xmlns="http://schemas.micros...
13  <IndividualSurvey xmlns="http://schemas.micros...
14  <IndividualSurvey xmlns="http://schemas.micros...

                                 rowguid ModifiedDate
0   92C4279F-1207-48A3-8448-4636514EB7E2   2009-01-07
1   D8763459-8AA8-47CC-AFF7-C9079AF79033   2008-01-24
2   E1A2555E-0828-434B-A33B-6F38136A37DE   2007-11-04
3   F2D7CE06-38B3-4357-805B-F4B6B71C01FF   2007-11-28
4   F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF   2007-12-30
5   0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F   2013-12-16
6   C45E8AB8-01BE-4B76-B215-820C8368181A   2009-02-01
7   A948E590-4A56-45A9-BC9A-160A1CC9D990   2008-12-22
8   5FC28C0E-6D36-4252-9846-05CAA0B1F6C5   2009-01-09
9   CA2C740E-75B2-420C-9D4B-E3CBC6609604   2009-04-26
10  D2CC2577-EF6B-4408-BD8C-747337FE5645   2010-11-28
11  FA263C7F-600D-4E89-8DCD-0978F3530F5F   2007-12-04
12  34EB99E0-7042-4DC1-A2FD-BDA290FF0E07   2010-12-16
13  9A7501DE-5CAF-4700-AB07-CC81102BB696   2010-12-23
14  BEBA63CB-13F1-4B76-A3DE-FE9AC283A94C   2011-01-11





QUERY 11
------
 SELECT BusinessEntityID, PhoneNumber, PhoneNumberTypeID, ModifiedDate FROM Person.PersonPhone
 ----------------------------------------------

    BusinessEntityID   PhoneNumber  PhoneNumberTypeID ModifiedDate
0                  1  697-555-0142                  1   2009-01-07
1                  2  819-555-0175                  3   2008-01-24
2                  3  212-555-0187                  1   2007-11-04
3                  4  612-555-0100                  1   2007-11-28
4                  5  849-555-0139                  1   2007-12-30
5                  6  122-555-0189                  3   2013-12-16
6                  7  181-555-0156                  3   2009-02-01
7                  8  815-555-0138                  1   2008-12-22
8                  9  185-555-0186                  1   2009-01-09
9                 10  330-555-2568                  3   2009-04-26
10                11  719-555-0181                  1   2010-11-28
11                12  168-555-0183                  3   2007-12-04
12                13  473-555-0117                  3   2010-12-16
13                14  465-555-0156                  1   2010-12-23
14                15  970-555-0138                  1   2011-01-11





QUERY 12
------
 SELECT PhoneNumberTypeID, Name, ModifiedDate FROM Person.PhoneNumberType
 ----------------------------------------------

   PhoneNumberTypeID  Name            ModifiedDate
0                  1  Cell 2017-12-13 13:19:22.273
1                  2  Home 2017-12-13 13:19:22.273
2                  3  Work 2017-12-13 13:19:22.273





QUERY 13
------
 SELECT StateProvinceID, StateProvinceCode, CountryRegionCode, IsOnlyStateProvinceFlag, Name, TerritoryID, rowguid, ModifiedDate FROM Person.StateProvince
 ----------------------------------------------

    StateProvinceID StateProvinceCode CountryRegionCode  \
0                 1               AB                 CA
1                 2               AK                 US
2                 3               AL                 US
3                 4               AR                 US
4                 5               AS                 AS
5                 6               AZ                 US
6                 7               BC                 CA
7                 8               BY                 DE
8                 9               CA                 US
9                10               CO                 US
10               11               CT                 US
11               12               DC                 US
12               13               DE                 US
13               14               ENG                GB
14               15               FL                 US

    IsOnlyStateProvinceFlag                  Name  TerritoryID  \
0                     False               Alberta            6
1                     False                Alaska            1
2                     False               Alabama            5
3                     False              Arkansas            3
4                      True        American Samoa            1
5                     False               Arizona            4
6                     False      British Columbia            6
7                     False                Bayern            8
8                     False            California            4
9                     False              Colorado            3
10                    False           Connecticut            2
11                    False  District of Columbia            2
12                    False              Delaware            2
13                     True               England           10
14                    False               Florida            5

                                 rowguid            ModifiedDate
0   298C2880-AB1C-4982-A5AD-A36EB4BA0D34 2014-02-08 10:17:21.587
1   5B7B8462-A888-4E0B-A3E1-7278F8AF107E 2014-02-08 10:17:21.587
2   41B328BE-21AE-45D0-841D-6F8DD71CE626 2014-02-08 10:17:21.587
3   54656A80-06F2-4C70-BA10-247179FC246E 2014-02-08 10:17:21.587
4   255D15E1-9F6E-4CF8-9E5F-6B3858AD9B6A 2014-02-08 10:17:21.587
5   FB8BE18E-F441-44F0-A4A9-1D0F204CB701 2014-02-08 10:17:21.587
6   D27FCC6E-BB99-438B-BA86-285CEEB2FA53 2014-02-08 10:17:21.587
7   D54E5000-A0DA-46D1-86B0-B8FE16C9F781 2014-02-08 10:17:21.587
8   3B2FF23C-1C75-40AE-9093-F4EB42263F4E 2014-02-08 10:17:21.587
9   292DF595-7D3C-41FB-A040-7C184D379FCE 2014-02-08 10:17:21.587
10  1E7BB47A-E16B-4968-86FA-45AF0211FA84 2014-02-08 10:17:21.587
11  A1F3C57E-85B3-41E3-88E8-07244CF087DD 2014-02-08 10:17:21.587
12  7A11AB1D-77C0-4021-9140-8E81F105618E 2014-02-08 10:17:21.587
13  3E3CB3F8-44B9-44D9-A1C3-CBFB11E0A7DA 2014-02-08 10:17:21.587
14  EE8BA90D-B2C3-418E-93DF-20E33F095959 2014-02-08 10:17:21.587





QUERY 14
------
 SELECT CountryRegionCode, CurrencyCode, ModifiedDate FROM Sales.CountryRegionCurrency
 ----------------------------------------------

   CountryRegionCode CurrencyCode            ModifiedDate
0                 AE          AED 2014-02-08 10:17:21.510
1                 AR          ARS 2014-02-08 10:17:21.510
2                 AT          ATS 2014-02-08 10:17:21.510
3                 AT          EUR 2008-04-30 00:00:00.000
4                 AU          AUD 2014-02-08 10:17:21.510
5                 BB          BBD 2014-02-08 10:17:21.510
6                 BD          BDT 2014-02-08 10:17:21.510
7                 BE          BEF 2014-02-08 10:17:21.510
8                 BE          EUR 2008-04-30 00:00:00.000
9                 BG          BGN 2014-02-08 10:17:21.510
10                BH          BHD 2014-02-08 10:17:21.510
11                BN          BND 2014-02-08 10:17:21.510
12                BO          BOB 2014-02-08 10:17:21.510
13                BR          BRL 2014-02-08 10:17:21.510
14                BS          BSD 2014-02-08 10:17:21.510





QUERY 15
------
 SELECT CreditCardID, CardType, CardNumber, ExpMonth, ExpYear, ModifiedDate FROM Sales.CreditCard
 ----------------------------------------------

    CreditCardID       CardType      CardNumber  ExpMonth  ExpYear  \
0              1   SuperiorCard  33332664695310        11     2006
1              2    Distinguish  55552127249722         8     2005
2              3  ColonialVoice  77778344838353         7     2005
3              4  ColonialVoice  77774915718248         7     2006
4              5          Vista  11114404600042         4     2005
5              6    Distinguish  55557132036181         9     2006
6              7    Distinguish  55553635401028         6     2007
7              8   SuperiorCard  33336081193101         7     2007
8              9    Distinguish  55553465625901         2     2005
9             10   SuperiorCard  33332126386493         8     2008
10            11   SuperiorCard  33335352517363        10     2008
11            12   SuperiorCard  33334316194519         4     2008
12            13          Vista  11119775847802        11     2005
13            14    Distinguish  55553287727410        10     2006
14            15   SuperiorCard  33336866065599        11     2008

   ModifiedDate
0    2013-07-29
1    2013-12-05
2    2014-01-14
3    2013-05-20
4    2013-02-01
5    2014-04-10
6    2013-02-01
7    2013-06-30
8    2013-09-23
9    2011-08-31
10   2014-05-04
11   2012-05-30
12   2014-03-01
13   2013-11-19
14   2013-01-29





QUERY 16
------
 SELECT CurrencyCode, Name, ModifiedDate FROM Sales.Currency
 ----------------------------------------------

   CurrencyCode                           Name ModifiedDate
0           AED                 Emirati Dirham   2008-04-30
1           AFA                        Afghani   2008-04-30
2           ALL                            Lek   2008-04-30
3           AMD                  Armenian Dram   2008-04-30
4           ANG  Netherlands Antillian Guilder   2008-04-30
5           AOA                         Kwanza   2008-04-30
6           ARS                 Argentine Peso   2008-04-30
7           ATS                       Shilling   2008-04-30
8           AUD              Australian Dollar   2008-04-30
9           AWG                 Aruban Guilder   2008-04-30
10          AZM            Azerbaijanian Manat   2008-04-30
11          BBD                Barbados Dollar   2008-04-30
12          BDT                           Taka   2008-04-30
13          BEF                  Belgian Franc   2008-04-30
14          BGN                  Bulgarian Lev   2008-04-30





QUERY 17
------
 SELECT CurrencyRateID, CurrencyRateDate, FromCurrencyCode, ToCurrencyCode, AverageRate, EndOfDayRate, ModifiedDate FROM Sales.CurrencyRate
 ----------------------------------------------

    CurrencyRateID CurrencyRateDate FromCurrencyCode ToCurrencyCode  \
0                1       2011-05-31              USD            ARS
1                2       2011-05-31              USD            AUD
2                3       2011-05-31              USD            BRL
3                4       2011-05-31              USD            CAD
4                5       2011-05-31              USD            CNY
5                6       2011-05-31              USD            DEM
6                7       2011-05-31              USD            EUR
7                8       2011-05-31              USD            FRF
8                9       2011-05-31              USD            GBP
9               10       2011-05-31              USD            JPY
10              11       2011-05-31              USD            MXN
11              12       2011-05-31              USD            SAR
12              13       2011-05-31              USD            VEB
13              14       2011-06-01              USD            ARS
14              15       2011-06-01              USD            AUD

    AverageRate  EndOfDayRate ModifiedDate
0        1.0000        1.0002   2011-05-31
1        1.5491        1.5500   2011-05-31
2        1.9379        1.9419   2011-05-31
3        1.4641        1.4683   2011-05-31
4        8.2781        8.2784   2011-05-31
5        1.8967        1.8976   2011-05-31
6        0.9697        0.9703   2011-05-31
7        6.3611        6.3613   2011-05-31
8        0.6183        0.6183   2011-05-31
9      104.9100      104.9580   2011-05-31
10       9.3740        9.3840   2011-05-31
11       3.7507        3.7584   2011-05-31
12     634.5099      634.6000   2011-05-31
13       1.0000        0.9991   2011-06-01
14       1.5559        1.5558   2011-06-01





QUERY 18
------
 SELECT CustomerID, PersonID, StoreID, TerritoryID, AccountNumber, rowguid, ModifiedDate FROM Sales.Customer
 ----------------------------------------------

    CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0            1       NaN    934.0            1    AW00000001
1            2       NaN   1028.0            1    AW00000002
2            3       NaN    642.0            4    AW00000003
3            4       NaN    932.0            4    AW00000004
4            5       NaN   1026.0            4    AW00000005
5            6       NaN    644.0            4    AW00000006
6            7       NaN    930.0            1    AW00000007
7            8       NaN   1024.0            5    AW00000008
8            9       NaN    620.0            5    AW00000009
9           10       NaN    928.0            6    AW00000010
10          11       NaN   1022.0            6    AW00000011
11          12       NaN    622.0            6    AW00000012
12          13       NaN    434.0            7    AW00000013
13          14       NaN   1020.0            8    AW00000014
14          15       NaN    624.0            9    AW00000015

                                 rowguid            ModifiedDate
0   3F5AE95E-B87D-4AED-95B4-C3797AFCB74F 2014-09-12 11:15:07.263
1   E552F657-A9AF-4A7D-A645-C429D6E02491 2014-09-12 11:15:07.263
2   130774B1-DB21-4EF3-98C8-C104BCD6ED6D 2014-09-12 11:15:07.263
3   FF862851-1DAA-4044-BE7C-3E85583C054D 2014-09-12 11:15:07.263
4   83905BDC-6F5E-4F71-B162-C98DA069F38A 2014-09-12 11:15:07.263
5   1A92DF88-BFA2-467D-BD54-FCB9E647FDD7 2014-09-12 11:15:07.263
6   03E9273E-B193-448E-9823-FE0C44AEED78 2014-09-12 11:15:07.263
7   801368B1-4323-4BFA-8BEA-5B5B1E4BD4A0 2014-09-12 11:15:07.263
8   B900BB7F-23C3-481D-80DA-C49A5BD6F772 2014-09-12 11:15:07.263
9   CDB6698D-2FF1-4FBA-8F22-60AD1D11DABD 2014-09-12 11:15:07.263
10  750F3495-59C4-48A0-80E1-E37EC60E77D9 2014-09-12 11:15:07.263
11  947BCAF1-1F32-44F3-B9C3-0011F95FBE54 2014-09-12 11:15:07.263
12  B0FA5854-2511-439B-A7AC-50C9C460B175 2014-09-12 11:15:07.263
13  2F96BEDC-723D-468F-834B-B2B8AE79C849 2014-09-12 11:15:07.263
14  0340737B-D4FA-4795-93AA-CAEB8371BCF9 2014-09-12 11:15:07.263





QUERY 19
------
 SELECT BusinessEntityID, CreditCardID, ModifiedDate FROM Sales.PersonCreditCard
 ----------------------------------------------

    BusinessEntityID  CreditCardID ModifiedDate
0                293         17038   2013-07-31
1                295         15369   2011-08-01
2                297          8010   2011-08-01
3                299          5316   2013-07-31
4                301          6653   2011-05-31
5                303          9010   2012-07-31
6                305          8937   2011-05-31
7                307         16124   2012-10-30
8                309          9478   2011-07-01
9                311         17600   2011-08-01
10               313          1970   2013-06-30
11               315          8274   2013-07-31
12               317         13045   2011-05-31
13               319         13601   2011-08-01
14               323          5958   2012-07-31





QUERY 20
------
 SELECT SalesOrderID, SalesOrderDetailID, CarrierTrackingNumber, OrderQty, ProductID, SpecialOfferID, UnitPrice, UnitPriceDiscount, LineTotal, rowguid, ModifiedDate FROM Sales.SalesOrderDetail
 ----------------------------------------------

    SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  \
0          43659                   1          4911-403C-98         1
1          43659                   2          4911-403C-98         3
2          43659                   3          4911-403C-98         1
3          43659                   4          4911-403C-98         1
4          43659                   5          4911-403C-98         1
5          43659                   6          4911-403C-98         2
6          43659                   7          4911-403C-98         1
7          43659                   8          4911-403C-98         3
8          43659                   9          4911-403C-98         1
9          43659                  10          4911-403C-98         6
10         43659                  11          4911-403C-98         2
11         43659                  12          4911-403C-98         4
12         43660                  13          6431-4D57-83         1
13         43660                  14          6431-4D57-83         1
14         43661                  15          4E0A-4F89-AE         1

    ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount  LineTotal  \
0         776               1  2024.9940                0.0  2024.9940
1         777               1  2024.9940                0.0  6074.9820
2         778               1  2024.9940                0.0  2024.9940
3         771               1  2039.9940                0.0  2039.9940
4         772               1  2039.9940                0.0  2039.9940
5         773               1  2039.9940                0.0  4079.9880
6         774               1  2039.9940                0.0  2039.9940
7         714               1    28.8404                0.0    86.5212
8         716               1    28.8404                0.0    28.8404
9         709               1     5.7000                0.0    34.2000
10        712               1     5.1865                0.0    10.3730
11        711               1    20.1865                0.0    80.7460
12        762               1   419.4589                0.0   419.4589
13        758               1   874.7940                0.0   874.7940
14        745               1   809.7600                0.0   809.7600

                                 rowguid ModifiedDate
0   B207C96D-D9E6-402B-8470-2CC176C42283   2011-05-31
1   7ABB600D-1E77-41BE-9FE5-B9142CFC08FA   2011-05-31
2   475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F   2011-05-31
3   04C4DE91-5815-45D6-8670-F462719FBCE3   2011-05-31
4   5A74C7D2-E641-438E-A7AC-37BF23280301   2011-05-31
5   CE472532-A4C0-45BA-816E-EEFD3FD848B3   2011-05-31
6   80667840-F962-4EE3-96E0-AECA108E0D4F   2011-05-31
7   E9D54907-E7B7-4969-80D9-76BA69F8A836   2011-05-31
8   AA542630-BDCD-4CE5-89A0-C1BF82747725   2011-05-31
9   AC769034-3C2F-495C-A5A7-3B71CDB25D4E   2011-05-31
10  06A66921-6B9F-4199-A912-DDAFD383472B   2011-05-31
11  0E371EE3-253E-4BB0-B813-83CF4224F972   2011-05-31
12  419A1302-AC7A-4044-97B2-66D9D14CD02E   2011-05-31
13  5D0B2B03-1D4C-4C34-9696-C14C58E7301C   2011-05-31
14  EDE1759E-6733-4C7B-A43F-DC6F48002D8A   2011-05-31





QUERY 21
------
 SELECT SalesOrderID, RevisionNumber, OrderDate, DueDate, ShipDate, Status, OnlineOrderFlag, SalesOrderNumber, PurchaseOrderNumber, AccountNumber, CustomerID, SalesPersonID, TerritoryID, BillToAddressID, ShipToAddressID, ShipMethodID, CreditCardID, CreditCardApprovalCode, CurrencyRateID, SubTotal, TaxAmt, Freight, TotalDue, Comment, rowguid, ModifiedDate FROM Sales.SalesOrderHeader
 ----------------------------------------------

    SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0          43659               8 2011-05-31 2011-06-12 2011-06-07       5
1          43660               8 2011-05-31 2011-06-12 2011-06-07       5
2          43661               8 2011-05-31 2011-06-12 2011-06-07       5
3          43662               8 2011-05-31 2011-06-12 2011-06-07       5
4          43663               8 2011-05-31 2011-06-12 2011-06-07       5
5          43664               8 2011-05-31 2011-06-12 2011-06-07       5
6          43665               8 2011-05-31 2011-06-12 2011-06-07       5
7          43666               8 2011-05-31 2011-06-12 2011-06-07       5
8          43667               8 2011-05-31 2011-06-12 2011-06-07       5
9          43668               8 2011-05-31 2011-06-12 2011-06-07       5
10         43669               8 2011-05-31 2011-06-12 2011-06-07       5
11         43670               8 2011-05-31 2011-06-12 2011-06-07       5
12         43671               8 2011-05-31 2011-06-12 2011-06-07       5
13         43672               8 2011-05-31 2011-06-12 2011-06-07       5
14         43673               8 2011-05-31 2011-06-12 2011-06-07       5

    OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  \
0             False          SO43659         PO522145787  10-4020-000676
1             False          SO43660       PO18850127500  10-4020-000117
2             False          SO43661       PO18473189620  10-4020-000442
3             False          SO43662       PO18444174044  10-4020-000227
4             False          SO43663       PO18009186470  10-4020-000510
5             False          SO43664       PO16617121983  10-4020-000397
6             False          SO43665       PO16588191572  10-4020-000146
7             False          SO43666       PO16008173883  10-4020-000511
8             False          SO43667       PO15428132599  10-4020-000646
9             False          SO43668       PO14732180295  10-4020-000514
10            False          SO43669       PO14123169936  10-4020-000578
11            False          SO43670       PO14384116310  10-4020-000504
12            False          SO43671       PO13978119376  10-4020-000200
13            False          SO43672       PO13862153537  10-4020-000119
14            False          SO43673       PO13775141242  10-4020-000618

    CustomerID  SalesPersonID  TerritoryID  BillToAddressID  ShipToAddressID  \
0        29825          279.0            5              985              985
1        29672          279.0            5              921              921
2        29734          282.0            6              517              517
3        29994          282.0            6              482              482
4        29565          276.0            4             1073             1073
5        29898          280.0            1              876              876
6        29580          283.0            1              849              849
7        30052          276.0            4             1074             1074
8        29974          277.0            3              629              629
9        29614          282.0            6              529              529
10       29747          283.0            1              895              895
11       29566          275.0            3              810              810
12       29890          283.0            1              855              855
13       30067          282.0            6              464              464
14       29844          275.0            2              821              821

    ShipMethodID  CreditCardID CreditCardApprovalCode  CurrencyRateID  \
0              5       16281.0          105041Vi84182             NaN
1              5        5618.0          115213Vi29411             NaN
2              5        1346.0            85274Vi6854             4.0
3              5       10456.0          125295Vi53935             4.0
4              5        4322.0           45303Vi22691             NaN
5              5         806.0            95555Vi4081             NaN
6              5       15232.0           35568Vi78804             NaN
7              5       13349.0          105623Vi69217             NaN
8              5       10370.0           55680Vi53503             NaN
9              5        1566.0            85817Vi8045             4.0
10             5       15538.0           25877Vi80261             NaN
11             5       18017.0          105888Vi93490             NaN
12             5       13693.0           25904Vi70960             NaN
13             5        3980.0           95915Vi20982             4.0
14             5        1417.0            35931Vi7271             NaN

      SubTotal     TaxAmt    Freight    TotalDue Comment  \
0   20565.6206  1971.5149   616.0984  23153.2339    None
1    1294.2529   124.2483    38.8276   1457.3288    None
2   32726.4786  3153.7696   985.5530  36865.8012    None
3   28832.5289  2775.1646   867.2389  32474.9324    None
4     419.4589    40.2681    12.5838    472.3108    None
5   24432.6088  2344.9921   732.8100  27510.4109    None
6   14352.7713  1375.9427   429.9821  16158.6961    None
7    5056.4896   486.3747   151.9921   5694.8564    None
8    6107.0820   586.1203   183.1626   6876.3649    None
9   35944.1562  3461.7654  1081.8017  40487.7233    None
10    714.7043    70.5175    22.0367    807.2585    None
11   6122.0820   587.5603   183.6126   6893.2549    None
12   8128.7876   780.8136   244.0042   9153.6054    None
13   6124.1820   587.6023   183.6257   6895.4100    None
14   3746.2015   357.9614   111.8629   4216.0258    None

                                 rowguid ModifiedDate
0   79B65321-39CA-4115-9CBA-8FE0903E12E6   2011-06-07
1   738DC42D-D03B-48A1-9822-F95A67EA7389   2011-06-07
2   D91B9131-18A4-4A11-BC3A-90B6F53E9D74   2011-06-07
3   4A1ECFC0-CC3A-4740-B028-1C50BB48711C   2011-06-07
4   9B1E7A40-6AE0-4AD3-811C-A64951857C4B   2011-06-07
5   22A8A5DA-8C22-42AD-9241-839489B6EF0D   2011-06-07
6   5602C304-853C-43D7-9E79-76E320D476CF   2011-06-07
7   E2A90057-1366-4487-8A7E-8085845FF770   2011-06-07
8   86D5237D-432D-4B21-8ABC-671942F5789D   2011-06-07
9   281CC355-D538-494E-9B44-461B36A826C6   2011-06-07
10  FABFC5C2-E034-4E0E-A573-6F39E9FA0484   2011-06-07
11  573E52A7-573F-40B6-B695-6F3D242E0C6D   2011-06-07
12  005FDA9D-62E1-4001-A4AC-A976A7905F94   2011-06-07
13  194202AA-8E15-4932-A2C4-7A7AC0713639   2011-06-07
14  C5CD3AE9-41F5-4B71-A3F1-D550B928572B   2011-06-07





QUERY 22
------
 SELECT SalesOrderID, SalesReasonID, ModifiedDate FROM Sales.SalesOrderHeaderSalesReason
 ----------------------------------------------

    SalesOrderID  SalesReasonID ModifiedDate
0          43697              5   2011-05-31
1          43697              9   2011-05-31
2          43702              5   2011-06-01
3          43702              9   2011-06-01
4          43703              5   2011-06-01
5          43703              9   2011-06-01
6          43706              5   2011-06-02
7          43706              9   2011-06-02
8          43707              5   2011-06-02
9          43707              9   2011-06-02
10         43709              5   2011-06-02
11         43709              9   2011-06-02
12         43710              5   2011-06-02
13         43710              9   2011-06-02
14         43711              5   2011-06-03





QUERY 23
------
 SELECT BusinessEntityID, TerritoryID, SalesQuota, Bonus, CommissionPct, SalesYTD, SalesLastYear, rowguid, ModifiedDate FROM Sales.SalesPerson
 ----------------------------------------------

    BusinessEntityID  TerritoryID  SalesQuota   Bonus  CommissionPct  \
0                274          NaN         NaN     0.0          0.000
1                275          2.0    300000.0  4100.0          0.012
2                276          4.0    250000.0  2000.0          0.015
3                277          3.0    250000.0  2500.0          0.015
4                278          6.0    250000.0   500.0          0.010
5                279          5.0    300000.0  6700.0          0.010
6                280          1.0    250000.0  5000.0          0.010
7                281          4.0    250000.0  3550.0          0.010
8                282          6.0    250000.0  5000.0          0.015
9                283          1.0    250000.0  3500.0          0.012
10               284          1.0    300000.0  3900.0          0.019
11               285          NaN         NaN     0.0          0.000
12               286          9.0    250000.0  5650.0          0.018
13               287          NaN         NaN     0.0          0.000
14               288          8.0    250000.0    75.0          0.018

        SalesYTD  SalesLastYear                               rowguid  \
0   5.596976e+05   0.000000e+00  48754992-9EE0-4C0E-8C94-9451604E3E02
1   3.763178e+06   1.750406e+06  1E0A7274-3064-4F58-88EE-4C6586C87169
2   4.251369e+06   1.439156e+06  4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0
3   3.189418e+06   1.997186e+06  39012928-BFEC-4242-874D-423162C3F567
4   1.453719e+06   1.620277e+06  7A0AE1AB-B283-40F9-91D1-167ABF06D720
5   2.315186e+06   1.849641e+06  52A5179D-3239-4157-AE29-17E868296DC0
6   1.352577e+06   1.927059e+06  BE941A4A-FB50-4947-BDA4-BB8972365B08
7   2.458536e+06   2.073506e+06  35326DDB-7278-4FEF-B3BA-EA137B69094E
8   2.604541e+06   2.038235e+06  31FD7FC1-DC84-4F05-B9A0-762519EACACC
9   1.573013e+06   1.371635e+06  6BAC15B2-8FFB-45A9-B6D5-040E16C2073F
10  1.576562e+06   0.000000e+00  AC94EC04-A2DC-43E3-8654-DD0C546ABC17
11  1.725245e+05   0.000000e+00  CFDBEF27-B1F7-4A56-A878-0221C73BAE67
12  1.421811e+06   2.278549e+06  9B968777-75DC-45BD-A8DF-9CDAA72839E1
13  5.199059e+05   0.000000e+00  1DD1F689-DF74-4149-8600-59555EEF154B
14  1.827067e+06   1.307950e+06  224BB25A-62E3-493E-ACAF-4F8F5C72396A

   ModifiedDate
0    2010-12-28
1    2011-05-24
2    2011-05-24
3    2011-05-24
4    2011-05-24
5    2011-05-24
6    2011-05-24
7    2011-05-24
8    2011-05-24
9    2011-05-24
10   2012-09-23
11   2013-03-07
12   2013-05-23
13   2012-04-09
14   2013-05-23





QUERY 24
------
 SELECT BusinessEntityID, QuotaDate, SalesQuota, rowguid, ModifiedDate FROM Sales.SalesPersonQuotaHistory
 ----------------------------------------------

    BusinessEntityID  QuotaDate  SalesQuota  \
0                274 2011-05-31     28000.0
1                274 2011-08-31      7000.0
2                274 2011-12-01     91000.0
3                274 2012-02-29    140000.0
4                274 2012-05-30     70000.0
5                274 2012-08-30    154000.0
6                274 2012-11-30    107000.0
7                274 2013-02-28     58000.0
8                274 2013-05-30    263000.0
9                274 2013-08-30    116000.0
10               274 2013-11-30     84000.0
11               274 2014-03-01    187000.0
12               275 2011-05-31    367000.0
13               275 2011-08-31    556000.0
14               275 2011-12-01    502000.0

                                 rowguid ModifiedDate
0   99109BBF-8693-4587-BC23-6036EC89E1BE   2011-04-16
1   DFD01444-8900-461C-8D6F-04598DAE01D4   2011-07-17
2   0A69F453-9689-4CCF-A08C-C644670F5668   2011-10-17
3   DA8D1458-5FB9-4C3E-9EAD-8F5CE1393047   2012-01-15
4   760CEF84-B980-417B-A667-7358C38857F0   2012-04-15
5   FB29E024-F26A-49AA-A7CC-C99AE7BA4853   2012-07-16
6   13947D2C-A254-47C9-8817-CBD186FFA526   2012-10-16
7   BC1A222F-47A0-48D1-9C56-AC873269DC98   2013-01-14
8   8B4E3CBF-F0EF-49C5-9A8C-87679055057E   2013-04-15
9   E9DE95E3-B119-4441-BD1D-B27FC4516022   2013-07-16
10  7CEA47B5-8391-4414-A866-FF6EC6628CD3   2013-10-16
11  0CFB6474-20AA-46D3-A5C0-29DBA2EDA025   2014-01-15
12  5F7E9647-3F08-49B0-A4A4-90257FC78197   2011-04-16
13  87AC1FB7-A3C5-43A6-90AA-2D09AE00148A   2011-07-17
14  52849F15-2FC4-4154-894D-1E3D3DAEA181   2011-10-17





QUERY 25
------
 SELECT SalesReasonID, Name, ReasonType, ModifiedDate FROM Sales.SalesReason
 ----------------------------------------------

   SalesReasonID                       Name ReasonType ModifiedDate
0              1                      Price      Other   2008-04-30
1              2               On Promotion  Promotion   2008-04-30
2              3     Magazine Advertisement  Marketing   2008-04-30
3              4  Television  Advertisement  Marketing   2008-04-30
4              5               Manufacturer      Other   2008-04-30
5              6                     Review      Other   2008-04-30
6              7                 Demo Event  Marketing   2008-04-30
7              8                Sponsorship  Marketing   2008-04-30
8              9                    Quality      Other   2008-04-30
9             10                      Other      Other   2008-04-30





QUERY 26
------
 SELECT SalesTaxRateID, StateProvinceID, TaxType, TaxRate, Name, rowguid, ModifiedDate FROM Sales.SalesTaxRate
 ----------------------------------------------

    SalesTaxRateID  StateProvinceID  TaxType  TaxRate  \
0                1                1        1    14.00
1                2               57        1    14.25
2                3               63        1    14.25
3                4                1        2     7.00
4                5               57        2     7.00

    BusinessEntityID                                 Name  SalesPersonID  \
0                292                 Next-Door Bike Store            279
1                294       Professional Sales and Service            276
2                296                       Riders Company            277
3                298                   The Bike Mechanics            275
4                300                    Nationwide Supply            286
5                302                Area Bike Accessories            281
6                304         Bicycle Accessories and Kits            283
7                306                Clamps & Brackets Co.            275
8                308           Valley Bicycle Specialists            277
9                310                    New Bikes Company            279
10               312  Vinyl and Plastic Goods Corporation            282
11               314                Top of the Line Bikes            288
12               316                   Fun Toys and Bikes            281
13               318                         Great Bikes             283
14               320        Metropolitan Sales and Rental            275

                                         Demographics  \
0   <StoreSurvey xmlns="http://schemas.microsoft.c...
1   <StoreSurvey xmlns="http://schemas.microsoft.c...
2   <StoreSurvey xmlns="http://schemas.microsoft.c...
3   <StoreSurvey xmlns="http://schemas.microsoft.c...
4   <StoreSurvey xmlns="http://schemas.microsoft.c...
5   <StoreSurvey xmlns="http://schemas.microsoft.c...
6   <StoreSurvey xmlns="http://schemas.microsoft.c...
7   <StoreSurvey xmlns="http://schemas.microsoft.c...
8   <StoreSurvey xmlns="http://schemas.microsoft.c...
9   <StoreSurvey xmlns="http://schemas.microsoft.c...
10  <StoreSurvey xmlns="http://schemas.microsoft.c...
11  <StoreSurvey xmlns="http://schemas.microsoft.c...
12  <StoreSurvey xmlns="http://schemas.microsoft.c...
13  <StoreSurvey xmlns="http://schemas.microsoft.c...
14  <StoreSurvey xmlns="http://schemas.microsoft.c...

                                 rowguid            ModifiedDate
0   A22517E3-848D-4EBE-B9D9-7437F3432304 2014-09-12 11:15:07.497
1   B50CA50B-C601-4A13-B07E-2C63862D71B4 2014-09-12 11:15:07.497
2   337C3688-1339-4E1A-A08A-B54B23566E49 2014-09-12 11:15:07.497
3   7894F278-F0C8-4D16-BD75-213FDBF13023 2014-09-12 11:15:07.497
4   C3FC9705-A8C4-4F3A-9550-EB2FA4B7B64D 2014-09-12 11:15:07.497
5   368BE6DD-30E5-49BB-9A86-71FD49C58F4E 2014-09-12 11:15:07.497
6   35F40636-5105-49D5-869E-27E231189150 2014-09-12 11:15:07.497
7   64D06BFC-D060-405C-8C60-C067FE7C67DF 2014-09-12 11:15:07.497
8   59386B0C-652E-4668-B44B-4E1711793330 2014-09-12 11:15:07.497
9   47E4B6BD-5CD1-45A3-A231-79D930381C56 2014-09-12 11:15:07.497
10  DC610525-E373-49B1-B786-EA040EC25C06 2014-09-12 11:15:07.497
11  E290E93F-A980-4BA3-86C3-9858F15C8A6D 2014-09-12 11:15:07.497
12  6CDCF941-4192-49C7-994A-5ADBA534E095 2014-09-12 11:15:07.497
13  956FBC35-5E0D-4175-8045-E0BE380BA340 2014-09-12 11:15:07.497
14  0CB4FEF2-5047-40F7-8848-B59F7A3F3EEC 2014-09-12 11:15:07.497

<p><h4>We see that the tables 1, 4, 7, 10, 13, 15, 16, 20 (OrderQty), 21 (TerritoryID, SubTotal), and 27 (City) may be able to provide us the information we are looking for.</h4></p>

<p><h4>We also take a look the <em>views</em> that are already defined in the original database</h4></p>

In [267]:
all_queries = []
for sch in schemas:
    for view in inspector.get_view_names(schema=sch):
        if sch == 'Person' or sch == 'Sales':
            col_names = ', '.join(col['name'] for col in inspector.get_columns(table_name=view, schema=sch))
            all_queries.append(f"SELECT {col_names} FROM {sch}.{view}")

qindex = 1
for query in all_queries:
    print("QUERY", qindex, "\n------\n", query, "\n", "----------------------------------------------", "\n")
    try:
        df_view = pd.read_sql(sql=query, con=connection)
        print(df_view.head(15))
    except Exception as e:
        print(f"Error executing query number {qindex}: {e}")
    print("\n"*4)
    qindex = qindex + 1

QUERY 1
------
 SELECT BusinessEntityID, FirstName, MiddleName, LastName, TelephoneNumber, TelephoneSpecialInstructions, Street, City, StateProvince, PostalCode, CountryRegion, HomeAddressSpecialInstructions, EMailAddress, EMailSpecialInstructions, EMailTelephoneNumber, rowguid, ModifiedDate FROM Person.vAdditionalContactInfo
 ----------------------------------------------

   BusinessEntityID  FirstName MiddleName     LastName TelephoneNumber  \
0               291    Gustavo       None       Achong    425-555-1112
1               293  Catherine         R.         Abel    206-555-2222
2               295        Kim       None  Abercrombie    605-555-9877
3               297   Humberto       None      Acevedo            None
4               299      Pilar       None     Ackerman            None
5               301    Frances         B.        Adams            None
6               303   Margaret         J.        Smith    206-555-2222
7               305      Carla         J.        Adams            None
8               307        Jay       None        Adams    253-555-4689
9               309     Ronald         L.        Adina            None

                       TelephoneSpecialInstructions          Street     City  \
0                         Call only after 5:00 p.m.         123 Oak  Seattle
1  On weekends, contact the manager at this number.       P.O Box 5  Edmonds
2                                              None  990 5th Avenue  Redmond
3                                              None            None     None
4                                              None            None     None
5                                              None            None     None
6   Best time to call is Monday-Wednesday mornings.            None     None
7                                              None            None     None
8                                              None            None     None
9                                              None            None     None

  StateProvince PostalCode CountryRegion  \
0            WA      98001           USA
1            WA      98431           USA
2            WA      98052           USA
3          None       None          None
4          None       None          None
5          None       None          None
6          None       None          None
7          None       None          None
8          None       None          None
9          None       None          None

                      HomeAddressSpecialInstructions          EMailAddress  \
0  If correspondence to the primary address fails...  customer1@sample.com
1   This is an alternative address for billing only.        Joe@sample.com
2                 Use this address for billing only.  Customer3@sample.com
3                                               None  Customer4@sample.com
4                                               None                  None
5                                               None  Customer6@sample.com
6                                               None                  None
7                                               None                  None
8                                               None                  None
9                                               None                  None

                            EMailSpecialInstructions EMailTelephoneNumber  \
0  For urgent issues, do not send e-mail. Instead...         425-555-1111
1  Do not send e-mail for urgent issues. Use tele...                 None
2  Do not send e-mails for urgent issues. Use tel...                 None
3                   This is secondary email address.                 None
4                                               None                 None
5                                               None                 None
6                                               None                 None
7                                               None                 None
8                                               None                 None
9                                               None                 None

                                rowguid            ModifiedDate
0  D4C132D3-FCB5-4231-9DD5-888A54BEC693 2015-04-15 16:33:33.060
1  D54E0552-C226-4C22-AF3B-762CA854CDD3 2015-04-15 16:33:33.077
2  F7CBDB48-0B44-470E-9F37-7060446FBFB9 2015-04-15 16:33:33.077
3  5A41D336-84CF-44D7-B12B-83B64B511F7E 2015-04-15 16:33:33.090
4  DF1FB8AB-2323-4330-9AB8-54E13CE6D8F9 2015-04-15 16:33:33.090
5  66980082-C186-40AE-972A-74560E78C1AF 2015-04-15 16:33:33.090
6  691818E1-FC19-445F-B161-E401867368E3 2015-04-15 16:33:33.107
7  5F183B92-1648-4948-8937-47C9C10F0583 2015-04-15 16:33:33.107
8  38256645-4B88-4169-B68A-5B0118F18445 2015-04-15 16:33:33.123
9  DBB05A55-2256-42B1-901E-824D28158911 2015-04-15 16:33:33.123





QUERY 2
------
 SELECT StateProvinceID, StateProvinceCode, IsOnlyStateProvinceFlag, StateProvinceName, TerritoryID, CountryRegionCode, CountryRegionName FROM Person.vStateProvinceCountryRegion
 ----------------------------------------------

    StateProvinceID StateProvinceCode  IsOnlyStateProvinceFlag  \
0                 1               AB                     False
1                 2               AK                     False
2                 3               AL                     False
3                 4               AR                     False
4                 5               AS                      True
5                 6               AZ                     False
6                 7               BC                     False
7                 8               BY                     False
8                 9               CA                     False
9                10               CO                     False
10               11               CT                     False
11               12               DC                     False
12               13               DE                     False
13               14               ENG                     True
14               15               FL                     False

       StateProvinceName  TerritoryID CountryRegionCode CountryRegionName
0                Alberta            6                CA            Canada
1                 Alaska            1                US     United States
2                Alabama            5                US     United States
3               Arkansas            3                US     United States
4         American Samoa            1                AS    American Samoa
5                Arizona            4                US     United States
6       British Columbia            6                CA            Canada
7                 Bayern            8                DE           Germany
8             California            4                US     United States
9               Colorado            3                US     United States
10           Connecticut            2                US     United States
11  District of Columbia            2                US     United States
12              Delaware            2                US     United States
13               England           10                GB    United Kingdom
14               Florida            5                US     United States





QUERY 3
------
 SELECT BusinessEntityID, Title, FirstName, MiddleName, LastName, Suffix, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion, AddressType, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName, Demographics FROM Sales.vIndividualCustomer
 ----------------------------------------------

    BusinessEntityID Title  FirstName MiddleName     LastName Suffix  \
0               1699   Mr.      David         R.     Robinett   None
1               1700   Ms.    Rebecca         A.     Robinson   None
2               1701   Ms.    Dorothy         B.     Robinson   None
3               1702   Ms.  Carol Ann         F.       Rockne   None
4               1703   Mr.      Scott         M.      Rodgers   None
5               1704   Mr.        Jim       None       Rodman   None
6               1705   Mr.       Eric       None   Rothenberg   None
7               1706   Mr.    Michael         L.    Rothkugel   None
8               1707   Mr.      Pablo       None  Rovira Diez   None
9               1708   Ms.      Linda         R.       Rousey   None
10              1709   Mr.       Luke         J.          Roy   None
11              1710   Ms.       Lisa         K.          Roy   None
12              1711   Mr.    Michael       None     Ruggiero   None
13              1712   Ms.    Pearlie         J.        Rusek   None
14              1713   Ms.     Andrea       None        Rusko   None

     PhoneNumber PhoneNumberType                   EmailAddress  \
0   238-555-0100            Home    david22@adventure-works.com
1   648-555-0100            Cell   rebecca3@adventure-works.com
2   423-555-0100            Cell   dorothy3@adventure-works.com
3   439-555-0100            Cell  carolann0@adventure-works.com
4   989-555-0100            Cell    scott10@adventure-works.com
5   899-555-0100            Home       jim4@adventure-works.com
6   326-555-0100            Home      eric9@adventure-works.com
7   358-555-0100            Cell  michael22@adventure-works.com
8   786-555-0100            Cell     pablo0@adventure-works.com
9   369-555-0100            Home    linda10@adventure-works.com
10  583-555-0100            Home      luke0@adventure-works.com
11  953-555-0100            Cell      lisa0@adventure-works.com
12  227-555-0100            Cell  michael23@adventure-works.com
13  633-555-0100            Home   pearlie0@adventure-works.com
14  587-555-0100            Cell    andrea0@adventure-works.com

    EmailPromotion AddressType            AddressLine1 AddressLine2  \
0                1        Home        Pappelallee 6667         None
1                0        Home      1861 Chinquapin Ct         None
2                2        Home          4693 Mills Dr.         None
3                0        Home     1312 Skycrest Drive         None
4                0        Home    9860 Brookview Drive         None
5                0        Home           2377 Joyce Dr         None
6                0        Home  9277 Country View Lane         None
7                0        Home        3552 Mildred Ln.         None
8                0        Home       15, rue Descartes         None
9                1        Home      5966 Sepulveda Ct.         None
10               2        Home    8625 Woodcrest Drive         None
11               0        Home       6030 Winter Drive         None
12               0        Home     5501, rue Lauriston         None
13               2        Home        5154 Brannan Pl.         None
14               0        Home    4, avenue des Ternes         None

             City    StateProvinceName PostalCode CountryRegionName  \
0        Solingen  Nordrhein-Westfalen      42651           Germany
1         Seaford             Victoria       3198         Australia
2         Geelong             Victoria       3220         Australia
3       Lancaster              England    LA1 1LN    United Kingdom
4   East Brisbane           Queensland       4169         Australia
5   Esher-Molesey              England       EM15    United Kingdom
6         Concord           California      94519     United States
7    St. Leonards      New South Wales       2065         Australia
8   East Brisbane           Queensland       4169         Australia
9         Seaford             Victoria       3198         Australia
10  Beverly Hills           California      90210     United States
11    Rockhampton           Queensland       4700         Australia
12    Saint-Denis    Seine Saint Denis      93400            France
13        Seaford             Victoria       3198         Australia
14         Pantin    Seine Saint Denis      93500            France

                                         Demographics
0   <IndividualSurvey xmlns="http://schemas.micros...
1   <IndividualSurvey xmlns="http://schemas.micros...
2   <IndividualSurvey xmlns="http://schemas.micros...
3   <IndividualSurvey xmlns="http://schemas.micros...
4   <IndividualSurvey xmlns="http://schemas.micros...
5   <IndividualSurvey xmlns="http://schemas.micros...
6   <IndividualSurvey xmlns="http://schemas.micros...
7   <IndividualSurvey xmlns="http://schemas.micros...
8   <IndividualSurvey xmlns="http://schemas.micros...
9   <IndividualSurvey xmlns="http://schemas.micros...
10  <IndividualSurvey xmlns="http://schemas.micros...
11  <IndividualSurvey xmlns="http://schemas.micros...
12  <IndividualSurvey xmlns="http://schemas.micros...
13  <IndividualSurvey xmlns="http://schemas.micros...
14  <IndividualSurvey xmlns="http://schemas.micros...





QUERY 4
------
 SELECT BusinessEntityID, TotalPurchaseYTD, DateFirstPurchase, BirthDate, MaritalStatus, YearlyIncome, Gender, TotalChildren, NumberChildrenAtHome, Education, Occupation, HomeOwnerFlag, NumberCarsOwned FROM Sales.vPersonDemographics
 ----------------------------------------------

    BusinessEntityID  TotalPurchaseYTD DateFirstPurchase BirthDate  \
0                 18               0.0               NaT       NaT
1                 19               0.0               NaT       NaT
2                 20               0.0               NaT       NaT
3                 21               0.0               NaT       NaT
4                 22               0.0               NaT       NaT
5                 23               0.0               NaT       NaT
6                 24               0.0               NaT       NaT
7                 25               0.0               NaT       NaT
8                 26               0.0               NaT       NaT
9                 27               0.0               NaT       NaT
10                28               0.0               NaT       NaT
11                29               0.0               NaT       NaT
12                30               0.0               NaT       NaT
13                31               0.0               NaT       NaT
14                32               0.0               NaT       NaT

   MaritalStatus YearlyIncome Gender  TotalChildren  NumberChildrenAtHome  \
0           None         None   None            NaN                   NaN
1           None         None   None            NaN                   NaN
2           None         None   None            NaN                   NaN
3           None         None   None            NaN                   NaN
4           None         None   None            NaN                   NaN
5           None         None   None            NaN                   NaN
6           None         None   None            NaN                   NaN
7           None         None   None            NaN                   NaN
8           None         None   None            NaN                   NaN
9           None         None   None            NaN                   NaN
10          None         None   None            NaN                   NaN
11          None         None   None            NaN                   NaN
12          None         None   None            NaN                   NaN
13          None         None   None            NaN                   NaN
14          None         None   None            NaN                   NaN

   Education Occupation HomeOwnerFlag  NumberCarsOwned
0       None       None          None              NaN
1       None       None          None              NaN
2       None       None          None              NaN
3       None       None          None              NaN
4       None       None          None              NaN
5       None       None          None              NaN
6       None       None          None              NaN
7       None       None          None              NaN
8       None       None          None              NaN
9       None       None          None              NaN
10      None       None          None              NaN
11      None       None          None              NaN
12      None       None          None              NaN
13      None       None          None              NaN
14      None       None          None              NaN





QUERY 5
------
 SELECT BusinessEntityID, Title, FirstName, MiddleName, LastName, Suffix, JobTitle, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName, TerritoryName, TerritoryGroup, SalesQuota, SalesYTD, SalesLastYear FROM Sales.vSalesPerson
 ----------------------------------------------

    BusinessEntityID Title FirstName MiddleName      LastName Suffix  \
0                274  None   Stephen          Y         Jiang   None
1                275  None   Michael          G        Blythe   None
2                276  None     Linda          C      Mitchell   None
3                277  None   Jillian       None        Carson   None
4                278  None   Garrett          R        Vargas   None
5                279  None      Tsvi    Michael        Reiter   None
6                280  None    Pamela          O  Ansman-Wolfe   None
7                281  None       Shu          K           Ito   None
8                282  None      José    Edvaldo       Saraiva   None
9                283  None     David          R      Campbell   None
10               284   Mr.      Tete          A   Mensa-Annan   None
11               285   Mr.      Syed          E         Abbas   None
12               286  None      Lynn          N      Tsoflias   None
13               287  None       Amy          E       Alberts   None
14               288  None    Rachel          B        Valdez   None

                        JobTitle          PhoneNumber PhoneNumberType  \
0   North American Sales Manager         238-555-0197            Cell
1           Sales Representative         257-555-0154            Cell
2           Sales Representative         883-555-0116            Work
3           Sales Representative         517-555-0117            Work
4           Sales Representative         922-555-0165            Work
5           Sales Representative         664-555-0112            Work
6           Sales Representative         340-555-0193            Cell
7           Sales Representative         330-555-0120            Cell
8           Sales Representative         185-555-0169            Work
9           Sales Representative         740-555-0182            Work
10          Sales Representative         615-555-0153            Work
11         Pacific Sales Manager         926-555-0182            Work
12          Sales Representative  1 (11) 500 555-0190            Cell
13        European Sales Manager         775-555-0164            Work
14          Sales Representative  1 (11) 500 555-0140            Cell

                    EmailAddress  EmailPromotion                AddressLine1  \
0   stephen0@adventure-works.com               0        2427 Notre Dame Ave.
1   michael9@adventure-works.com               1             8154 Via Mexico
2     linda3@adventure-works.com               0        2487 Riverside Drive
3   jillian0@adventure-works.com               1          80 Sunview Terrace
4   garrett1@adventure-works.com               0          10203 Acorn Avenue
5      tsvi0@adventure-works.com               1           8291 Crossbow Way
6    pamela0@adventure-works.com               1           636 Vine Hill Way
7       shu0@adventure-works.com               2            5725 Glaze Drive
8      josé1@adventure-works.com               0  9100 Sheppard Avenue North
9     david8@adventure-works.com               0          2284 Azalea Avenue
10     tete0@adventure-works.com               1            3997 Via De Luna
11     syed0@adventure-works.com               0        7484 Roundtree Drive
12     lynn0@adventure-works.com               2            34 Waterloo Road
13      amy0@adventure-works.com               1          5009 Orange Street
14   rachel0@adventure-works.com               0               Pascalstr 951

   AddressLine2           City StateProvinceName PostalCode CountryRegionName  \
0          None        Redmond        Washington      98052     United States
1          None        Detroit          Michigan      48226     United States
2          None         Nevada              Utah      84407     United States
3          None         Duluth         Minnesota      55802     United States
4          None        Calgary           Alberta    T2P 2G8            Canada
5          None        Memphis         Tennessee      38103     United States
6          None       Portland            Oregon      97205     United States
7          None  San Francisco        California      94109     United States
8          None         Ottawa           Ontario    K4B 1T7            Canada
9          None       Bellevue        Washington      98004     United States
10         None      Cambridge     Massachusetts      02139     United States
11         None        Bothell        Washington      98011     United States
12         None      Melbourne          Victoria       3000         Australia
13         None         Renton        Washington      98055     United States
14         None         Berlin           Hamburg      14111           Germany

   TerritoryName TerritoryGroup  SalesQuota      SalesYTD  SalesLastYear
0           None           None         NaN  5.596976e+05   0.000000e+00
1      Northeast  North America    300000.0  3.763178e+06   1.750406e+06
2      Southwest  North America    250000.0  4.251369e+06   1.439156e+06
3        Central  North America    250000.0  3.189418e+06   1.997186e+06
4         Canada  North America    250000.0  1.453719e+06   1.620277e+06
5      Southeast  North America    300000.0  2.315186e+06   1.849641e+06
6      Northwest  North America    250000.0  1.352577e+06   1.927059e+06
7      Southwest  North America    250000.0  2.458536e+06   2.073506e+06
8         Canada  North America    250000.0  2.604541e+06   2.038235e+06
9      Northwest  North America    250000.0  1.573013e+06   1.371635e+06
10     Northwest  North America    300000.0  1.576562e+06   0.000000e+00
11          None           None         NaN  1.725245e+05   0.000000e+00
12     Australia        Pacific    250000.0  1.421811e+06   2.278549e+06
13          None           None         NaN  5.199059e+05   0.000000e+00
14       Germany         Europe    250000.0  1.827067e+06   1.307950e+06





QUERY 6
------
 SELECT SalesPersonID, FullName, JobTitle, SalesTerritory, 2002, 2003, 2004 FROM Sales.vSalesPersonSalesByFiscalYears
 ----------------------------------------------

    SalesPersonID                    FullName              JobTitle  \
0             275            Michael G Blythe  Sales Representative
1             276            Linda C Mitchell  Sales Representative
2             277             Jillian  Carson  Sales Representative
3             278            Garrett R Vargas  Sales Representative
4             279         Tsvi Michael Reiter  Sales Representative
5             280       Pamela O Ansman-Wolfe  Sales Representative
6             281                   Shu K Ito  Sales Representative
7             282        José Edvaldo Saraiva  Sales Representative
8             283            David R Campbell  Sales Representative
9             284          Tete A Mensa-Annan  Sales Representative
10            286             Lynn N Tsoflias  Sales Representative
11            288             Rachel B Valdez  Sales Representative
12            289                   Jae B Pak  Sales Representative
13            290  Ranjit R Varkey Chudukatil  Sales Representative

    SalesTerritory
0        Northeast  2002  2003  2004
1        Southwest  2002  2003  2004
2          Central  2002  2003  2004
3           Canada  2002  2003  2004
4        Southeast  2002  2003  2004
5        Northwest  2002  2003  2004
6        Southwest  2002  2003  2004
7           Canada  2002  2003  2004
8        Northwest  2002  2003  2004
9        Northwest  2002  2003  2004
10       Australia  2002  2003  2004
11         Germany  2002  2003  2004
12  United Kingdom  2002  2003  2004
13          France  2002  2003  2004





QUERY 7
------
 SELECT BusinessEntityID, Name, AddressType, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName FROM Sales.vStoreWithAddresses
 ----------------------------------------------

    BusinessEntityID                                Name  AddressType  \
0                956             Finer Sales and Service  Main Office
1                780               Finer Riding Supplies  Main Office
2               1012           Stylish Department Stores  Main Office
3                482            Favorite Toy Distributor  Main Office
4               1338             Sports Sales and Rental  Main Office
5               1424                   Closeout Boutique  Main Office
6               1274  Self-Contained Cycle Parts Company  Main Office
7               1958            Ultimate Bicycle Company  Main Office
8               1110              Local Sales and Rental  Main Office
9               1262              Roadway Bicycle Supply  Main Office
10              1490             Engineered Bike Systems  Main Office
11               704          Only Bikes and Accessories  Main Office
12              1480              Orange Bicycle Company  Main Office
13               642            Advanced Bike Components  Main Office
14               430                   Center Cycle Shop     Shipping

                 AddressLine1 AddressLine2                  City  \
0     #500-75 O'Connor Street         None                Ottawa
1   #9900 2700 Production Way         None               Burnaby
2    1 Corporate Center Drive         None                 Miami
3   1, place de la République         None                 Paris
4             100 Fifth Drive         None            Millington
5             1050 Oak Street         None               Seattle
6   12, rue des Grands Champs         None  Verrieres Le Buisson
7           12, rue Lafayette         None              Morangis
8             1200 First Ave.         None                Joliet
9         121, rue de Varenne         None            Courbevoie
10         123 Camelia Avenue         None                Oxnard
11     123 Union Square South         None              New York
12           123 W. Lake Ave.         None                Peoria
13      12345 Sterling Avenue         None                Irving
14        1318 Lasalle Street         None               Bothell

   StateProvinceName PostalCode CountryRegionName
0            Ontario    K4B 1S2            Canada
1   British Columbia    V5A 4X1            Canada
2            Florida      33127     United States
3      Seine (Paris)      75017            France
4          Tennessee      38054     United States
5         Washington      98104     United States
6            Essonne      91370            France
7            Essonne      91420            France
8           Illinois      60433     United States
9     Hauts de Seine      92400            France
10        California      93030     United States
11          New York      10007     United States
12          Illinois      61606     United States
13             Texas      75061     United States
14        Washington      98011     United States





QUERY 8
------
 SELECT BusinessEntityID, Name, ContactType, Title, FirstName, MiddleName, LastName, Suffix, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion FROM Sales.vStoreWithContacts
 ----------------------------------------------

    BusinessEntityID                            Name ContactType Title  \
0                292            Next-Door Bike Store       Owner   Mr.
1                294  Professional Sales and Service       Owner   Ms.
2                296                  Riders Company       Owner   Ms.
3                298              The Bike Mechanics       Owner   Sr.
4                300               Nationwide Supply       Owner  Sra.
5                302           Area Bike Accessories       Owner   Ms.
6                304    Bicycle Accessories and Kits       Owner   Ms.
7                306           Clamps & Brackets Co.       Owner   Ms.
8                316              Fun Toys and Bikes       Owner   Mr.
9                318                    Great Bikes        Owner   Mr.
10               320   Metropolitan Sales and Rental       Owner   Ms.
11               322               Irregulars Outlet       Owner   Ms.
12               324                Valley Toy Store       Owner   Ms.
13               326       Worthwhile Activity Store       Owner   Ms.
14               332     Family's Favorite Bike Shop       Owner   Mr.

    FirstName MiddleName     LastName Suffix          PhoneNumber  \
0     Gustavo       None       Achong   None         398-555-0132
1   Catherine         R.         Abel   None         747-555-0171
2         Kim       None  Abercrombie   None         334-555-0137
3    Humberto       None      Acevedo   None         599-555-0127
4       Pilar       None     Ackerman   None  1 (11) 500 555-0132
5     Frances         B.        Adams   None         991-555-0183
6    Margaret         J.        Smith   None         959-555-0151
7       Carla         J.        Adams   None         107-555-0138
8      Robert         E.     Ahlering   None         678-555-0175
9    François       None      Ferrier   None         571-555-0128
10        Kim       None        Akers   None         440-555-0166
11       Lili         J.      Alameda   None  1 (11) 500 555-0150
12        Amy         E.      Alberts   None         727-555-0115
13       Anna         A.     Albright   None         197-555-0143
14    Gregory         F.     Alderson   None         968-555-0153

   PhoneNumberType                    EmailAddress  EmailPromotion
0             Cell    gustavo0@adventure-works.com               2
1             Cell  catherine0@adventure-works.com               1
2             Work        kim2@adventure-works.com               0
3             Cell   humberto0@adventure-works.com               2
4             Cell      pilar1@adventure-works.com               0
5             Work    frances0@adventure-works.com               1
6             Cell   margaret0@adventure-works.com               0
7             Cell      carla0@adventure-works.com               0
8             Cell     robert1@adventure-works.com               0
9             Cell   françois1@adventure-works.com               1
10            Cell        kim3@adventure-works.com               2
11            Cell       lili0@adventure-works.com               1
12            Work        amy1@adventure-works.com               1
13            Work       anna0@adventure-works.com               1
14            Work    gregory0@adventure-works.com               0





QUERY 9
------
 SELECT BusinessEntityID, Name, AnnualSales, AnnualRevenue, BankName, BusinessType, YearOpened, Specialty, SquareFeet, Brands, Internet, NumberEmployees FROM Sales.vStoreWithDemographics
 ----------------------------------------------

    BusinessEntityID                          Name  AnnualSales  \
0                328                 Purchase Mart    1500000.0
1                330         Major Sport Suppliers    3000000.0
2                332   Family's Favorite Bike Shop     800000.0
3                334                  Global Plaza     800000.0
4                336  Imported and Domestic Cycles    1000000.0
5                338              Systematic Sales    3000000.0
6                340               eCommerce Bikes    3000000.0
7                342            Mountain Toy Store     800000.0
8                344      Retail Sales and Service     800000.0
9                346       Designated Distributors    3000000.0
10               348         Bold Bike Accessories    3000000.0
11               350                   Twin Cycles     800000.0
12               352            Tiny Bike Boutique     300000.0
13               354     Acclaimed Bicycle Company    3000000.0
14               356                Serious Cycles    3000000.0

    AnnualRevenue                BankName BusinessType  YearOpened Specialty  \
0        150000.0         United Security           OS        1992   Touring
1        300000.0        Reserve Security           OS        1998  Mountain
2         80000.0   Primary International           BM        1997  Mountain
3         80000.0        Reserve Security           BM        1975  Mountain
4        100000.0         United Security           BM        2000      Road
5        300000.0   Primary International           OS        1999   Touring
6        300000.0           Guardian Bank           OS        1999  Mountain
7         80000.0      International Bank           BM        2000      Road
8         80000.0  Primary Bank & Reserve           BM        1994      Road
9        300000.0  International Security           OS        1979      Road
10       300000.0  Primary Bank & Reserve           OS        1999  Mountain
11        80000.0  International Security           BM        1988   Touring
12        30000.0      International Bank           BM        1978      Road
13       300000.0      International Bank           OS        1979   Touring
14       300000.0         United Security           OS        1996  Mountain

    SquareFeet Brands Internet  NumberEmployees
0        38000      3     ISDN               49
1        68000      3      DSL               52
2        21000      3     ISDN               18
3        19000      3      DSL               19
4        24000      2       T1               20
5        73000     4+      DSL               55
6        69000      2      DSL               58
7        18000     4+      DSL               17
8        18000      2      DSL               14
9        72000     4+       T2               61
10       72000     4+      DSL               58
11       21000     AW       T1               11
12        6000     4+      DSL                4
13       73000      3      DSL               61
14       71000     4+     ISDN               64

In [485]:
import pandas as pd

# Choose schemas
schemas_of_interest = ['Person', 'Sales']

table_sizes = {}

# Iterate over schemas and tables
for sch in schemas_of_interest:
    table_sizes[sch] = {}
    for view in inspector.get_view_names(schema=sch):
        tables = f'''
            SELECT COUNT(*) FROM {sch}.{view}
        '''
        # Retrieve table sizes and save results in a DataFrame
        df1 = pd.read_sql(sql=tables, con=connection)
        
        # Convert DataFrame to dictionary and store in the main dictionary
        nbr_rows = df1.iloc[0, 0]
        table_sizes[sch][view] = {'rows': nbr_rows}

        columns = f'''
            SELECT COLUMN_NAME
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE TABLE_SCHEMA = '{sch}' AND TABLE_NAME = '{view}';
        '''

        # Retrieve columns and save results in a DataFrame
        df2 = pd.read_sql(sql=columns, con=connection)
        nbr_cols = df2.shape[0]
        column_list = [df2.iloc[index, 0] for index in range(nbr_cols)]
        
        # Save the sizes of each view and retrieve the names of the columns
        table_sizes[sch][view]['columns'] = column_list
        
# Print the dictionary
print("Table Sizes:", table_sizes)

Table Sizes: {'Person': {'vAdditionalContactInfo': {'rows': 10, 'columns': ['BusinessEntityID', 'FirstName', 'MiddleName', 'LastName', 'TelephoneNumber', 'TelephoneSpecialInstructions', 'Street', 'City', 'StateProvince', 'PostalCode', 'CountryRegion', 'HomeAddressSpecialInstructions', 'EMailAddress', 'EMailSpecialInstructions', 'EMailTelephoneNumber', 'rowguid', 'ModifiedDate']}, 'vStateProvinceCountryRegion': {'rows': 181, 'columns': ['StateProvinceID', 'StateProvinceCode', 'IsOnlyStateProvinceFlag', 'StateProvinceName', 'TerritoryID', 'CountryRegionCode', 'CountryRegionName']}}, 'Sales': {'vIndividualCustomer': {'rows': 18508, 'columns': ['BusinessEntityID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'PhoneNumber', 'PhoneNumberType', 'EmailAddress', 'EmailPromotion', 'AddressType', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'PostalCode', 'CountryRegionName', 'Demographics']}, 'vPersonDemographics': {'rows': 19972, 'columns': ['BusinessEntityID', 'TotalPurchaseYTD', 'DateFirstPurchase', 'BirthDate', 'MaritalStatus', 'YearlyIncome', 'Gender', 'TotalChildren', 'NumberChildrenAtHome', 'Education', 'Occupation', 'HomeOwnerFlag', 'NumberCarsOwned']}, 'vSalesPerson': {'rows': 17, 'columns': ['BusinessEntityID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'JobTitle', 'PhoneNumber', 'PhoneNumberType', 'EmailAddress', 'EmailPromotion', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'PostalCode', 'CountryRegionName', 'TerritoryName', 'TerritoryGroup', 'SalesQuota', 'SalesYTD', 'SalesLastYear']}, 'vSalesPersonSalesByFiscalYears': {'rows': 14, 'columns': ['SalesPersonID', 'FullName', 'JobTitle', 'SalesTerritory', '2002', '2003', '2004']}, 'vStoreWithAddresses': {'rows': 712, 'columns': ['BusinessEntityID', 'Name', 'AddressType', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'PostalCode', 'CountryRegionName']}, 'vStoreWithContacts': {'rows': 753, 'columns': ['BusinessEntityID', 'Name', 'ContactType', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'PhoneNumber', 'PhoneNumberType', 'EmailAddress', 'EmailPromotion']}, 'vStoreWithDemographics': {'rows': 701, 'columns': ['BusinessEntityID', 'Name', 'AnnualSales', 'AnnualRevenue', 'BankName', 'BusinessType', 'YearOpened', 'Specialty', 'SquareFeet', 'Brands', 'Internet', 'NumberEmployees']}}}

In [486]:
for schema, views in table_sizes.items():
    print(f"Schema: {schema}")
    for view, properties in views.items():
        print(f"\n       View: {view}")
        print(f"            Rows: {properties['rows']}")
        print(f"Columns: \n{', '.join(properties['columns'])}")

Schema: Person

       View: vAdditionalContactInfo
            Rows: 10
Columns:
BusinessEntityID, FirstName, MiddleName, LastName, TelephoneNumber, TelephoneSpecialInstructions, Street, City, StateProvince, PostalCode, CountryRegion, HomeAddressSpecialInstructions, EMailAddress, EMailSpecialInstructions, EMailTelephoneNumber, rowguid, ModifiedDate

       View: vStateProvinceCountryRegion
            Rows: 181
Columns:
StateProvinceID, StateProvinceCode, IsOnlyStateProvinceFlag, StateProvinceName, TerritoryID, CountryRegionCode, CountryRegionName
Schema: Sales

       View: vIndividualCustomer
            Rows: 18508
Columns:
BusinessEntityID, Title, FirstName, MiddleName, LastName, Suffix, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion, AddressType, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName, Demographics

       View: vPersonDemographics
            Rows: 19972
Columns:
BusinessEntityID, TotalPurchaseYTD, DateFirstPurchase, BirthDate, MaritalStatus, YearlyIncome, Gender, TotalChildren, NumberChildrenAtHome, Education, Occupation, HomeOwnerFlag, NumberCarsOwned

       View: vSalesPerson
            Rows: 17
Columns:
BusinessEntityID, Title, FirstName, MiddleName, LastName, Suffix, JobTitle, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName, TerritoryName, TerritoryGroup, SalesQuota, SalesYTD, SalesLastYear

       View: vSalesPersonSalesByFiscalYears
            Rows: 14
Columns:
SalesPersonID, FullName, JobTitle, SalesTerritory, 2002, 2003, 2004

       View: vStoreWithAddresses
            Rows: 712
Columns:
BusinessEntityID, Name, AddressType, AddressLine1, AddressLine2, City, StateProvinceName, PostalCode, CountryRegionName

       View: vStoreWithContacts
            Rows: 753
Columns:
BusinessEntityID, Name, ContactType, Title, FirstName, MiddleName, LastName, Suffix, PhoneNumber, PhoneNumberType, EmailAddress, EmailPromotion

       View: vStoreWithDemographics
            Rows: 701
Columns:
BusinessEntityID, Name, AnnualSales, AnnualRevenue, BankName, BusinessType, YearOpened, Specialty, SquareFeet, Brands, Internet, NumberEmployees

<h4>From the results above, we can notice that for a more accurate comparison between male and female buyers, we'll need large samples. We choose thus to continue with the tables <em>vIndividualCustomer</em> and <em>vPersonDemographics</em> from the schema <em>Person</em></h4>

In [497]:
joint_table = f'''
                SELECT *
                FROM Sales.vPersonDemographics AS VPD
                JOIN Sales.vIndividualCustomer AS VIC
                ON VIC.BusinessEntityID = VPD.BusinessEntityID;
            '''
final_df = pd.read_sql(sql=joint_table, con=connection)
print(final_df.head(5))

   BusinessEntityID  TotalPurchaseYTD DateFirstPurchase  BirthDate  \
0              9196           -13.500        2003-02-06 1963-06-14
1             17400           -25.000        2004-01-15 1941-01-05
2              5124          1130.990        2003-12-20 1979-04-28
3             17691          1354.545        2002-12-11 1943-02-26
4              4073           -61.000        2003-12-10 1958-07-01

  MaritalStatus         YearlyIncome Gender  TotalChildren  \
0             M          50001-75000      M              4
1             S          25001-50000      F              4
2             S          25001-50000      M              0
3             S  greater than 100000      M              2
4             M         75001-100000      M              5

   NumberChildrenAtHome        Education      Occupation  HomeOwnerFlag  \
0                     2       Bachelors     Professional           True
1                     0       Bachelors       Management           True
2                     0      High School  Skilled Manual          False
3                     4       Bachelors       Management           True
4                     4  Graduate Degree    Professional           True

   NumberCarsOwned  BusinessEntityID Title FirstName MiddleName LastName  \
0                2              9196  None    Calvin          A     Raji
1                2             17400  None     Karen       None       Wu
2                2              5124  None      Karl          V      Xie
3                3             17691  None  Jonathan          L  Jackson
4                0              4073  None    Miguel       None   Miller

  Suffix   PhoneNumber PhoneNumberType                    EmailAddress  \
0   None  230-555-0191            Cell    calvin20@adventure-works.com
1   None  646-555-0113            Cell     karen16@adventure-works.com
2   None  508-555-0163            Home       karl3@adventure-works.com
3   None  674-555-0110            Cell  jonathan65@adventure-works.com
4   None  397-555-0155            Home     miguel5@adventure-works.com

   EmailPromotion AddressType          AddressLine1 AddressLine2     City  \
0               2    Shipping  5415 San Gabriel Dr.         None  Bothell
1               2    Shipping           9265 La Paz         None  Bothell
2               0    Shipping        4912 La Vuelta         None  Bothell
3               0    Shipping          40 Ellis St.         None  Bothell
4               1    Shipping     6696 Anchor Drive         None  Bothell

  StateProvinceName PostalCode CountryRegionName  \
0        Washington      98011     United States
1        Washington      98011     United States
2        Washington      98011     United States
3        Washington      98011     United States
4        Washington      98011     United States

                                        Demographics
0  <IndividualSurvey xmlns="http://schemas.micros...
1  <IndividualSurvey xmlns="http://schemas.micros...
2  <IndividualSurvey xmlns="http://schemas.micros...
3  <IndividualSurvey xmlns="http://schemas.micros...
4  <IndividualSurvey xmlns="http://schemas.micros...

In [498]:
correlation_matrix = final_df[['YearlyIncome', 'TotalPurchaseYTD', 'NumberCarsOwned']].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

ValueError: could not convert string to float: '50001-75000'

In [505]:
final_df['YearlyIncome_x'] = final_df['YearlyIncome'].str.split('- ', expand=True)[-1]

KeyError: -1